<tmpl_loop element_loop>
<tmpl_if is_wide_page><tmpl_if wide_page>THIS IS A VERY WIDE PAGE<tmpl_else>A NARROW PAGE</tmpl_if></tmpl_if>
<tmpl_if is_header><tmpl_var header></tmpl_if>
<tmpl_if is_paragraph><p><tmpl_var paragraph></p></tmpl_if>
</tmpl_loop>

<P>Page number <tmpl_if current_page_number><tmpl_var current_page_number><tmpl_else>1</tmpl_if> of <tmpl_if total_pages><tmpl_var total_pages><tmpl_else>1</tmpl_if>.</p>

<tmpl_if total_pages><tmpl_unless is_first_page>
<a href="<tmpl_var previous_page_url>">Previous Page</a>
</tmpl_unless>

<tmpl_loop pagination_loop>
<tmpl_if is_current_page>
<tmpl_var page_number>
<tmpl_else>
<a href="<tmpl_var page_url>"><tmpl_var page_number></a>
</tmpl_if>
</tmpl_loop>

<tmpl_unless is_last_page>
<a href="<tmpl_var next_page_url>">Next Page</a>
</tmpl_unless>

<tmpl_unless is_last_page><tmpl_var page_break></tmpl_unless>
</tmpl_if>
