<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en-US"><head>

<title><tmpl_var escape=html krang_product_name> - <tmpl_lang Help></title>

<link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

<link href="/krang_help.css" rel="stylesheet" type="text/css">

</head><body><a name="top"></a>

<div id="H"></div>

<!--content:-->
<div id="C">

