<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
	<title>Help</title>
	<link rel="stylesheet" href="krang_help.css" type="text/css">
</head>

<body>
<a name="top" id="top"></a>

<div id="hheader">
<div class="logo"><img src="images/logo.gif" height="27" width="155" alt="logo"></div>
<div class="dkblu"></div>
<div class="blue"></div>

<div class="dark-bar"><p class="left">&nbsp;Help</p><p class="right"><a href="javascript:window.close()">Close</a>&nbsp;</p></div>

