<tmpl_include header.tmpl>

<script type="text/javascript">

var use_editor = !Prototype.Browser.WebKit && Krang.my_prefs().syntax_highlighting == 1;

Krang.onload( function() {
  Krang.Nav.edit_mode();
  if (use_editor) CodePress.run(); // Register CodePress's onload event:
  Krang.Help.set( 'media_<tmpl_if add_mode>new<tmpl_else>edit</tmpl_if>' );
} );

<tmpl_if add_mode>

  do_cancel_add = function()
  {
    if (confirm(Krang.L10N.loc("Discard new Media?")))
      Krang.Form.submit( 'edit', { rm: 'find' });
  }

  do_create = function()
  {
    Krang.Form.submit( 'edit', { rm: 'save_stay_add' } );
  } 

<tmpl_else>

  save_editor_text = function() {
    <tmpl_if is_text><tmpl_if use_codepress>if (use_editor) mediaEditor.toggleEditor()</tmpl_if></tmpl_if>
  }

  db_save = function()
  {
    Krang.ElementEditor.run_save_hooks();
    save_editor_text();
    if (confirm(Krang.L10N.loc('Save this Media object and return to your Workspace?')))
         Krang.Form.submit( 'edit', { rm: 'save_edit' });
  }

  db_save_stay = function() {
    save_editor_text();
    Krang.ElementEditor.run_save_hooks();
    Krang.Form.submit( 'edit', { rm: 'save_stay_edit' }, { to_top: false });
  }

  save_and_leave_bulk_edit = function() {
    save_editor_text();
    Krang.ElementEditor.run_save_hooks();
    Krang.Form.submit('edit', { rm: 'save_and_leave_bulk_edit' });
  }

  do_cancel_edit = function()
  { 
    if (confirm(<tmpl_if cancel_goes_to_workspace>Krang.L10N.loc("Discard any unsaved changes and go to Workspace?")
                <tmpl_else><tmpl_if cancel_changes_owner>Krang.L10N.loc("Discard any changes and check the Media back in?")
                <tmpl_else>Krang.L10N.loc("Discard any unsaved changes and go back to Find Media screen?")
                </tmpl_if></tmpl_if>)) {
        Krang.Form.submit( 'edit', {rm: 'cancel_edit'});
    }
  }

  publish_media_preview = function() {
    Krang.ElementEditor.run_save_hooks();
    save_editor_text();
    Krang.Form.submit('edit', { rm: 'save_and_preview' });
  }

  <tmpl_if is_root>

    do_delete = function()
    {
      if ( confirm( Krang.L10N.loc('Are you SURE you want to delete this Media?') ) )
        Krang.Form.submit( 'delete_media_form' );
    }

    revert_version = function()
    {
      var f = document.forms['edit'];
      var v = f.selected_version.options[f.selected_version.selectedIndex].value;
 
      if ( v == <tmpl_var version> ) {
        alert(Krang.L10N.loc('You cannot revert to the current version!'));
      } else if ( confirm( Krang.L10N.loc('Are you SURE you want to discard any unsaved changes and revert to this old version?') ) ) {
        Krang.Form.submit('edit', { rm: 'revert_version' });
      }
    }

    view_version = function()
    {
      var f = document.forms['edit'];
      var v = f.selected_version.options[f.selected_version.selectedIndex].value;
  
      if (v == <tmpl_var version>) {
  	if (!confirm(Krang.L10N.loc('You are currently editing that version. View its saved content?'))) {
	    return;
        }
      }	

      Krang.Form.submit('edit', { rm: 'view_version' });
    }

    do_checkin = function() {
      Krang.ElementEditor.run_save_hooks();
      save_editor_text();
      Krang.Form.submit( 'edit', { rm: 'checkin_<tmpl_if add_mode>add<tmpl_else>edit</tmpl_if>' });
    }

    do_save = function() {
      Krang.ElementEditor.run_save_hooks();
      save_editor_text();
      Krang.Form.submit( 'edit', { rm: 'save_<tmpl_if add_mode>add<tmpl_else>edit</tmpl_if>' });
    }

    edit_contribs = function() {
      Krang.ElementEditor.run_save_hooks();
      save_editor_text();
      Krang.Form.submit('edit', { rm: 'save_and_associate_media' });
    }

    save_and_edit_schedule = function() {
      Krang.ElementEditor.run_save_hooks();
      save_editor_text();
      Krang.Form.submit('edit', { rm: 'save_and_edit_schedule' });
    }

    save_and_view_log = function() {
      Krang.ElementEditor.run_save_hooks();
      save_editor_text();
      Krang.Form.submit('edit', { rm: 'save_and_view_log' });
    }

    <tmpl_if is_image>
    transform_image = function() {
      Krang.ElementEditor.run_save_hooks();
      Krang.Form.submit('edit', { rm: 'transform_image' });
    }
    </tmpl_if>

    <tmpl_if may_publish>
      publish_media = function() {
        save_editor_text();
        Krang.Form.submit('edit', { rm: 'save_and_publish' });
      }
    </tmpl_if>

  <tmpl_else>

    save_and_go_up = function() {
      Krang.ElementEditor.run_save_hooks();
      Krang.Form.submit('edit', { rm: 'save_and_go_up' });
    }

    <tmpl_if allow_delete>
      remove_element = function()
      {
        if ( confirm(Krang.L10N.loc('Are you SURE you want to delete this Element?'))) {
            Krang.ElementEditor.run_save_hooks();
            Krang.Form.submit('edit', { rm: 'delete_element' }, { to_top: false });
        }
      }
    </tmpl_if>

  </tmpl_if>

</tmpl_if>

</script>

<form name="edit" method="post" enctype="multipart/form-data" action="media.pl">
<input name="rm" value="<tmpl_if add_mode>save_stay_add<tmpl_else>save_edit</tmpl_if>" type="hidden">
<input name="edit_uuid" value="<tmpl_var edit_uuid escape=html>" type="hidden">
<input name="reverted_to_version" value="<tmpl_var reverted_to_version>" type="hidden">
<input name="return_script" value="media.pl" type="hidden">
<tmpl_var return_params>

<tmpl_unless add_mode>

<span class="east">
  <tmpl_if thumbnail_path>
    <tmpl_if media_id><a href="" title="<tmpl_lang Preview> <tmpl_var escape=html title>" class="media-preview-link" name="media_<tmpl_var edit_uuid escape=html>"></tmpl_if>
    <img alt="" src="<tmpl_var escape=html thumbnail_path>">
    <tmpl_if media_id></a></tmpl_if>
  </tmpl_if>
</span>

<p class="cram east">
  <tmpl_if is_root>
    <input value="<tmpl_lang View Log>" onclick="save_and_view_log()" type="button" class="button">
    <tmpl_if may_edit_schedule>
      <input value="<tmpl_lang View Schedule>" onclick="save_and_edit_schedule()" type="button" class="button">
    </tmpl_if>
  </tmpl_if>
</p>

</tmpl_unless>

<h2>
<tmpl_if add_mode>
  <tmpl_lang New Media>
<tmpl_else>
  <tmpl_lang Edit Media>
</tmpl_if>
</h2>

<tmpl_if add_mode>

  <table cellspacing="0" class="request" summary="">
  <colgroup>
    <col class="c-label">
    <col>
  </colgroup>

  <tbody class="half">

    <tr<tmpl_if error_media_type_id> class="err"</tmpl_if>>
    <th>*<tmpl_lang Type></th>
    <td><tmpl_var type_chooser></td>
    </tr>

    <tr class="even<tmpl_if error_invalid_title> err</tmpl_if>">
    <th>*<tmpl_lang Title></th>
    <td><input name="title" value="<tmpl_var escape=html title>"></td>
    </tr>

    <tr<tmpl_if duplicate_url> class="err"<tmpl_else><tmpl_if error_category_id> class="err"</tmpl_if></tmpl_if>>
    <th>*<tmpl_lang Site/Category></th>
    <td><tmpl_var category_chooser></td>
    </tr>

    <tr class="even<tmpl_if duplicate_url> err<tmpl_else><tmpl_if error_media_file> err</tmpl_if></tmpl_if>">
    <th><tmpl_lang Upload File></th>
    <td>
    <tmpl_if filename>
      <tmpl_lang Current File>
      <tmpl_if media_id><a href="" class="media-preview-link" name="media_<tmpl_var edit_uuid escape=html>"></tmpl_if><tmpl_var escape=html filename><tmpl_if media_id></a></tmpl_if>
      <tmpl_if file_size>(<tmpl_var escape=html file_size>)</tmpl_if>
      <i>&mdash; <tmpl_lang or> &mdash;</i>
      <br>
    </tmpl_if>
    <input name="media_file" type="file">
    </td>
    </tr>

  </tbody>
  </table>

<tmpl_else>

  <div class="table-container">
  <img src="<tmpl_var static_url>/images/corner-top-left.gif" class="left-corner">
  <img src="<tmpl_var static_url>/images/corner-top-right.gif" class="right-corner">
  <table cellspacing="0" class="props" summary="">

  <colgroup>
   <col class="c-label">
   <col>
  </colgroup>

  <thead>
    <tr>
    <th class="f l"><tmpl_lang Properties></th>
    <td style="text-align: right; vertical-align: middle">
        <tmpl_lang Media ID> <tmpl_var media_id>, 
        <tmpl_lang Created> <tmpl_var escape=html creation_date>&nbsp;
    </td>
    </tr>
  </thead>

  <tbody class="half">
    <tr>
    <th class="f"><tmpl_lang URL></td>
    <td class="l"><tmpl_var url></td>
    </tr>

    <tmpl_if is_root>

      <tr class="even<tmpl_if error_media_type_id> err</tmpl_if>">
      <th class="f">*<tmpl_lang Type></td>
      <td class="l">
      <tmpl_var type_chooser>
      </td>
      </tr>

      <tr<tmpl_if error_invalid_title> class="err"</tmpl_if>>
      <th class="f">*<tmpl_lang Title></td>
      <td class="l">
      <input name="title" value="<tmpl_var escape=html title>">
      </td>
      </tr>

      <tr class="even<tmpl_if duplicate_url> err<tmpl_else><tmpl_if error_category_id> err</tmpl_if></tmpl_if>">
      <th class="f">*<tmpl_lang Site/Category></td>
      <td class="l">
      <tmpl_var category_chooser>
      </td>
      </tr>
    
      <tr>
      <th class="f">Current Version</td>
      <td class="l">
        <tmpl_var escape=html version>&nbsp;&nbsp;
        <tmpl_if reverted_to_version>
          (<tmpl_lang Copied from Version> <tmpl_var reverted_to_version>)
        <tmpl_else>
          (<tmpl_lang Published Version>: <tmpl_if published_version><tmpl_var published_version><tmpl_else><tmpl_lang None></tmpl_if>)
        </tmpl_if>
        <br />
        <tmpl_var media_version_chooser>
        <input value="<tmpl_lang Revert>" onclick="revert_version()" type="button" class="button">
        <input value="<tmpl_lang View>" onclick="view_version()" type="button" class="button">
      </td>
      </tr>

      <tr class="even <tmpl_if duplicate_url> err<tmpl_else><tmpl_if error_media_file> err</tmpl_if></tmpl_if>">
      <th class="f"><tmpl_lang Upload File></td>
      <td class="l">
      <tmpl_if filename>
        <tmpl_lang Current File>
        <tmpl_if media_id>
          <a href="" class="media-preview-link" name="media_<tmpl_var edit_uuid escape=html>"><tmpl_var escape=html filename></a>
        <tmpl_else>
          <tmpl_var escape=html filename>
        </tmpl_if>
        <tmpl_if file_size>(<tmpl_var escape=html file_size>)</tmpl_if>
        <i>&mdash; <tmpl_lang or> &mdash;</i>
        <br>
      </tmpl_if>
      <input name="media_file" type="file">
      </td>
      </tr>

    </tmpl_if>

  </tbody>

  </table>
  </div>
</tmpl_if>

<tmpl_if is_root>

  <div class="table-container">
  <img src="<tmpl_var static_url>/images/corner-top-left.gif" class="left-corner">
  <img src="<tmpl_var static_url>/images/corner-top-right.gif" class="right-corner">
  <table cellspacing="0" class="props" summary="">

    <colgroup>
     <col class="c-label">
     <col>
    </colgroup>

    <thead>
      <tr>
      <th class="f l" colspan="2"><tmpl_lang Metadata></th>
      </tr>
    </thead>

    <tbody class="half">
 
      <tr>
        <th class="f"><tmpl_lang Default Caption></th>
        <td class="l"><input name="caption" value="<tmpl_var escape=html caption>"></td>
      </tr>

      <tr class="even">
        <th class="f"><tmpl_lang Default Art Credit></th>
        <td class="l"><input name="copyright" value="<tmpl_var escape=html copyright>"></td>
      </tr>

      <tr>
        <th class="f"><tmpl_lang Alt Text></th>
        <td class="l"><input name="alt_tag" value="<tmpl_var escape=html alt_tag>"></td>
      </tr>

      <tr class="even">
        <th class="f"><tmpl_lang Notes></th>
        <td class="l"><textarea name="notes" rows="2" cols="40"><tmpl_var escape=html notes></textarea></td>
      </tr>

      <tr>
        <th class="f"><tmpl_lang Contributors></th>
        <td class="l">
        <tmpl_if contribs>
          <tmpl_loop contribs>
            <tmpl_var escape=html first> <tmpl_var escape=html last> (<tmpl_var escape=html type>)
            <tmpl_unless __last__><br></tmpl_unless>
          </tmpl_loop><br />
          <input value="<tmpl_lang Edit>" onclick="edit_contribs()" type="button" class="button">
        <tmpl_else>
          <input value="<tmpl_lang Add>" onclick="edit_contribs()" type="button" class="button">
        </tmpl_if>
        </td>
      </tr>

    </tbody>
  </table>
  </div>

  <tmpl_if is_text>
    <div class="table-container">
      <img src="<tmpl_var static_url>/images/corner-top-left.gif" class="left-corner">
      <img src="<tmpl_var static_url>/images/corner-top-right.gif" class="right-corner">
      <table cellspacing="0" class="props" summary="">
      <thead>
        <tr><th class="f l"><tmpl_lang Content></th></tr>
      </thead>
      </table>
      <textarea style="width: 100%" name="text_content" id="mediaEditor" rows="30" cols="60" <tmpl_if use_codepress>
        class="codepress autocomplete-off <tmpl_var text_type>"</tmpl_if>><tmpl_var escape=html text_content></textarea>
    </div>
  </tmpl_if>

</tmpl_if>

<tmpl_unless add_mode>
<tmpl_include ElementEditor/<tmpl_lang en>/edit.tmpl>
</tmpl_unless>

<div class="panel clearfix buttonbar capped<tmpl_if bulk_edit> lame</tmpl_if>">

  <ul class="west">
    <tmpl_if add_mode>
      <li><input value="<tmpl_lang Cancel>" onclick="do_cancel_add()" type="button"></li>
    <tmpl_else>
      <li><input value="<tmpl_lang Cancel>" onclick="do_cancel_edit()" type="button"></li>
      <li><input value="<tmpl_lang Delete Media>" onclick="do_delete()" type="button"></li>
    </tmpl_if>
  </ul>

  <ul class="east">
    <tmpl_if add_mode>
      <li><input value="<tmpl_lang Create>" onclick="do_create()" type="button"></li>
    <tmpl_else>
        <li class="menu">
          <input value="<tmpl_lang Save> &#9660;" onclick="db_save()" type="button">
          <ul><li><a href="javascript:db_save_stay()"><tmpl_lang Save &amp; Stay></a></li></ul>
        </li>
        <tmpl_if may_publish>
          <li><input value="<tmpl_lang Publish>" onclick="publish_media()" type="button"></li>
        </tmpl_if>
        <tmpl_if can_transform_image>
          <li><input value="<tmpl_lang Transform>" onclick="transform_image()" type="button"></li>
        </tmpl_if>
    </tmpl_if>
  </ul>

</div>

</form>

<tmpl_unless add_mode>
  <form name="delete_media_form" method="post" action="media.pl">
  <input name="rm" value="delete" type="hidden">
  <input name="edit_uuid" value="<tmpl_var edit_uuid escape=html>" type="hidden">
  </form>
</tmpl_unless>

<tmpl_include footer.tmpl>
