<tmpl_include header.tmpl>

<script language="JavaScript" type="text/javascript">
<!-- //

    nav_edit_mode();

    function do_save_stay () {
        var myform = document.edit_media_form;
        myform.rm.value = <tmpl_if add_mode>'save_stay_add'<tmpl_else>'save_stay_edit'</tmpl_if>;
        myform.submit();
    }


    function do_save () {
        var myform = document.edit_media_form;
        myform.rm.value = <tmpl_if add_mode>'save_add'<tmpl_else>'save_edit'</tmpl_if>;
        myform.submit();
    }

    function do_checkin () {
        var myform = document.edit_media_form;
        myform.rm.value = <tmpl_if add_mode>'checkin_add'<tmpl_else>'checkin_edit'</tmpl_if>;
        myform.submit();
    }

    function publish_media(media_id) {
      var myform = document.edit_media_form;
      myform.rm.value='save_and_publish';
      myform.submit();
    }

    function preview_media(media_id) {
      var myform = document.edit_media_form;
      myform.rm.value='save_and_preview';
      myform.submit();
    }

    function do_delete () {
        if (confirm("Are you sure you want to delete this media?")) {
            var myform = document.delete_media_form;<tmpl_if add_mode>
            myform.rm.value = 'cancel_add';</tmpl_if>
            myform.submit();
        }
    }

    function edit_contribs () {
        var myform = document.edit_media_form;
        myform.rm.value = 'save_and_associate_media';
        myform.submit();
    }

   
    function save_and_view_log () {
        var myform = document.edit_media_form;
        myform.rm.value = 'save_and_view_log';
        myform.submit();
    }

   
    function save_and_edit_schedule () {
        var myform = document.edit_media_form;
        myform.rm.value = 'save_and_edit_schedule';
        myform.submit();
    }

    function preview_media_session() {
        Preview = window.open("publisher.pl?rm=preview_media&session=media", "<tmpl_var "instance_name">");
        Preview.focus();
    }

// -->
</script>

<div class="dark-bar"><p class="left">&nbsp;<tmpl_if add_mode>New Media</p><p class="right"><a href="javascript:openWin('help.pl?topic=media_new')">Help</a>&nbsp;</p></div><tmpl_else>Edit Media</p><p class="right"><a href="javascript:save_and_view_log()">Log</a> | <a href="javascript:save_and_edit_schedule()">Schedule</a> | <a href="javascript:openWin('help.pl?topic=media_edit')">Help</a>&nbsp;</p></div></tmpl_if>

<form name="delete_media_form" method="post">
<input type="hidden" name="rm" value="delete">
<input type="hidden" name="media_id" value="<tmpl_var escape=HTML media_id>">
</form>
<form name="edit_media_form" method="POST" enctype="multipart/form-data">
<input type="hidden" name="rm" value=<tmpl_if add_mode>"save_add"<tmpl_else>"save_edit"</tmpl_if>>
<input type="hidden" name="media_id" value="<tmpl_var escape=HTML media_id>">

<tmpl_unless add_mode>
<div class="boxb">
<table width="100%" cellpadding="5" cellspacing="0" border="0">
<tr class="light">
  <td width="135">ID:</td>
  <td><tmpl_var media_id></td>

  <td rowspan="4" align="left"><tmpl_if media_id><a href="javascript:preview_media_session()"></tmpl_if><tmpl_if thumbnail_path><img border="0" src="<tmpl_var thumbnail_path>"></tmpl_if><tmpl_if media_id></a></tmpl_if></td>
</tr>

<tr class="light">
  <td width="135">Current&nbsp;Version:</td>
  <td><tmpl_var version></td>
</tr>

<tr class="light">
  <td width="135">Published&nbsp;Version:</td>
  <td><tmpl_unless published_version>[n/a]</tmpl_unless><tmpl_var published_version></td>
</tr>

<tr class="light">
  <td width="135">URL:</td>
  <td><tmpl_var url></td>
</tr>

<tr class="light">
  <td>Creation&nbsp;Date:</td>
  <td colspan="2"><tmpl_var escape=HTML creation_date></td>
</tr>

</table></div>
</tmpl_unless>
<div class="box">
<table border="0" cellpadding="5" cellspacing="0" width="100%">

<tr>
  <td>*Type:</td>
  <td colspan="2"><tmpl_if error_media_type_id><span class="invalid"></tmpl_if><tmpl_var type_chooser><tmpl_if error_media_type_id></span></tmpl_if></td>
</tr>

<tr>
  <td>*Title:</td>
  <td colspan="2"><tmpl_if error_invalid_title><span class="invalid"></tmpl_if><input type="textfield" size="45" name="title" value="<tmpl_var escape=HTML title>"><tmpl_if error_invalid_title></span></tmpl_if></td>
</tr>

<tr>
  <td>*Site/Categories:</td>
  <td colspan="2"><tmpl_if duplicate_url><span class="invalid"></tmpl_if><tmpl_if error_category_id><span class="invalid"></tmpl_if><tmpl_var category_chooser><tmpl_if error_category_id></span></tmpl_if><tmpl_if duplicate_url></span></tmpl_if></td>
</tr>

<tr>
  <td>*Upload File:<tmpl_if filename><br />
<tmpl_if media_id><a href="javascript:preview_media_session()"></tmpl_if><tmpl_var escape=HTML filename><tmpl_if media_id></a></tmpl_if>
<tmpl_var escape=HTML file_size></tmpl_if></td>
  <td colspan="2"><tmpl_if duplicate_url><span class="invalid"></tmpl_if><tmpl_if error_media_file><span class="invalid"></tmpl_if><input type="file" name="media_file" size="32" class="button"><tmpl_if error_media_file></span></tmpl_if><tmpl_if duplicate_url></span></tmpl_if></td>
</tr>

<tr>
  <td>Default Caption:</td>
  <td colspan="2"><input type="textfield" size="45" name="caption" value="<tmpl_var escape=HTML caption>"></td>
</tr>

<tr>
  <td>Default Copyright:</td>
  <td colspan="2"><input type="textfield" size="45" name="copyright" value="<tmpl_var escape=HTML copyright>"></td>
</tr>

<tr>
  <td>Alt Tag:</td>
  <td colspan="2"><input type="textfield" size="45" name="alt_tag" value="<tmpl_var escape=HTML alt_tag>"></td>
</tr>

<tr>
  <td>Notes:</td>
  <td colspan="2"><textarea rows="4" cols="35" name="notes"><tmpl_var escape=HTML notes></textarea></td>
</tr>

<tr>
  <td>Contributors:</td>
  <td width="250"><tmpl_if contribs><tmpl_loop contribs><tmpl_var first> <tmpl_var last> (<tmpl_var type>)<tmpl_unless __last__>, </tmpl_unless></tmpl_loop><tmpl_else>None.</tmpl_if></td>
  <td><input type="button" value="Edit Contributors" onClick="edit_contribs()" class="button"></td>
</tr>
</table>


<!-- Version Navigation -->
<tmpl_unless add_mode>
<input type="hidden" name="return_script" value="media.pl">
<tmpl_var return_params>

<script language="javascript" type="text/javascript">
<!-- 
  function revert_version () {
    if (confirm("Are you sure you want to discard your work and revert to this old version?")) {
          var myform = document.edit_media_form;
          myform.rm.value = 'revert_version';
          myform.submit();
    }
  }

  function view_version () {
    var myform = document.edit_media_form;
    myform.rm.value = 'view_version';
    myform.submit();
  }
// -->
</script>
</div>
<div class="boxc">
Version: <tmpl_var media_version_chooser>
<input type="button" value="Revert" onClick="revert_version()" class="button">
<input type="button" value="View" onClick="view_version()" class="button">
</div>
</tmpl_unless>
<tmpl_if add_mode>
  </div>
</tmpl_if>

<!-- END Version Navigation -->



<div class="button-bar">
  <input type="button" value="Save" onClick="do_save()" class="button">
  <input type="button" value="Save &amp; Stay" onClick="do_save_stay()" class="button">
  <tmpl_if may_publish><input type="button" value="Publish" onClick="publish_media('<tmpl_var media_id>')" class="button"></tmpl_if>
  <input type="button" value="Publish to Preview" onClick="preview_media('<tmpl_var media_id>')" class="button">
  <tmpl_unless add_mode><input type="button" value="Delete" onClick="do_delete()" class="button"></tmpl_unless>&nbsp;
</div></div>

</form>
</div>

<tmpl_include footer.tmpl>
