<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
  Krang.Help.set( 'media_active' );
  Krang.Form.toggle_list_btn();
} );

<tmpl_if row_count>
view_media = function(id) {
    Krang.Form.submit('find_media', { rm: 'view', media_id: id });
}

view_log = function(id) {
    Krang.Form.submit('find_media', { rm: 'view_log', media_id: id });
}

<tmpl_if may_checkin_all>
checkin_selected = function() {
    if ( !Krang.pager_row_checked() )
        alert( Krang.L10N.loc('Nothing selected to check in!') );
    else
        Krang.Form.submit('krang_pager_form', { rm: 'checkin_selected' }, { to_top: false });
}

steal_selected = function() {
    if ( !Krang.pager_row_checked() )
        alert( Krang.L10N.loc('Nothing selected to steal!') );
    else
        Krang.Form.submit('krang_pager_form', { rm: 'steal_selected' }, { to_top: false });
}
</tmpl_if>
</tmpl_if>
</script>

<h2>
<tmpl_lang Active Media>
</h2>

<tmpl_if row_count><tmpl_if may_checkin_all><div class="panel"><form>
  <input value="<tmpl_lang Steal>" onclick="steal_selected()" type="button" class="list-btn">
  <input value="<tmpl_lang Check In>" onclick="checkin_selected()" type="button" class="list-btn">
</form></div></tmpl_if></tmpl_if>

<!--Krang::HTMLPager:-->
<tmpl_var pager_html>
<!--:Krang::HTMLPager-->

<tmpl_if row_count><tmpl_if may_checkin_all><div class="panel capped"><form>
  <input value="<tmpl_lang Steal>" onclick="steal_selected()" type="button" class="list-btn">
  <input value="<tmpl_lang Check In>" onclick="checkin_selected()" type="button" class="list-btn">
</form></div></tmpl_if></tmpl_if>

<tmpl_if row_count>
  <form name="find_media" id="find_media" method="post" action="media.pl">
  <input name="rm" value="list_active" type="hidden">
  <input name="media_id" type="hidden">
  <input name="return_script"  value="media.pl" type="hidden">
  <input name="return_params" value="rm" type="hidden">
  <input name="return_params" value="list_active" type="hidden">
  </form>
</tmpl_if>

<!-- tooltips for media previews: -->
<div id="tooltip"><img id="tooltip-img" src="<tmpl_var static_url>/images/icon-loading-small.gif" /></div>
<img id="tooltip-pointer" src="<tmpl_var static_url>/images/tooltip_arrow.gif" />
<!-- :tooltips for media previews -->

<tmpl_include footer.tmpl>

