<tmpl_if krang_pager_rows>

<form name="krang_pager_form" action="media.pl" method="post">

<tmpl_include HTMLPager/pager-internals.tmpl>

<tmpl_include HTMLPager/<tmpl_lang en>/pager-pagination.tmpl>

<div class="table-container">
<img src="/static/<tmpl_var krang_install_id>/images/corner-top-left.gif" class="left-corner">
<img src="/static/<tmpl_var krang_install_id>/images/corner-top-right.gif" class="right-corner">
<table cellspacing="0" class="result select_row" summary="">

<colgroup>
<!-- 'pub_status' column -->
<col class="c-flag">
<!-- 'media_id' column -->
<col class="c-id">
<tmpl_if show_thumbnails>
<!-- 'thumbnail' column -->
<col class="c-thumb">
</tmpl_if>
<!-- 'title/url' column -->
<col>
<!-- 'creation_date' column -->
<col class="c-date">
<!-- 'status' column -->
<col class="c-stat">
<!-- 'checkbox_column' column -->
<col class="tick">
</colgroup>

<thead>
<tr>
<th class="f"><tmpl_var colhead_pub_status></th>
<th><tmpl_var colhead_media_id></th>
<tmpl_if show_thumbnails>
<th><tmpl_var colhead_thumbnail></th>
</tmpl_if>
<th>
  <tmpl_var colhead_title>
  |
  <tmpl_var colhead_url>
</th>
<th><tmpl_var colhead_creation_date></th>
<th><tmpl_var colhead_status></th>
<th class="l"><tmpl_var colhead_checkbox_column></th>
</tr>
</thead>

<tbody><tmpl_loop krang_pager_rows>
<tr<tmpl_unless __odd__> class="even"</tmpl_unless>>
<td class="f"><tmpl_var pub_status></td>
<td><tmpl_var media_id></td>
<tmpl_if show_thumbnails>
<td><tmpl_var thumbnail></td>
</tmpl_if>
<td>
  <strong><tmpl_var title></strong>
  <br><tmpl_var url>
  <br><tmpl_var commands_column>
</td>
<td><tmpl_var creation_date></td>
<td><tmpl_var status></td>
<td class="l"><tmpl_var checkbox_column></td>
</tr>
</tmpl_loop></tbody>

</table></div>

<tmpl_include HTMLPager/<tmpl_lang en>/pager-pagination.tmpl>

</form>

<tmpl_else>

<p class="naught">
<tmpl_lang None found>
</p>

</tmpl_if>

