<tmpl_include header.tmpl>

<script language="JavaScript" type="text/javascript">

  function edit_media (id) {
    document.find_media.rm.value = 'checkout_and_edit';
    document.find_media.media_id.value = id;
    document.find_media.submit();
  }

  function view_media (id) {
    document.find_media.rm.value = 'view';
    document.find_media.media_id.value = id;
    document.find_media.submit();
  }

  /* returns true if the user has checked anything */
  function something_checked() {
	var myform = document.krang_pager_form;
	for (i = 0; i < myform.elements.length ; i++) {
	  var e = myform.elements[i];
	  if (e.name == "krang_pager_rows_checked"  && e.checked) {
		return true;
	  }
	}
	return false;
  }

  function publish_selected() {
    if (something_checked()) {
      if (confirm("Are you sure you wish to publish all these items?")) {
	document.krang_pager_form.action = 'publisher.pl';
	document.krang_pager_form.rm.value = 'publish_story_list';
	document.krang_pager_form.submit();
      }
    } else {
	alert("Nothing selected to publish!");
    }
  }

  function delete_selected () {
    if (confirm("Are you SURE you want to delete the checked media?")) {
      var myform = document.krang_pager_form;
      myform.rm.value = 'delete_selected';
      myform.submit();
    }
  }

  function checkout_selected () {
    var myform = document.krang_pager_form;
    myform.rm.value = 'checkout_selected';
    myform.submit();
  }

  function advanced_search () {
    var myform = document.search_form;
    myform.rm.value = 'advanced_find';
    myform.submit();
  }

  function simple_search () {
    var myform = document.search_form;
    myform.rm.value = 'find';
    myform.submit();
  }

  function clear_advanced_search () {
    var myform = document.clear_advanced_search_form;
    myform.submit();
  }

  function preview_media(id) {
        Preview = window.open("publisher.pl?rm=preview_media&media_id=" + id, "<tmpl_var "instance_name">");
        Preview.focus();
  }

</script>


<form method="POST" name="find_media">
<input type="hidden" name="rm" value="view">
<input type="hidden" name="media_id">

<!-- Persist return data for search and paging -->
<input type="hidden" name="return_script" value="media.pl">
<tmpl_var return_params>
<!-- END Persist return data for search and paging -->

</form>

<form name="clear_advanced_search_form" method="POST">
<input type="hidden" name="rm" value="advanced_find">
<input type="hidden" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">
<input type="hidden" name="show_thumbnails" value="<tmpl_var escape=HTML show_thumbnails>">
</form>

<div class="dark-bar"><p class="left">&nbsp;Find Media</p><p class="right"><a href="javascript:openWin('help.pl?topic=media_find')">Help</a>&nbsp;</p></div>
<form name="search_form" method="POST">
<tmpl_if do_advanced_search>
<div class="box">
<table border="0" cellpadding="6" cellspacing="0" width="571">

<tr><td>SEARCH 

  (<a href="javascript:simple_search()">Simple Search</a>)
  <input type="hidden" name="rm" value="advanced_find">&nbsp;&nbsp;&nbsp;<input type="checkbox" name="show_thumbnails" value="1"<tmpl_if show_thumbnails> checked</tmpl_if>>Show Thumbnails
 </td></tr>

  <!-- Advanced Search Form -->
  <tr><td>
    <table border="0" cellspacing="5" cellpadding="2">
    <tr>
      <td>File:</td>
      <td><input size="40" type="textfield" name="search_filename" value="<tmpl_var escape=HTML search_filename>"></td>
    </tr>

    <tr>
      <td>Title:</td>
      <td><input type="textfield" size="40" name="search_title" value="<tmpl_var escape=HTML search_title>" class="button"></td>
    </tr>

    <tr>
      <td>ID:</td>
      <td><input type="textfield" size="40" name="search_media_id" value="<tmpl_var escape=HTML search_media_id>" class="button"></td>
    </tr>

    <tr>
      <td>Alt Tag:</td>
      <td><input type="textfield" size="40" name="search_alt_tag" value="<tmpl_var escape=HTML search_alt_tag>" class="button"></td>
    </tr>

    <tr>
      <td>Site/Category:</td>
      <td><tmpl_var category_chooser></td>
    </tr>

    <tr>
      <td>Creation Date:</td>
      <td><tmpl_var date_from_chooser> To<br><tmpl_var date_to_chooser></td>
    </tr>

      <tr>
        <td>Has No Attributes:</td>
        <td><input type="checkbox" name="search_no_attributes" value="1"<tmpl_if search_no_attributes> checked</tmpl_if>></td>
      </tr>

      <tr>
        <td></td>
        <td><input type="button" value="Clear" onClick="clear_advanced_search()" class="button">&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Search" class="button"></td>
      <input type="hidden" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">
</tr>

    </table>
  </td></tr>
</table>
<tmpl_else>
<div class="boxb"> 
 <div class="light">
  <p>SEARCH (<a href="javascript:advanced_search()">Advanced Search</a>)&nbsp;&nbsp;&nbsp;<input type="hidden" name="rm" value="find"><input type="checkbox" name="show_thumbnails" value="1"<tmpl_if show_thumbnails> checked</tmpl_if>>Show Thumbnails</p>
  <input type="textfield" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">&nbsp;&nbsp;&nbsp;<input type="submit" value="Search" class="button">
  </div>

</tmpl_if>


<!-- Krang::HTMLPager params -->
<input type="hidden" name="krang_pager_curr_page_num" value="">
<input type="hidden" name="krang_pager_show_big_view" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">
<input type="hidden" name="krang_pager_sort_field" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">
<input type="hidden" name="krang_pager_sort_order_desc" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">
</form>

<!-- Krang::HTMLPager -->
<tmpl_var pager_html>
<!-- Krang::HTMLPager -->

  </div>

<tmpl_if row_count>
  <div class="button-bar"><div style="float:left;"><input type="button" value="Delete Checked" onClick="delete_selected()" class="button"></div><input type="button" value="Checkout" onClick="checkout_selected()" class="button">&nbsp;
<input type="button" value="Publish" onClick="publish_selected()" class="button"></div>
</tmpl_if>
</div>
<tmpl_include footer.tmpl>
