<tmpl_include header.tmpl>

<script language="JavaScript" type="text/javascript">

  preview_media = function (id) {
        Preview = window.open("publisher.pl?rm=preview_media&media_id=" + id, "<tmpl_var "instance_name">");
        Preview.focus();
  }

  view_media  = function (id) {
    document.find_media.rm.value = 'view';
    document.find_media.media_id.value = id;
    document.find_media.submit();
  }

  checkin_selected  = function () {
    var myform = document.krang_pager_form;
    myform.rm.value = 'checkin_selected';
    myform.submit();
  }

</script>

<form method=post name=find_media action="media.pl">
<input type="hidden" name="rm" value="list_active">
<input type="hidden" name="media_id">

<!-- Set up view mode return -->
<input type="hidden" name="return_script" value="media.pl">
<input type="hidden" name="return_params" value="rm">
<input type="hidden" name="return_params" value="list_active">

</form>

<div class="dark-bar"><p class="left">&nbsp;Active Media</p><p class="right"><a href="javascript:openWin('help.pl?topic=media_active')">Help</a></p></div>

<div class="box">
<!-- Krang::HTMLPager -->
<tmpl_var pager_html>
<!-- Krang::HTMLPager -->
    </div>

<tmpl_if row_count><tmpl_if may_checkin_all>
  <div class="button-bar"><input type="button" value="Check In" onClick="checkin_selected()" class="button">&nbsp;</div>
</tmpl_if></tmpl_if>
</div>
<tmpl_include footer.tmpl>
