<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
<tmpl_if was_edit>
  Krang.Nav.edit_mode();
</tmpl_if>
  Krang.Help.set( 'media_find' );
} );

do_return = function()
{
  Krang.Form.submit( 'return_form' );
}

<tmpl_unless is_old_version><tmpl_if can_edit>
  do_edit_media = function()
  {
    Krang.Form.submit( 'edit_media_form' );
  }
</tmpl_if></tmpl_unless>

// Register CodePress's onload event:
Krang.onload( function() { 
  CodePress.run();
} );

</script>

<!--[p class="east"]
(db2)add 'View Log' here
[/p]-->

<h2>
<tmpl_lang View Media>
</h2>

<tmpl_if thumbnail_path><div class="east">
  <tmpl_if media_id><a title="<tmpl_lang Preview> <tmpl_var escape=html title>" href="javascript:Krang.preview('media','<tmpl_var escape=html media_id>')"></tmpl_if><img alt="" src="<tmpl_var escape=html thumbnail_path>"><tmpl_if media_id></a></tmpl_if>
</div></tmpl_if>

<!-- <h3> -->
<!-- <tmpl_lang Properties> -->
<!-- </h3> -->

<table class="result" summary="">

<colgroup>
<col class="c-label">
<col>
</colgroup>

<tbody>

<tr>
<th><tmpl_lang Media ID></th>
<td><tmpl_var escape=html media_id></td>
</tr>

<tr>
<th><tmpl_lang Title></th>
<td><tmpl_var escape=html title></td>
</tr>

<tr>
<th><tmpl_lang Type></th>
<td><tmpl_var escape=html type></td>
</tr>

<tr>
<th><tmpl_lang Current Version></th>
<td><tmpl_var escape=html version></td>
</tr>

<tr>
<th><tmpl_lang Published Version></th>
<td><tmpl_unless published_version>[n/a]<tmpl_else><tmpl_var escape=html published_version></tmpl_unless></td>
</tr>

<tr>
<th><tmpl_lang URL></th>
<td><tmpl_var url><!--:markup--></td>
</tr>

<tr>
<th><tmpl_lang Site/Category></th>
<td><tmpl_var escape=html category></td>
</tr>

<tr>
<th><tmpl_lang File Name></th>
<td>
<a href="javascript:Krang.preview('media','<tmpl_var escape=html media_id>')"><tmpl_var escape=html filename></a>
<tmpl_if file_size>(<tmpl_var escape=html file_size>)</tmpl_if>
</td>
</tr>

<tr>
<th><tmpl_lang Default Caption></th>
<td><tmpl_var escape=html caption></td>
</tr>

<tr>
<th><tmpl_lang Default Copyright></th>
<td><tmpl_var escape=html copyright></td>
</tr>

<tr>
<th><tmpl_lang Alt Text></th>
<td><tmpl_var escape=html alt_tag></td>
</tr>

<tr>
<th><tmpl_lang Creation Date></th>
<td><tmpl_var escape=html creation_date></td>
</tr>

<tr>
<th><tmpl_lang Notes></th>
<td><tmpl_var escape=html notes></td>
</tr>

<tr>
<th><tmpl_lang Contributors></th>
<td>
<tmpl_if contribs><!--(db2)no context var; single item == trailing comma:-->
  <tmpl_loop contribs>
    <tmpl_var escape=html first> <tmpl_var escape=html last> (<tmpl_var escape=html type>)<tmpl_unless __last__>,</tmpl_unless>
  </tmpl_loop>
<tmpl_else>
  <tmpl_lang None.>
</tmpl_if>
</td>
</tr>

<tmpl_if is_text>
<tr>
<td colspan="2">
<h3>
<tmpl_lang Content>
</h3>
<textarea style="width: 100%" name="text_content" id="mediaEditor" rows="30" cols="60"
  class="codepress readonly-on <tmpl_var text_type>"><tmpl_var escape=html text_content></textarea>
</td>
</tr>
</tmpl_if>

</tbody>

</table>

<div class="panel<tmpl_if is_old_version> lame<tmpl_else><tmpl_unless can_edit> lame</tmpl_unless></tmpl_if> capped"><form>
<input value="<tmpl_lang Back>" onclick="do_return()" type="button" class="west">
<tmpl_unless is_old_version><tmpl_if can_edit>
  <input value="<tmpl_lang Edit>" onclick="do_edit_media()" type="button">
</tmpl_if></tmpl_unless>
</form></div>

<form name="return_form" action="<tmpl_var escape=html return_script>" method="post">
<input name="media_id" value="<tmpl_var escape=html media_id>" type="hidden">
<tmpl_var return_params>
</form>

<tmpl_unless is_old_version><tmpl_if can_edit>
  <form name="edit_media_form" method="post" action="media.pl">
  <input name="rm" value="edit" type="hidden">
  <input name="media_id" value="<tmpl_var escape=html media_id>" type="hidden">
  </form>
</tmpl_if></tmpl_unless>

<tmpl_include footer.tmpl>

