<tmpl_include header.tmpl>

<script language="javascript" type="text/javascript">
  <tmpl_if was_edit>nav_edit_mode();</tmpl_if>

  preview_media = function (id) {
        Preview = window.open("publisher.pl?rm=preview_media&media_id=" + id, "<tmpl_var "instance_name">");
        Preview.focus();
  }
</script>

<div class="dark-bar"><p class="left">&nbsp;View Media</p><p class="right"><a href="javascript:openWin('help.pl?topic=media_view')">Help</a>&nbsp;</p></div>

<div class="boxb">
<div class="light">
<table width="100%" cellspacing="10" border="0">
    <tr><td>ID:</td>
      <td width="50%"><tmpl_var media_id></td>
      <td rowspan="4" align="center"><tmpl_if media_id><a href="javascript:preview_media('<tmpl_var escape=HTML media_id>')"></tmpl_if><tmpl_if thumbnail_path><p>Thumbnail</p><img border="0" src="<tmpl_var thumbnail_path>"></tmpl_if><tmpl_if media_id></a></tmpl_if></td>
    </tr>
    <tr>
      <td>Title:</td>
      <td><tmpl_var title></td>
    </tr>

<tr>
  <td>Type:</td>
  <td><tmpl_var type></td>
</tr>


<tr>
  <td>Current&nbsp;Version:</td>
  <td><tmpl_var version></td>
</tr>

<tr>
  <td>Published&nbsp;Version:</td>
  <td colspan="2"><tmpl_unless published_version>[n/a]</tmpl_unless><tmpl_var published_version></td>
</tr>


<tr>
  <td>URL:</td>
  <td colspan="2"><tmpl_var url></td>
</tr>


<tr>
  <td>Site/Category:</td>
  <td colspan="2"><tmpl_var category></td>
</tr>


<tr>
  <td>File:</td>
  <td colspan="2"><a href="javascript:preview_media('<tmpl_var escape=HTML media_id>')"><tmpl_var escape=HTML filename></a>
<tmpl_var escape=HTML file_size></td>
</tr>


<tr>
  <td>Default&nbsp;Caption:</td>
  <td colspan="2"><tmpl_var escape=HTML caption></td>
</tr>


<tr>
  <td>Default&nbsp;Copyright:</td>
  <td colspan="2"><tmpl_var escape=HTML copyright></td>
</tr>


<tr>
  <td>Alt&nbsp;tag:</td>
  <td colspan="2"><tmpl_var escape=HTML alt_tag></td>
</tr>


<tr>
  <td>Creation&nbsp;Date:</td>
  <td colspan="2"><tmpl_var escape=HTML creation_date></td>
</tr>


<tr>
  <td>Notes:</td>
  <td colspan="2"><tmpl_var escape=HTML notes></td>
</tr>


<tr>
  <td>Contributors:</td>
  <td colspan="2"><tmpl_if contribs><tmpl_loop contribs><tmpl_var first> <tmpl_var last> (<tmpl_var type>)<tmpl_unless __last__>, </tmpl_unless></tmpl_loop><tmpl_else>None.</tmpl_if></td>
</tr>


<form name="return_form" method="POST" action="<tmpl_var escape="URL" return_script>">
<tmpl_var return_params>
<input type="hidden" name="media_id" value="<tmpl_var escape=HTML media_id>">
</form>

<form name="edit_media_form" method="POST" action="media.pl">
<input type="hidden" name="rm" value="edit">
<input type="hidden" name="media_id" value="<tmpl_var escape=HTML media_id>">
</form>

<script language="javascript" type="text/javascript">
<!-- //

        do_return  = function () {
                var myform = document.return_form;
                myform.submit();
        }


        do_edit_media  = function () {
                var myform = document.edit_media_form;
                myform.submit();
        }

// -->
</script>

</table></div>

  </div>

<div class="button-bar">
  <input type="button" value="Return" onClick="javascript:do_return()" class="button">
  <tmpl_unless is_old_version><tmpl_if can_edit><input type="button" value="Edit" onClick="javascript:do_edit_media()" class="button"></tmpl_if></tmpl_unless>&nbsp;
</div></div>



<tmpl_include footer.tmpl>
