<tmpl_include header.tmpl>

<script language="JavaScript" type="text/javascript">
<!-- //

    nav_edit_mode();

    function do_save_stay () {
        var myform = document.edit_template_form;
        myform.rm.value = <tmpl_if add_mode>'add_save_stay'<tmpl_else>'edit_save_stay'</tmpl_if>;
        myform.submit();
    }


    function do_save () {
        var myform = document.edit_template_form;
        myform.rm.value = <tmpl_if add_mode>'add_save'<tmpl_else>'edit_save'</tmpl_if>;
        myform.submit();
    }

    function do_checkin () {
        var myform = document.edit_template_form;
        myform.rm.value = <tmpl_if add_mode>'add_checkin'<tmpl_else>'edit_checkin'</tmpl_if>;
        myform.submit();
    }

    function do_cancel () {
        var myform = document.edit_template_form;
        <tmpl_if add_mode>
          myform.rm.value = 'add_cancel';
        <tmpl_else>
          myform.rm.value = 'edit_cancel';
        </tmpl_if>
        myform.submit();
    }

    function do_deploy () {
        var myform = document.edit_template_form;
        myform.rm.value = 'deploy';
        myform.submit();
    }


    function do_delete () {
        if (confirm("Are you sure you want to delete this template?")) {
            var myform = document.delete_template_form;<tmpl_if add_mode>
            myform.rm.value = 'cancel_add';</tmpl_if>
            myform.submit();
        }
    }

    function save_and_view_log () {
        var myform = document.edit_template_form;
        myform.rm.value = 'save_and_view_log';
        myform.submit();
    }

    function save_and_edit_schedule () {
        alert("Schedule editor not yet implemented.");
    }

// -->
</script>

<div class="dark-bar"><p class="left">&nbsp;<tmpl_if add_mode>New Template</p><p class="right"><a href="javascript:openWin('help.pl?topic=template_new')">Help</a>&nbsp;</p></div><tmpl_else>Edit Template</p><p class="right"><a href="javascript:save_and_view_log()">Log</a> | <a href="javascript:openWin('help.pl?topic=template_edit')">Help</a>&nbsp;</p></div></tmpl_if>



<tmpl_unless add_mode>
<div class="boxb">
<table width="100%" cellpadding="5" cellspacing="0" border="0">
<tr class="light">
  <td width="150">ID:</td>
  <td><tmpl_var template_id></td></tr>

<tr class="light">
  <td width="150">Filename:</td>
  <td><tmpl_var filename></td>
</tr>

<tr class="light">
  <td width="150">URL:</td>
  <td><tmpl_var url></td>
</tr>

<tr class="light">
  <td width="150">Current&nbsp;Version:</td>
  <td><tmpl_var version></td>
</tr>

<tr class="light">
  <td width="150">Deployed&nbsp;Version:</td>
  <td><tmpl_unless deployed_version>[n/a]</tmpl_unless><tmpl_var deployed_version></td></tr>
</table></div>
</tmpl_unless>

<form name="delete_template_form" method="post">
<input type="hidden" name="rm" value="delete">
<input type="hidden" name="template_id" value="<tmpl_var escape=HTML template_id>">
</form>

<form name="edit_template_form" method="POST" enctype="multipart/form-data">
<input type="hidden" name="rm" value=<tmpl_if add_mode>"save_add"<tmpl_else>"save_edit"</tmpl_if>>
<input type="hidden" name="template_id" value="<tmpl_var escape=HTML template_id>">
<div class="box">
<table border="0" cellpadding="5" cellspacing="0" width="100%">
<tmpl_if add_mode>
<script language="javascript" type="text/javascript">
  function update_filename (field) {
     var targ = field.form.elements["filename"];
     if (field.value == '') {
        targ.readOnly = false;
        targ.style.backgroundColor = 'white';
        targ.value = '';
     } else {
        targ.value = field.value + ".tmpl";
        targ.readOnly = true;
        targ.style.backgroundColor = '#DDDDDD';
     }
  }

  function read_only (field) {
      field.readOnly = true;
  }

</script>

<tr>
  <td width="150">Element:</td>
  <td><tmpl_if error_no_filename><span class="invalid"></tmpl_if><tmpl_if duplicate_url><span class="invalid"></tmpl_if><tmpl_if error_element><span class="invalid"></tmpl_if><tmpl_var element_chooser><tmpl_if error_element></span></tmpl_if><tmpl_if duplicate_url></span></tmpl_if></td>
</tr>

<tr>
<!-- <tmpl_if duplicate_url><span class="invalid"></tmpl_if>
<tmpl_if duplicate_url></span></tmpl_if> -->
  <td>Filename:</td>
  <td colspan="2"><tmpl_if error_invalid_filename><span class="invalid"></tmpl_if><tmpl_if error_no_filename><span class="invalid"></tmpl_if><input type=text name="filename" size=30 value="<tmpl_var escape=html filename>"><tmpl_if error_element></span></tmpl_if><tmpl_if error_invalid_filename></span></tmpl_if></td>
<tmpl_if duplicate_url>
<script language="javascript">
read_only(document.edit_template_form.filename);
</script>
</tmpl_if>
</tr>

<tr>
  <td width="150">Site/Categories:</td>
  <td><tmpl_if duplicate_url><span class="invalid"></tmpl_if><tmpl_if error_category_id><span class="invalid"></tmpl_if><tmpl_var category_chooser><tmpl_if error_category_id></span></tmpl_if><tmpl_if duplicate_url></span></tmpl_if></td>
</tr>

</tmpl_if>

<tr>
  <td width="150">Upload template file:<tmpl_if filename><br />
<tmpl_if template_id><a href="javascript:preview_template('<tmpl_var escape=HTML template_id>')"></tmpl_if><tmpl_var escape=HTML filename><tmpl_if template_id></a></tmpl_if>
<tmpl_var escape=HTML file_size></tmpl_if></td>
  <td ><tmpl_if error_template_file><span class="invalid"></tmpl_if><tmpl_var upload_chooser><tmpl_if error_template_file></span></tmpl_if><tmpl_if duplicate_url></span></tmpl_if></td>
</tr>

<tr>
  <td colspan="2" align="right"><textarea rows="30" cols="60" name="content"><tmpl_var escape=HTML content></textarea></td>
</tr>

<tr>
  <td width="150">Test with Template:</td>
  <td><input name="testing" type="checkbox" value="1" <tmpl_if testing>checked</tmpl_if>></td>
</tr>
</table>



<!-- Version Navigation -->
<tmpl_unless add_mode>
<tmpl_var history_return_params>

<script language="javascript" type="text/javascript">
<!--
  function revert_version () {
    if (confirm("Are you sure you want to discard your work and revert to " +
                "this old version?")) {
        var myform = document.edit_template_form;
        myform.rm.value = 'revert_version';
        myform.submit();
    }
  }

  function view_version () {
      var myform = document.edit_template_form;
      myform.rm.value = 'view_version';
      myform.submit();
  }
// -->
</script>
</div>

<div class="boxc">
Version: <tmpl_var version_chooser>
<input type="button" value="Revert" onClick="revert_version()" class="button">
<input type="button" value="View" onClick="view_version()" class="button">
</div>
</tmpl_unless>
<tmpl_if add_mode>
   </div>
</tmpl_if>
<!-- END Version Navigation -->



<div class="button-bar">
  <input type="button" value="Save" onClick="do_save()" class="button">
  <input type="button" value="Save &amp; Stay" onClick="do_save_stay()" class="button">
  <tmpl_unless add_mode>
  <input type="button" value="Delete" onClick="do_delete()" class="button">
  </tmpl_unless>
  <input type="button" value="Deploy" onClick="do_deploy()" class="button">
  <input type="reset" value="Reset" class="button">
</div></div>


</form>
 </div>
<tmpl_include footer.tmpl>
