<tmpl_include header.tmpl>

<script language="JavaScript" type="text/javascript">

  view_template  = function (id) {
    document.find_template.rm.value = 'view';
    document.find_template.template_id.value = id;
    document.find_template.submit();
  }

  checkin_selected  = function () {
    var myform = document.krang_pager_form;
    myform.rm.value = 'checkin_selected';
    myform.submit();
  }

</script>

<form method=post name=find_template action="template.pl">
<input type="hidden" name="rm" value="list_active">
<input type="hidden" name="template_id">

<!-- Set up view mode return -->
<input type="hidden" name="return_script" value="template.pl">
<input type="hidden" name="return_params" value="rm">
<input type="hidden" name="return_params" value="list_active">

</form>

<div class="dark-bar"><p class="left">&nbsp;Active Templates</p><p class="right"><a href="javascript:openWin('help.pl?topic=template_active')">Help</a>&nbsp;</p></div>

<div class="box">
<!-- Krang::HTMLPager -->
<tmpl_var pager_html>
<!-- Krang::HTMLPager -->
</div>

<tmpl_if row_count><tmpl_if may_checkin_all>
  <div class="button-bar"><input type="button" value="Check In" onClick="checkin_selected()" class="button"></div>
</tmpl_if></tmpl_if>
</div>
<tmpl_include footer.tmpl>
