<tmpl_include header.tmpl>

<script language="JavaScript" type="text/javascript">

  function preview_template(id) {
        window.open("publisher.pl?rm=preview_template&template_id=" + id, "");
  }

  function view_template (id) {
    document.find_template.rm.value = 'view';
    document.find_template.template_id.value = id;
    document.find_template.submit();
  }

  function checkin_selected () {
    var myform = document.krang_pager_form;
    myform.rm.value = 'checkin_selected';
    myform.submit();
  }

</script>

<form method=post name=find_template>
<input type="hidden" name="rm" value="list_active">
<input type="hidden" name="template_id">

<!-- Set up view mode return -->
<input type="hidden" name="return_script" value="template.pl">
<input type="hidden" name="return_params" value="rm">
<input type="hidden" name="return_params" value="list_active">

</form>

<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr class="dark-bar">
  <td>&nbsp;ACTIVE TEMPLATES</td>
  <td align="right"><a href="javascript:goto_help()">Help</a>&nbsp;</td>
</tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td width="1" class="line"><img width="1" height="1"></td>
  <td><img width="1" height="4"><table border="0" cellpadding="6" cellspacing="0" width="100%">
  <tr><td>
<!-- Krang::HTMLPager -->
<tmpl_var pager_html>
<!-- Krang::HTMLPager -->
</td>
  </tr>
  </table>
  </td>
  <td width="1" class="line"><img width="1" height="1"></td>
</tr>
<tr><td colspan="3" class="line"><img width="1" height="1"></td></tr>
</table>

<tmpl_if row_count><tmpl_if may_checkin_all>
  <div class="button-bar"><input type="button" value="Check In" onClick="checkin_selected()" class="button"></div>
</tmpl_if></tmpl_if>

<tmpl_include footer.tmpl>
