<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
    Krang.Help.set('template_find');
    Krang.Form.toggle_list_btn();
} );

add_template = function() {
    Krang.Form.submit('template_search_form', { rm: 'add'});
}

show_advanced_search = function(show_advanced) {
    Krang.Form.submit('template_search_form', { do_advanced_search: show_advanced }, { to_top: false });
}

other_search_rm = function() {
  Krang.Form.submit('template_search_form', {
    rm: 'list_retired',
    other_search_place: 'Search in Live',
    krang_pager_curr_page_num: '1'
  });
}

<tmpl_if do_advanced_search>
clear_advanced_search = function() {
    Krang.Form.submit('clear_advanced_search_form', {}, { to_top: false });
}
</tmpl_if>

<tmpl_if row_count>
edit_template = function(id) {
    Krang.Form.submit('find_template', { rm: 'checkout_and_edit', template_id: id });
}

view_template = function(id) {
    Krang.Form.submit('find_template', { rm: 'view', template_id: id });
}

delete_selected = function() {
    if ( !Krang.pager_row_checked() )
        alert(Krang.L10N.loc('Nothing selected to delete!'));
    else if ( confirm(Krang.L10N.loc('Are you SURE you want to delete the checked Templates?')) )
        Krang.Form.submit('krang_pager_form', { rm: 'delete_selected' }, { to_top: false });
}

retire_selected = function() {
    if ( !Krang.pager_row_checked() )
        alert(Krang.L10N.loc('Nothing selected to retire!'));
    else if ( confirm(Krang.L10N.loc('Are you SURE you want to retire the checked Templates?')) )
        Krang.Form.submit('krang_pager_form', { rm: 'retire_selected' }, { to_top: false });
}

checkout_selected = function() {
    if ( !Krang.pager_row_checked() )
        alert( Krang.L10N.loc('Nothing selected to check out!') );
    else
        Krang.Form.submit('krang_pager_form', { rm: 'checkout_selected' });
}

do_deploy = function() {
    if ( !Krang.pager_row_checked() )
        alert( Krang.L10N.loc('Nothing selected to deploy!') );
    else if ( confirm( Krang.L10N.loc('Are you SURE you want to deploy the checked Templates?') ) )
        Krang.Form.submit('krang_pager_form', { rm: 'deploy_selected' }, { to_top: false });
}

retire_template = function(id) {
    if ( confirm('Are you SURE you want to retire this Template?') )
        Krang.Form.submit('find_template', { rm: 'retire', template_id: id });
}
</tmpl_if>
</script>

<h2>
<tmpl_lang Find Templates>
</h2>

<form name="template_search_form" id="template_search_form" method="post" action="template.pl">

<input name="rm" value="search" type="hidden">
<input name="searched" value="1" type="hidden">
<input name="krang_pager_curr_page_num" value="" type="hidden">
<input name="krang_pager_show_big_view" value="<tmpl_var escape=html krang_pager_show_big_view>" type="hidden">
<input name="krang_pager_sort_field" value="<tmpl_var escape=html krang_pager_sort_field>" type="hidden">
<input name="krang_pager_sort_order_desc" value="<tmpl_var escape=html krang_pager_sort_order_desc>" type="hidden">
<input name="do_advanced_search" value="<tmpl_if do_advanced_search>1<tmpl_else>0</tmpl_if>" type="hidden">
<input name="other_search_place" value="Search in Retire" type="hidden">

<div class="tabset finder">

<ul class="tabs"><li>
<tmpl_if do_advanced_search><a href="javascript:show_advanced_search('0')"><tmpl_else><b></tmpl_if><span>
<tmpl_lang Simple Search>
</span><tmpl_if do_advanced_search></a><tmpl_else></b></tmpl_if>
</li><li>
<tmpl_if do_advanced_search><b><tmpl_else><a href="javascript:show_advanced_search('1')"></tmpl_if><span>
<tmpl_lang Advanced Search>
</span><tmpl_if do_advanced_search></b><tmpl_else></a></tmpl_if>
</li></ul>

<div class="tabbed">

<tmpl_unless do_advanced_search>

  <div class="faux-p">
  <input name="search_filter" value="<tmpl_var escape=html search_filter>" class="autocomplete">
  <input value="<tmpl_lang Search>" type="submit" class="button">
  <input name="search_filter_check_full_text" type="checkbox" <tmpl_if search_filter_check_full_text>checked</tmpl_if>><tmpl_lang Search full text?>
  </div>

<tmpl_else>

  <table class="request" summary="">

  <colgroup>
  <col class="c-label-tiny">
  <col>
  <col class="c-label-tiny">
  <col>
  </colgroup>

  <tbody class="demi">

  <tr>
  <th><tmpl_lang URL></th>
  <td><input name="search_url" value="<tmpl_var escape=html search_url>"></td>
  <th><tmpl_lang Template ID></th>
  <td><input name="search_template_id" value="<tmpl_var escape=html search_template_id>"></td>
  </tr>

  <tr>
  <th><tmpl_lang Full Text Search></th>
  <td><input name="search_full_text_string" value="<tmpl_var escape=html search_full_text_string>"></td>
  </tr>

  </tbody>

  <tbody>

  <tr>
  <th><tmpl_lang Element></th>
  <td colspan="3"><tmpl_var element_chooser></td>
  </tr>

  <tr>
  <th><tmpl_lang Site/Category></th>
  <td colspan="3"><tmpl_var category_chooser></td>
  </tr>

  </tbody>

  </table>

  <div class="panel">
  <input value="<tmpl_lang Clear>" onclick="clear_advanced_search()" type="button">
  <input value="<tmpl_lang Search>" type="submit">
  </div>

</tmpl_unless>

</div>

</div>

</form>

<h3>
<tmpl_lang Search Results>
</h3>

<tmpl_unless read_only>
<div class="panel"><form<tmpl_unless row_count> class="clearfix"</tmpl_unless>>
  <input value="<tmpl_lang Add Template>" onclick="add_template()" type="button" class="west">
  <tmpl_if row_count>
    <input value="<tmpl_lang Delete>" onclick="delete_selected()" type="button" class="list-btn">
    <input value="<tmpl_lang Retire>" onclick="retire_selected()" type="button" class="list-btn">
    <input value="<tmpl_lang Check Out>" onclick="checkout_selected()" type="button" class="list-btn">
    <input value="<tmpl_lang Deploy>" onclick="do_deploy()" type="button" class="list-btn">
  </tmpl_if>
</form></div>
</tmpl_unless>

<!--Krang::HTMLPager:-->
<tmpl_var pager_html>
<!--:Krang::HTMLPager-->

<tmpl_unless read_only>
<div class="panel capped"><form<tmpl_unless row_count> class="clearfix"</tmpl_unless>>
  <input value="<tmpl_lang Add Template>" onclick="add_template()" type="button" class="west">
  <tmpl_if row_count>
    <input value="<tmpl_lang Delete>" onclick="delete_selected()" type="button" class="list-btn">
    <input value="<tmpl_lang Retire>" onclick="retire_selected()" type="button" class="list-btn">
    <input value="<tmpl_lang Check Out>" onclick="checkout_selected()" type="button" class="list-btn">
    <input value="<tmpl_lang Deploy>" onclick="do_deploy()" type="button" class="list-btn">
  </tmpl_if>
</form></div>
</tmpl_unless>

<tmpl_if do_advanced_search>
  <form name="clear_advanced_search_form" id="clear_advanced_search_form" method="post" action="template.pl">
  <input name="rm" value="search" type="hidden">
  <input name="do_advanced_search" value="1" type="hidden">
  <input name="search_filter" value="" type="hidden">
  <input name="clear_search_form" value="1" type="hidden">
  </form>
</tmpl_if>

<tmpl_if row_count>
  <form name="find_template" id="find_template" method="post" action="template.pl">
  <input name="rm" value="view" type="hidden">
  <input name="template_id" type="hidden">
  <input name="return_script" value="template.pl" type="hidden">
  <tmpl_var history_return_params>
  </form>
</tmpl_if>

<tmpl_include footer.tmpl>

