<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
  Krang.Help.set( 'template_retired' );
} );

other_search_rm = function() {
  Krang.Form.submit('template_search_form', { rm: 'search', other_search_place: 'Search in Retire' });
}

show_advanced_search = function( show_advanced )
{
  Krang.Form.submit( 'template_search_form', { do_advanced_search: show_advanced }, { to_top: false } );
}

<tmpl_if do_advanced_search>
  clear_advanced_search = function()
  {
    Krang.Form.submit('clear_advanced_search_form', {}, { to_top: false });
  }
</tmpl_if>

<tmpl_if row_count>
  view_template = function( id )
  {
    Krang.Form.submit('find_template', { rm: 'view', template_id: id });
  }

  delete_selected = function()
  {
      var question = '';
      var num_rows_checked = Krang.pager_row_checked();

      if (!num_rows_checked) {
        alert( 'Nothing selected to delete!' );
      } else {
        if (num_rows_checked > 1) {
	  question = 'Are you SURE you want to delete the checked Templates?';
        } else {
	  question = 'Are you SURE you want to delete the checked Template';
        }
        if (confirm(question)) {
          Krang.Form.submit( 'krang_pager_form', { rm : 'delete_selected' }, { to_top : false } );
        }
      }
  }
  unretire_template = function(id)
  {
    Krang.Form.submit('find_template', { rm: 'unretire', template_id: id });
  }

</tmpl_if>
</script>

<h2>
Retired Templates
</h2>

<form name="template_search_form" method="post" action="template.pl">

<input name="rm" value="list_retired" type="hidden">
<input name="krang_pager_curr_page_num" value="" type="hidden">
<input name="krang_pager_show_big_view" value="<tmpl_var escape=html krang_pager_show_big_view>" type="hidden">
<input name="krang_pager_sort_field" value="<tmpl_var escape=html krang_pager_sort_field>" type="hidden">
<input name="krang_pager_sort_order_desc" value="<tmpl_var escape=html krang_pager_sort_order_desc>" type="hidden">
<input name="do_advanced_search" value="<tmpl_if do_advanced_search>1<tmpl_else>0</tmpl_if>" type="hidden">
<input name="other_search_place" value="Search in Live" type="hidden">

<tmpl_if do_advanced_search>
  <input name="search_filter" value="" type="hidden">
</tmpl_if>

<div class="tabset finder">

<ul class="tabs"><li>
<tmpl_if do_advanced_search><a href="javascript:show_advanced_search('0')"><tmpl_else><b></tmpl_if><span>
Simple Search
</span><tmpl_if do_advanced_search></a><tmpl_else></b></tmpl_if>
</li><li>
<tmpl_if do_advanced_search><b><tmpl_else><a href="javascript:show_advanced_search('1')"></tmpl_if><span>
Advanced Search
</span><tmpl_if do_advanced_search></b><tmpl_else></a></tmpl_if>
</li></ul>

<div class="tabbed">

<tmpl_unless do_advanced_search>

  <div class="faux-p">
  <input name="search_filter" value="<tmpl_var escape=html search_filter>" class="autocomplete">
  <input value="Search" type="submit" class="button">
  </div>

<tmpl_else>

  <table class="request" summary="">

  <colgroup>
  <col class="c-label-tiny">
  <col>
  <col class="c-label-tiny">
  <col>
  </colgroup>

  <tbody class="demi">

  <tr>
  <th>URL</th>
  <td><input name="search_url" value="<tmpl_var escape=html search_url>"></td>
  <th>Template ID</th>
  <td><input name="search_template_id" value="<tmpl_var escape=html search_template_id>"></td>
  </tr>

  </tbody>

  <tbody>

  <tr>
  <th>Element</th>
  <td colspan="3"><tmpl_var element_chooser></td>
  </tr>

  <tr>
  <th>Site/Category</th>
  <td colspan="3"><tmpl_var category_chooser></td>
  </tr>

  </tbody>

  </table>

  <div class="panel">
  <input value="Clear" onclick="clear_advanced_search()" type="button">
  <input value="Search" type="submit">
  </div>

</tmpl_unless>

</div>

</div>

</form>

<h3>
Search Results
</h3>

<tmpl_unless read_only>
<div class="panel"><form<tmpl_unless row_count> class="clearfix"</tmpl_unless>>
  <tmpl_if row_count>
    <input value="Delete" onclick="delete_selected()" type="button">
  </tmpl_if>
</form></div>
</tmpl_unless>

<!--Krang::HTMLPager:-->
<tmpl_var pager_html>
<!--:Krang::HTMLPager-->

<tmpl_unless read_only>
<div class="panel capped"><form<tmpl_unless row_count> class="clearfix"</tmpl_unless>>
  <tmpl_if row_count>
    <input value="Delete" onclick="delete_selected()" type="button">
  </tmpl_if>
</form></div>
</tmpl_unless>

<tmpl_if do_advanced_search>
  <form name="clear_advanced_search_form" method="post" action="template.pl">
  <input name="rm" value="list_retired" type="hidden">
  <input name="search_filter" value="" type="hidden">
  <input name="clear_search_form" value="1" type="hidden">
  <input name="do_advanced_search" value="1" type="hidden">
  </form>
</tmpl_if>

<tmpl_if row_count>
  <form name="find_template" method="post" action="template.pl">
  <input name="rm" value="view" type="hidden">
  <input name="template_id" type="hidden">
  <input name="retired" value="1" type="hidden">
  <input name="return_script" value="template.pl" type="hidden">
  <tmpl_var history_return_params>
  </form>
</tmpl_if>

<tmpl_include footer.tmpl>

