<tmpl_include header.tmpl>

<div class="dark-bar"><p class="left">&nbsp;View Template</p><p class="right"><a href="javascript:openWin('help.pl?topic=template_view')">Help</a>&nbsp;</p></div>

<div class="boxb">
<div class="light">
<table width="100%" cellspacing="10" border="0">
    <tr><td width="150">ID:</td>
  <td><tmpl_var template_id></td></tr>

<tr>
  <td>Filename:</td>
  <td><tmpl_var filename></td>
</tr>


<tr>
  <td>URL:</td>
  <td><tmpl_var url></td>
</tr>

<tr>
  <td>Current Version:</td>
  <td><tmpl_var version></td>
</tr>

<tr>
  <td valign="top">Template Code:</td>
  <td valign="top"><textarea rows="30" cols="35" readonly><tmpl_var escape=HTML content></textarea></td>
</tr>


<form name="return_form" method="POST" action="template.pl">
<tmpl_var history_return_params>
<input type="hidden" name="template_id" value="<tmpl_var escape=HTML template_id>">
</form>

<form name="edit_template_form" method="POST" action="template.pl">
<input type="hidden" name="rm" value="checkout_and_edit">
<input type="hidden" name="template_id" value="<tmpl_var escape=HTML template_id>">
</form>

<script language="javascript" type="text/javascript">
<!-- //

        do_return  = function () {
            var myform = document.return_form;
            myform.submit();
        }


        do_edit_template  = function () {
                var myform = document.edit_template_form;
                myform.submit();
        }

// -->
</script>

</table></div>

  </div>

<div class="button-bar">
  <input type="button" value="Return" onClick="javascript:do_return()" class="button"><tmpl_unless is_old_version>&nbsp;<tmpl_if can_edit><input type="button" value="Edit" onClick="javascript:do_edit_template()" class="button"></tmpl_if></tmpl_unless>
</div></div>


<tmpl_include footer.tmpl>
