<tmpl_include /header.tmpl>


<script language="javascript" type="text/javascript">
<!-- //

    nav_edit_mode();

    function do_save () {
        var myform = document.forms["edit_site_form"];
        myform.rm.value = <tmpl_if add_mode>'add_save'<tmpl_else>'edit_save'</tmpl_if>;
        myform.submit();
    }

    function save_stay () {
        var myform = document.forms["edit_site_form"];
      <tmpl_if add_mode>
        myform.rm.value = "add_save_stay";
      <tmpl_else>
        myform.rm.value = "edit_save_stay";
      </tmpl_if>
        myform.submit();
    }


    function cancel_site_change () {
        var myform = document.forms["edit_site_form"];
      <tmpl_if add_mode>
        myform.rm.value = "add_cancel";
      <tmpl_else>
        myform.rm.value = "edit_cancel";
      </tmpl_if>
        myform.submit();
    }


    function delete_site () {
        var myform = document.forms["edit_site_form"];
        if (confirm("Are you SURE you want to delete this site?")) {
            myform.rm.value = "delete";
            myform.submit();
        }
    }

// -->
</script>


<div class="dark-bar"><p class="left">&nbsp;Site <tmpl_if add_mode>Add<tmpl_else>Edit</tmpl_if></p><p class="right"><a href="javascript:openWin('help.pl?topic=site')">Help</a>&nbsp;</p></div>

<div class="box">

<form name="edit_site_form" method="POST">
<input type="hidden" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">
<tmpl_if add_mode>
  <input type="hidden" name="rm" value="save_add">
<tmpl_else>
  <input type="hidden" name="rm" value="save_edit">
  <input type="hidden" name="site_id" value="<tmpl_var escape=HTML site_id>">
</tmpl_if>

<!-- Krang::HTMLPager params -->
<input type="hidden" name="krang_pager_curr_page_num" value="<tmpl_var ESCAPE=HTML krang_pager_curr_page_num>">
<input type="hidden" name="krang_pager_show_big_view" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">
<input type="hidden" name="krang_pager_sort_field" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">
<input type="hidden" name="krang_pager_sort_order_desc" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">
<table border="0" cellpadding="5" cellspacing="0" width="100%">
<tr>
    <td align="left" valign="bottom" width="130">URL:</td>
    <td align="left" valign="top"><tmpl_if error_invalid_url><span class="invalid"></tmpl_if><tmpl_if duplicate_url><span class="invalid"></tmpl_if><input type="text" size="30" name="url" value="<tmpl_var escape=HTML url>"><tmpl_if error_invalid_url></span></tmpl_if><tmpl_if duplicate_url></span></tmpl_if></td>
</tr>

<tr>
    <td align="left" valign="bottom">Preview URL:</td>
    <td align="left" valign="top"><tmpl_if error_invalid_preview_url><span class="invalid"></tmpl_if><tmpl_if duplicate_preview_url><span class="invalid"></tmpl_if><input type="text" size="30" name="preview_url" value="<tmpl_var escape=HTML preview_url>"><tmpl_if error_invalid_preview_url></span></tmpl_if><tmpl_if duplicate_preview_url></span></tmpl_if></td>
</tr>

<tr>
    <td align="left" valign="bottom">Publish Path:</td>
    <td align="left" valign="top"><tmpl_if error_invalid_publish_path><span class="invalid"></tmpl_if><tmpl_if duplicate_publish_path><span class="invalid"></tmpl_if><input type="text" size="30" name="publish_path" value="<tmpl_var escape=HTML publish_path>"><tmpl_if error_invalid_publish_path></span></tmpl_if><tmpl_if duplicate_publish_path></span></tmpl_if></td>
</tr>

<tr>
    <td align="left" valign="bottom">Preview Path:</td>
    <td align="left" valign="top"><tmpl_if error_invalid_preview_path><span class="invalid"></tmpl_if><tmpl_if duplicate_preview_path><span class="invalid"></tmpl_if><input type="text" size="30" name="preview_path" value="<tmpl_var escape=HTML preview_path>"><tmpl_if error_invalid_preview_path></span></tmpl_if><tmpl_if duplicate_preview_path></span></tmpl_if></td>
</tr>

</table></div>

<div class="button-bar">
    <input type="submit" onClick="do_save()" value="Save" class="button">
    <input type="button" value="Save &amp; Stay" onClick="save_stay()" class="button">
    <input type="reset" value="Reset" class="button">
    <tmpl_unless add_mode><input type="button" value="Delete" onClick="delete_site()" class="button"></tmpl_unless>
    <input type="button" value="Cancel" onClick="cancel_site_change()" class="button">
</div>


<!-- End edit_site_form -->
</form>
</div>

<tmpl_include /footer.tmpl>
