<tmpl_include header.tmpl>

<script language="javascript" type="text/javascript">
  nav_edit_mode();
</script>

<div class="dark-bar"><p class="left">&nbsp;View Site</p><p class="right"><tmpl_unless add_mode><a href="javascript:save_and_view_log()">Log</a> | </tmpl_unless><a href="javascript:openWin('/help/site.html')">Help</a>&nbsp;</p></div>


<div class="boxb">
<div class="light">
<table width="100%" cellspacing="10" border="0">
<tr>
<td width="135">URL:</td>
  <td width="445"><tmpl_var url></td>
</tr>


<tr>
  <td>Preview URL:</td>
  <td><tmpl_var preview_url></td>
</tr>


<tr>
  <td>Preview Path:</td>
  <td><tmpl_var preview_path></td>
</tr>

<tr>
  <td>Publish Path:</td>
  <td><tmpl_var publish_path></td>
</tr>

<form name="return_form" method="POST">
<tmpl_var history_return_params>
</form>

<form name="edit_site_form" method="POST">
<input type="hidden" name="rm" value="edit">
<input type="hidden" name="site_id" value="<tmpl_var escape=HTML site_id>">
</form>

<script language="javascript" type="text/javascript">
<!-- //

        function do_return () {
            var myform = document.return_form;
            myform.submit();
        }


        function do_edit_site () {
                var myform = document.edit_site_form;
                myform.submit();
        }

// -->
</script>


</table></div>

  </div>

<div class="button-bar">
  <input type="button" value="Return" onClick="javascript:do_return()" class="button">
  <input type="button" value="Edit" onClick="javascript:do_edit_site()" class="button"></div>
</div>


<tmpl_include footer.tmpl>
