<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
  Krang.Help.set( 'site' );
} );

do_return = function()
{
  Krang.form_submit( 'return_form' );
}

do_edit_site = function()
{
  Krang.form_submit( 'edit_site_form' );
}
</script>

<h2>
View Site
</h2>

<h3>
Properties
</h3>

<table class="result" summary="">

<colgroup>
<col class="c-label">
<col>
</colgroup>

<tbody>

<tr>
<th>URL</th>
<td><tmpl_var escape=html url></td>
</tr>

<tr>
<th>Preview URL</th>
<td><tmpl_var escape=html preview_url></td>
</tr>

<tr>
<th>Preview Path</th>
<td><tmpl_var escape=html preview_path></td>
</tr>

<tr>
<th>Publish Path</th>
<td><tmpl_var escape=html publish_path></td>
</tr>

</tbody>

</table>

<div class="panel capped"><form>
<input value="Back" onclick="do_return()" type="button" class="west">
<input value="Edit" onclick="do_edit_site()" type="button">
</form></div>

<form name="return_form" method="post" action="site.pl">
<tmpl_var history_return_params>
</form>

<form name="edit_site_form" method="post" action="site.pl">
<input name="rm" value="edit" type="hidden">
<input name="site_id" value="<tmpl_var escape=html site_id>" type="hidden">
</form>

<tmpl_include footer.tmpl>

