<tmpl_include /header.tmpl>

<script language="javascript" type="text/javascript">
<!-- //
    nav_edit_mode();

    add_contrib  = function () {
        var myform = document.forms["add_contrib_form"];
        myform.submit();
    }

    something_checked = function(list) {
        var checkbox = document.getElementsByName(list);
        for (var i = 0; i < checkbox.length; i++) {
	    if (checkbox[i].checked) {
	        return true;
	    }
        }
        return false;
    }

    associate_selected  = function () {
        if (something_checked('krang_pager_rows_checked')) {
            var myform = document.forms["krang_pager_form"];
            myform.rm.value = 'associate_selected';
            myform.submit();
        } else {
            alert("No contributor selected to associate!");
        }
    }

    unassociate_selected  = function () {
        if (something_checked('contrib_unassociate_list')) {
            var myform = document.forms["current_contributors_form"];
            myform.rm.value = "unassociate_selected";
            myform.submit();
        } else {
            alert("No contributor selected to unassociate!");
        }
    }

    reorder_contributors  = function () {
        var myform = document.forms["current_contributors_form"];
        myform.rm.value = "reorder_contribs";
        myform.submit();
    }

    do_return  = function () {
        var myform = document.forms["do_return_form"];
        myform.submit();
    }


// updates the order pull downs to stay consistent
update_order = function (obj, prefix) {
    var form  = obj.form;
    var requestedIndex = obj.selectedIndex;
    var i;

    // get list of relevent form elements
    var elem = new Array();
    for (i = 0; i < form.elements.length ; i++) {
        var e = form.elements[i];
        if (e.name && e.name.indexOf(prefix) == 0 && e.options) {
           elem.push(e);
        }
     }

    // sort them by their indexes
    chosenOne = obj;
    elem.sort(update_order_sort_south);

    // did that do it?
    if (elem[requestedIndex] != obj) {
        // the opposite bias must be right 
        elem.sort(update_order_sort_north);
    }

    // walk through the elements handing out indexes
    for (i = 0; i < elem.length; i++) {
        elem[i].selectedIndex = i;
    }
}

// special sort functions that sort by selectedIndex and bias the
// "chosenOne" to either get sorted higher or lower.

var chosenOne;
update_order_sort_north  = function (a, b) {
    if (a.selectedIndex < b.selectedIndex) { return -1; }
    if (a.selectedIndex > b.selectedIndex) { return  1; }
    if (a.name == chosenOne.name) { return -1; }
    if (b.name == chosenOne.name) { return 1; }
    return 0;
}


update_order_sort_south  = function (a, b) {
    if (a.selectedIndex < b.selectedIndex) { return -1; }
    if (a.selectedIndex > b.selectedIndex) { return  1; }
    if (a.name == chosenOne.name) { return 1; }
    if (b.name == chosenOne.name) { return -1; }
    return 0;
}


// -->
</script>

<div class="dark-bar"><p class="left">&nbsp;Associate Contributor</p><p class="right"><a href="javascript:openWin('help.pl?topic=contributor_associate')">Help</a>&nbsp;</p></div>

<div class="box">
<div class="no-border">
Current Contributors</div>
<form name="do_return_form" method="POST" action="<tmpl_if associate_story>story.pl<tmpl_else>media.pl</tmpl_if>">
<input type="hidden" name="rm" value="edit">
</form>

<form name="add_contrib_form" method="POST" action="contributor.pl">
<input type="hidden" name="rm" value="add">
<input type="hidden" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">
<input type="hidden" name="associate_mode" value="<tmpl_var ESCAPE=HTML associate_mode>">

<!-- Krang::HTMLPager params -->
<input type="hidden" name="krang_pager_curr_page_num" value="<tmpl_var ESCAPE=HTML krang_pager_curr_page_num>">
<input type="hidden" name="krang_pager_show_big_view" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">
<input type="hidden" name="krang_pager_sort_field" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">
<input type="hidden" name="krang_pager_sort_order_desc" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">

</form>


<form name="current_contributors_form" method="POST" action="contributor.pl">
<input type="hidden" name="rm" value="reorder_contribs">
<input type="hidden" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">
<input type="hidden" name="associate_mode" value="<tmpl_var ESCAPE=HTML associate_mode>">

<!-- Krang::HTMLPager params -->
<input type="hidden" name="krang_pager_curr_page_num" value="<tmpl_var ESCAPE=HTML krang_pager_curr_page_num>">
<input type="hidden" name="krang_pager_show_big_view" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">
<input type="hidden" name="krang_pager_sort_field" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">
<input type="hidden" name="krang_pager_sort_order_desc" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">

<TMPL_IF associated_contributors>

  <table cellspacing="0" width="571" class="form-cell">
  <tr class="form-head">
    <th>&nbsp;Last Name</th>
    <th>&nbsp;First, Middle Name</th>
    <th>&nbsp;Type</th>
    <th>&nbsp;Order</th>
    <th>&nbsp;<input type="checkbox" name="checkallbox" value="1" onClick="checkall(this, 'contrib_unassociate_list')"></th>
  </tr>

  <tmpl_loop associated_contributors>
  <tr>
    <td class="form-cell"><tmpl_var ESCAPE=HTML last></td>
    <td class="form-cell"><tmpl_var ESCAPE=HTML first><tmpl_if middle>&nbsp;<tmpl_var ESCAPE=HTML middle></tmpl_if></td>
    <td class="form-cell"><tmpl_var ESCAPE=HTML type></td>
    <td class="form-cell"><tmpl_var order_contrib_popup_menu></td>
    <td class="form-cell"><input type="checkbox" name="contrib_unassociate_list" value="<tmpl_var ESCAPE=HTML contrib_id>:<tmpl_var ESCAPE=HTML contrib_type_id>"></td>
  </tr>

  </tmpl_loop>
 
  </table>
  <div style="text-align: right; margin-bottom: 5px; margin-right: 8px; margin-top:3px;"><input type="button" value="Reorder" onClick="reorder_contributors()" class="button">
&nbsp;&nbsp;&nbsp;<input type="button" value="Unassociate" onClick="unassociate_selected()" class="button"></div>


<TMPL_ELSE>
<div class="no-border">
<b>No Contributors Found</b></div>

</TMPL_IF>

</form>
</div>

<div class="boxb">
 <div class="light">
<form name="search_form" method="POST" action="contributor.pl">
<!-- Krang::HTMLPager params -->
<input type="hidden" name="krang_pager_curr_page_num" value="">
<input type="hidden" name="krang_pager_show_big_view" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">
<input type="hidden" name="krang_pager_sort_field" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">
<input type="hidden" name="krang_pager_sort_order_desc" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">
<input type="hidden" name="associate_mode" value="<tmpl_var ESCAPE=HTML associate_mode>">
<p>SEARCH</p>
<input type="hidden" name="rm" value="search">
<input type="text" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">
<input type="submit" value="Search" class="button"><br />
<span style="font-size: smaller;">(By First Name, Last Name)</span></div>

</form>



<div class="no-border">
Choose Contributors
<form name="krang_pager_form" method="POST" action="contributor.pl">
<p><b><a href="javascript:add_contrib()">Add A Contributor</a></b></p></div>
<tmpl_include HTMLPager/pager-internals.tmpl>
<tmpl_if krang_pager_rows>
<div class="no-border">
Found <tmpl_var found_count>:  Showing <tmpl_var start_row> to <tmpl_var end_row></div>

<table cellspacing="0" width="571" class="form-cell"><tr class="form-head"><th><tmpl_var colhead_last></th>
<th><tmpl_var colhead_first_middle></th>
<th><tmpl_var colhead_type></th>
<th>&nbsp;<tmpl_var colhead_checkbox_column></th></tr>


  <tmpl_loop krang_pager_rows>
    <tr>
      <td class="form-cell" rowspan="<tmpl_var contrib_type_count>"><tmpl_var last escape=html></td>
      <td class="form-cell" rowspan="<tmpl_var contrib_type_count>"><tmpl_var first_middle></td>

    <tmpl_loop contrib_types>
      <tmpl_unless __first__><tr></tmpl_unless>
          <td class="form-cell"><tmpl_var ESCAPE=HTML type></td>
          <td class="form-cell"><input type="checkbox" name="krang_pager_rows_checked" value="<tmpl_var ESCAPE=HTML contrib_id>:<tmpl_var ESCAPE=HTML contrib_type_id>"></td>
      </tr>
    </tmpl_loop>

  </tmpl_loop>
 
  </table>
    <div class="no-border">
<tmpl_if prev_page_number><a href="javascript:go_page('<tmpl_var prev_page_number>')">&lt;&lt;</a></tmpl_if>

<tmpl_loop page_numbers>
  <tmpl_if is_current_page><b><tmpl_var page_number></b>
  <tmpl_else><a href="javascript:go_page('<tmpl_var page_number>')"><tmpl_var page_number_label></a>
  </tmpl_if>
  <tmpl_unless __last__>|</tmpl_unless>
</tmpl_loop>

<tmpl_if next_page_number><a href="javascript:go_page('<tmpl_var next_page_number>')">&gt;&gt;</a></tmpl_if>

  <tmpl_if show_big_view><a href="javascript:show_big_view('0')">show <tmpl_var user_page_size> per page</a>
  <tmpl_else><a href="javascript:show_big_view('1')">show <tmpl_var big_view_page_size> per page</a>
  </tmpl_if>
  <tmpl_if row_count><div style="text-align: right;"><input type="button" value="Associate" onClick="associate_selected()" class="button"></div></tmpl_if>
</div>
<tmpl_else>
<div class="no-border">
<b>None Found</b>
</div>
</tmpl_if>


</form>
</div>


<div class="button-bar"><input type="button" value="Return" onClick="do_return()" class="button"></div></div>

<tmpl_include /footer.tmpl>

