<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
  Krang.Nav.edit_mode();
  Krang.Help.set('contrib_associate');
  Krang.Form.toggle_list_btn('current_contributors_form', 'contrib_unassociate_list');
  Krang.Form.toggle_list_btn();
} );

add_contrib = function()
{
  Krang.Form.submit('add_contrib_form', {}, { to_top: false });
}

<tmpl_if associated_contributors>
  reorder_contributors = function()
  {
    Krang.Form.submit('current_contributors_form', { rm: 'reorder_contribs' }, { to_top: false });
  }

  unassociate_selected = function()
  {

    if ( !Krang.row_checked( 'current_contributors_form', 'contrib_unassociate_list' ) )
      alert( Krang.L10N.loc('Nothing selected to unassociate!') );
    else
      Krang.Form.submit('current_contributors_form', { rm: 'unassociate_selected' }, { to_top: false });
  }
</tmpl_if>

<tmpl_if row_count>
  associate_selected = function()
  {
    if ( !Krang.pager_row_checked() )
      alert( Krang.L10N.loc('Nothing selected to associate!') );
    else
      Krang.Form.submit('krang_pager_form', { rm: 'associate_selected' }, { to_top: false });
  }
</tmpl_if>
</script>

<h2>
<tmpl_lang Associate Contributor>
</h2>

<h3>
<tmpl_lang Current Contributors>
</h3>

<tmpl_unless associated_contributors>

  <p class="naught">
  <tmpl_lang No Contributors.>
  </p>

<tmpl_else>

  <form name="current_contributors_form" id="current_contributors_form" action="contributor.pl" method="post">
  <input name="rm" value="reorder_contribs" type="hidden">
  <input name="edit_uuid" value="<tmpl_var escape=html edit_uuid>" type="hidden">
  <input name="search_filter" value="<tmpl_var escape=html search_filter>" type="hidden">
  <input name="associate_mode" value="<tmpl_var escape=html associate_mode>" type="hidden">
  <input name="krang_pager_curr_page_num" value="<tmpl_var escape=html krang_pager_curr_page_num>" type="hidden">
  <input name="krang_pager_show_big_view" value="<tmpl_var escape=html krang_pager_show_big_view>" type="hidden">
  <input name="krang_pager_sort_field" value="<tmpl_var escape=html krang_pager_sort_field>" type="hidden">
  <input name="krang_pager_sort_order_desc" value="<tmpl_var escape=html krang_pager_sort_order_desc>" type="hidden">

  <div class="table-container">
  <img src="<tmpl_var static_url>/images/corner-top-left.gif" class="left-corner">
  <img src="<tmpl_var static_url>/images/corner-top-right.gif" class="right-corner">
  <table cellspacing="0" class="result select_row" summary="">

  <colgroup>
  <col class="series">
  <col>
  <col>
  <col>
  <col class="series">
  </colgroup>

  <thead>
  <tr>
  <th class="series f"><tmpl_lang Order></th>
  <th><tmpl_lang Last Name></th>
  <th><tmpl_lang First, Middle Name></th>
  <th><tmpl_lang Type></th>
  <th class="tick l"><input name="checkallbox" id="checkallbox" value="1" type="checkbox" onclick="Krang.check_all(this,'contrib_unassociate_list')"></th>
  </tr>
  </thead>

  <tbody><tmpl_loop associated_contributors>
    <tr<tmpl_unless __odd__> class="even"</tmpl_unless>>
    <td class="series f"><tmpl_var order_contrib_popup_menu></td>
    <td><tmpl_var escape=html last></td>
    <td><tmpl_var escape=html first><tmpl_if middle>, <tmpl_var escape=html middle></tmpl_if></td>
    <td><tmpl_var escape=html type></td>
    <td class="tick l"><input name="contrib_unassociate_list" value="<tmpl_var escape=html contrib_id>:<tmpl_var escape=html contrib_type_id>" type="checkbox" class="hilite-row"></td>
    </tr>
  </tmpl_loop>

  <tr class="command-row">
  <td class="f" colspan="4"><input value="<tmpl_lang Reorder>" onclick="reorder_contributors()" type="button" class="button"></td>
  <td class="l"><input value="<tmpl_lang Unassociate>" onclick="unassociate_selected()" type="button" class="mini-list-btn"></td>
  </tr>

  </tbody>

  </table></div>

  </form>

</tmpl_unless>

<form name="search_form" id="search_form" action="contributor.pl" method="post">
<input name="rm" value="search" type="hidden">
<input name="edit_uuid" value="<tmpl_var edit_uuid escape=html>" type="hidden">
<input name="krang_pager_curr_page_num" value="" type="hidden">
<input name="krang_pager_show_big_view" value="<tmpl_var escape=html krang_pager_show_big_view>" type="hidden">
<input name="krang_pager_sort_field" value="<tmpl_var escape=html krang_pager_sort_field>" type="hidden">
<input name="krang_pager_sort_order_desc" value="<tmpl_var escape=html krang_pager_sort_order_desc>" type="hidden">
<input name="associate_mode" value="<tmpl_var escape=html associate_mode>" type="hidden">

<div class="tabset finder">

<ul class="tabs"><li>
<b><span>
<tmpl_lang Simple Search>
</span></b>
</li></ul>

<div class="tabbed">

<div class="faux-p">
<input name="search_filter" value="<tmpl_var escape=html search_filter>" class="autocomplete">
<input value="Search" type="submit" class="button">
</div>

</div>

</div>

</form>

<h3>
<tmpl_lang Choose Contributors>
</h3>

<tmpl_unless krang_pager_rows>

  <p class="naught">
  <tmpl_lang No More Contributors Found.>
  </p>

<tmpl_else>

  <form name="krang_pager_form" id="krang_pager_form" action="contributor.pl" method="post">
  <input type="hidden" name="edit_uuid" value="<tmpl_var edit_uuid escape=html>">

  <tmpl_include HTMLPager/<tmpl_lang en>/pager-internals.tmpl>

  <tmpl_include HTMLPager/<tmpl_lang en>/pager-pagination.tmpl>

  <div class="table-container">
  <img src="<tmpl_var static_url>/images/corner-top-left.gif" class="left-corner">
  <img src="<tmpl_var static_url>/images/corner-top-right.gif" class="right-corner">
  <table cellspacing="0" class="result select_row" summary="">

  <colgroup>
  <col>
  <col>
  <col>
  <col class="series">
  </colgroup>

  <thead>
  <tr>
  <th class="f"><tmpl_var colhead_last></th>
  <th><tmpl_var colhead_first_middle></th>
  <th><tmpl_var colhead_type></th>
  <th class="series l"><tmpl_var colhead_checkbox_column></th>
  </tr>
  </thead>

  <tbody><tmpl_loop krang_pager_rows>
    <tr<tmpl_unless __odd__> class="even"</tmpl_unless>>
    <td class="f" rowspan="<tmpl_var contrib_type_count>"><tmpl_var escape=html last></td>
    <td rowspan="<tmpl_var contrib_type_count>"><tmpl_var escape=html first_middle></td>

    <tmpl_loop contrib_types>
      <tmpl_unless __first__><tr></tmpl_unless>
      <td><tmpl_var escape=html type></td>
      <td class="series l"><input name="krang_pager_rows_checked" value="<tmpl_var escape=html contrib_id>:<tmpl_var escape=html contrib_type_id>" type="checkbox" class="hilite-row"></td>
      </tr>
    </tmpl_loop>
  </tmpl_loop>

  <tr class="command-row">
  <td class="f" colspan="3">&nbsp;</td>
  <td class="l">
    <tmpl_if row_count><input value="<tmpl_lang Associate>" onclick="associate_selected()" type="button" class="mini-list-btn">
    <tmpl_else>&nbsp;</tmpl_if>
  </td>
  </tr>

  </tbody>

  </table>
  </div>

  <tmpl_include HTMLPager/<tmpl_lang en>/pager-pagination.tmpl>

  </form>

</tmpl_unless>

<form name="do_return_form" action="<tmpl_if associate_story>story<tmpl_else>media</tmpl_if>.pl" method="post">
<input name="rm" value="edit" type="hidden">
<input name="edit_uuid" value="<tmpl_var edit_uuid escape=html>" type="hidden">

<div class="panel capped">
<input value="<tmpl_lang &#9664; Back>" type="submit" class="west">
<tmpl_if user_can_add_contributors>
  <input value="<tmpl_lang Add Contributor>" onclick="add_contrib()" type="button" class="east">
</tmpl_if>
</div>

</form>

<form name="add_contrib_form" action="contributor.pl" method="post">
<input name="rm" value="add" type="hidden">
<input name="edit_uuid" value="<tmpl_var edit_uuid escape=html>" type="hidden">
<input name="search_filter" value="<tmpl_var escape=html search_filter>" type="hidden">
<input name="associate_mode" value="<tmpl_var escape=html associate_mode>" type="hidden">
<input name="krang_pager_curr_page_num" value="<tmpl_var escape=html krang_pager_curr_page_num>" type="hidden">
<input name="krang_pager_show_big_view" value="<tmpl_var escape=html krang_pager_show_big_view>" type="hidden">
<input name="krang_pager_sort_field" value="<tmpl_var escape=html krang_pager_sort_field>" type="hidden">
<input name="krang_pager_sort_order_desc" value="<tmpl_var escape=html krang_pager_sort_order_desc>" type="hidden">
</form>

<tmpl_include footer.tmpl>

