<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
  Krang.Nav.edit_mode();
  Krang.Help.set( 'contributor' );
} );

cancel_contrib_change = function()
{
  Krang.Form.submit( 'edit_contrib_form', { rm: 'cancel_<tmpl_if add_mode>add<tmpl_else>edit</tmpl_if>' });
}

<tmpl_unless add_mode>
  delete_contrib = function()
  {
    if ( confirm( "Are you SURE you want to delete this Contributor?\n\nIf any Stories or Media are associated with this Contributor the association will be removed." ) )
      Krang.Form.submit('edit_contrib_form', { rm: 'delete' });
  }
</tmpl_unless>

<tmpl_unless associate_mode>
  save_stay = function()
  {
    Krang.Form.submit( 'edit_contrib_form', { rm: 'save_stay_<tmpl_if add_mode>add<tmpl_else>edit</tmpl_if>' }, { to_top: false });
  }
</tmpl_unless>
</script>

<h2>
<tmpl_if add_mode>
  New
<tmpl_else>
  Edit
</tmpl_if>
Contributor
</h2>

<form name="edit_contrib_form" method="post" enctype="multipart/form-data" action="contributor.pl">

<input name="rm" value="save_<tmpl_if add_mode>add<tmpl_else>edit</tmpl_if>" type="hidden">
<input name="search_filter" value="<tmpl_var escape=html search_filter>" type="hidden">
<input name="associate_mode" value="<tmpl_var escape=html associate_mode>" type="hidden">
<tmpl_unless add_mode>
  <input name="contrib_id" value="<tmpl_var escape=html contrib_id>" type="hidden">
</tmpl_unless>
<input name="krang_pager_curr_page_num" value="<tmpl_var escape=html krang_pager_curr_page_num>" type="hidden">
<input name="krang_pager_show_big_view" value="<tmpl_var escape=html krang_pager_show_big_view>" type="hidden">
<input name="krang_pager_sort_field" value="<tmpl_var escape=html krang_pager_sort_field>" type="hidden">
<input name="krang_pager_sort_order_desc" value="<tmpl_var escape=html krang_pager_sort_order_desc>" type="hidden">

<table class="request" summary="">

<colgroup>
<col class="c-label">
<col>
</colgroup>

<tbody class="demi">

<tr>
<th>Prefix</th>
<td><input name="prefix" value="<tmpl_var escape=html prefix>"></td>
</tr>

<tr<tmpl_if duplicate_name> class="err"<tmpl_else><tmpl_if error_invalid_first> class="err"</tmpl_if></tmpl_if>>
<th>First</th>
<td>
<input name="first" value="<tmpl_var escape=html first>">
</td>
</tr>

<tr<tmpl_if duplicate_name> class="err"</tmpl_if>>
<th>Middle</th>
<td>
<input name="middle" value="<tmpl_var escape=html middle>">
</td>
</tr>

<tr<tmpl_if duplicate_name> class="err"<tmpl_else><tmpl_if error_invalid_last> class="err"</tmpl_if></tmpl_if>>
<th>Last</th>
<td>
<input name="last" value="<tmpl_var escape=html last>">
</td>
</tr>

<tr>
<th>Suffix</th>
<td><input name="suffix" value="<tmpl_var escape=html suffix>"></td>
</tr>

<tr<tmpl_if error_invalid_type> class="err"</tmpl_if>>
<th>Contributor Type</th>
<td>
<select name="contrib_type_ids" size="3" multiple><tmpl_loop contrib_type_ids>
  <option value="<tmpl_var escape=html contrib_type_id>"<tmpl_if selected> selected</tmpl_if>><tmpl_var escape=html type></option>
</tmpl_loop></select>
</td>
</tr>

<tr<tmpl_if error_invalid_email> class="err"</tmpl_if>>
<th>Email</th>
<td>
<input name="email" value="<tmpl_var escape=html email>">
</td>
</tr>

<tr>
<th>Phone</th>
<td><input name="phone" value="<tmpl_var escape=html phone>"></td>
</tr>

<tr>
<th>Bio</th>
<td><textarea name="bio" rows="9" cols="50"><tmpl_var escape=html bio></textarea></td>
</tr>

<tr<tmpl_if error_invalid_url> class="err"</tmpl_if>>
<th>URL</th>
<td>
<input name="url" value="<tmpl_var escape=html url>">
</td>
</tr>

<tr>
<th>Photograph</th>
<td>
<tmpl_if media_id>
  <img alt="" src="<tmpl_var escape=html thumbnail_path>">
  <a href="javascript:Krang.preview('media','<tmpl_var escape=html media_id>')"><tmpl_var escape=html filename></a>
  <tmpl_if file_size>(<tmpl_var escape=html file_size>)</tmpl_if>
  <br>
</tmpl_if>
<input name="media_file" type="file">
</td>
</tr>

</tbody>

</table>

<div class="panel capped">
<input value="Cancel" onclick="cancel_contrib_change()" type="button" class="west">
<tmpl_unless associate_mode>
  <input value="Save &amp; Stay" onclick="save_stay()" type="button">
</tmpl_unless>
<input value="Save" type="submit">
<tmpl_unless add_mode>
  <input value="Delete" onclick="delete_contrib()" type="button">
</tmpl_unless>
</div>

</form>

<tmpl_include footer.tmpl>

