<tmpl_include /header.tmpl>

<script language="javascript" type="text/javascript">
<!-- //
    nav_edit_mode();

    function preview_media(media_id) {
        Preview = window.open("publisher.pl?rm=preview_media&media_id=" + media_id, "<tmpl_var instance_name>");
        Preview.focus();
    }

    function save_stay () {
        var myform = document.forms["edit_contrib_form"];
      <tmpl_if add_mode>
        myform.rm.value = "save_stay_add";
      <tmpl_else>
        myform.rm.value = "save_stay_edit";
      </tmpl_if>
        myform.submit();
    }


    function cancel_contrib_change () {
        var myform = document.forms["edit_contrib_form"];
      <tmpl_if add_mode>
        myform.rm.value = "cancel_add";
      <tmpl_else>
        myform.rm.value = "cancel_edit";
      </tmpl_if>
        myform.submit();
    }


    function delete_contrib () {
        var myform = document.forms["edit_contrib_form"];
        if (confirm("Are you SURE you want to delete this contributor?\n\nIf any stories or media are associated with this contributor then the association will be removed.")) {
            myform.rm.value = "delete";
            myform.submit();
        }
    }

// -->
</script>


<div class="dark-bar"><p class="left">&nbsp;<tmpl_if add_mode>Add<tmpl_else>Edit</tmpl_if> Contributor</p><p class="right"><a href="javascript:openWin('help.pl?topic=contributor')">Help</a>&nbsp;</p></div>

<div class="box">
<form name="edit_contrib_form" method="POST" enctype="multipart/form-data">
<input type="hidden" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">
<input type="hidden" name="associate_mode" value="<tmpl_var ESCAPE=HTML associate_mode>">
<tmpl_if add_mode>
  <input type="hidden" name="rm" value="save_add">
<tmpl_else>
  <input type="hidden" name="rm" value="save_edit">
  <input type="hidden" name="contrib_id" value="<tmpl_var escape=HTML contrib_id>">
</tmpl_if>

<!-- Krang::HTMLPager params -->
<input type="hidden" name="krang_pager_curr_page_num" value="<tmpl_var ESCAPE=HTML krang_pager_curr_page_num>">
<input type="hidden" name="krang_pager_show_big_view" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">
<input type="hidden" name="krang_pager_sort_field" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">
<input type="hidden" name="krang_pager_sort_order_desc" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">

<table border="0" cellpadding="5" cellspacing="0" width="100%">
<tr>
    <td align="left" valign="top">Prefix:</td>
    <td align="left" valign="top"><input type="text" size="40" name="prefix" value="<tmpl_var escape=HTML prefix>"></td>
</tr>

<tr>
    <td align="left" valign="top">First:</td>
    <td align="left" valign="top"><tmpl_if duplicate_name><span class="invalid"></tmpl_if><tmpl_if error_invalid_first><span class="invalid"></tmpl_if><input type="text" size="40" name="first" value="<tmpl_var escape=HTML first>"><tmpl_if error_invalid_first></span></tmpl_if><tmpl_if duplicate_name></span></tmpl_if></td>
</tr>

<tr>
    <td align="left" valign="top">Middle:</td>
    <td align="left" valign="top"><tmpl_if duplicate_name><span class="invalid"></tmpl_if><input type="text" size="40" name="middle" value="<tmpl_var escape=HTML middle>"><tmpl_if duplicate_name></span></tmpl_if></td>
</tr>

<tr>
    <td align="left" valign="top">Last:</td>
    <td align="left" valign="top"><tmpl_if duplicate_name><span class="invalid"></tmpl_if><tmpl_if error_invalid_last><span class="invalid"></tmpl_if><input type="text" size="40" name="last" value="<tmpl_var escape=HTML last>"><tmpl_if error_invalid_last></span></tmpl_if><tmpl_if duplicate_name></span></tmpl_if></td>
</tr>

<tr>
    <td align="left" valign="top">Suffix:</td>
    <td align="left" valign="top"><input type="text" size="40" name="suffix" value="<tmpl_var escape=HTML suffix>"></td>
</tr>

<tr>
    <td align="left" valign="top">Contributor Type:</td>
    <td align="left" valign="top"><tmpl_if error_invalid_type><span class="invalid"></tmpl_if><select name="contrib_type_ids" size="3" multiple="multiple"><tmpl_loop contrib_type_ids>
        <option value="<tmpl_var escape=HTML contrib_type_id>"<tmpl_if selected> selected</tmpl_if>><tmpl_var escape=HTML type></option></tmpl_loop>
    </select><tmpl_if error_invalid_type></span></tmpl_if></td>
</tr>

<tr>
    <td align="left" valign="top">Email:</td>
    <td align="left" valign="top"><tmpl_if error_invalid_email><span class="invalid"></tmpl_if><input type="text" size="40" name="email" value="<tmpl_var escape=HTML email>"></td>
</tr>

<tr>
    <td align="left" valign="top">Phone:</td>
    <td align="left" valign="top"><input type="text" size="40" name="phone" value="<tmpl_var escape=HTML phone>"></td>
</tr>

<tr>
    <td align="left" valign="top">Bio:</td>
    <td align="left" valign="top"><textarea cols="50" rows="9" name="bio"><tmpl_var escape=HTML bio></textarea></td>
</tr>

<tr>
    <td align="left" valign="top">URL:</td>
    <td align="left" valign="top"><tmpl_if error_invalid_url><span class="invalid"></tmpl_if><input type="text" size="40" name="url" value="<tmpl_var escape=HTML url>"></td>
</tr>

<tr>
    <td align="left" valign="top">Photograph:</td>
    <td align="left" valign="top">
                <tmpl_if media_id>
                  <img src="<tmpl_var thumbnail_path>">
                  <a href="javascript:preview_media(<tmpl_var media_id>)">
                  <tmpl_var escape=HTML filename></a>
                  <tmpl_var escape=HTML file_size>
                 <br></tmpl_if>
                <input type="file" name="media_file" size="32" class="button">
    </td>
</tr>
</table>
</div>

<div class="button-bar">
    <input type="submit" value="Save" class="button">
    <tmpl_unless associate_mode><input type="button" value="Save &amp; Stay" onClick="save_stay()" class="button"></tmpl_unless>
    <input type="reset" value="Reset" class="button">
    <tmpl_unless add_mode><input type="button" value="Delete" onClick="delete_contrib()" class="button"></tmpl_unless>
    <input type="button" value="Cancel" onClick="cancel_contrib_change()" class="button">&nbsp;
</div>


<!-- End edit_contrib_form -->
</form>
</div>

<tmpl_include /footer.tmpl>
