<tmpl_include /header.tmpl>

<script language="Javascript">
<!-- //

    function add_contrib () {
        var myform = document.forms["add_contrib_form"];
        myform.submit();
    }

    function edit_contrib (contrib_id) {
        var myform = document.forms["edit_contrib_form"];
        myform.contrib_id.value = contrib_id;
        myform.submit();
    }

    function delete_selected () {
        if (confirm("Are you SURE you want to delete these contributors?")) {
            var myform = document.forms["delete_selected_form"];
            myform.submit();
        }
    }

// -->
</script>

<form name="add_contrib_form" method="POST">
<input type="hidden" name="rm" value="add">
</form>

<form name="edit_contrib_form" method="POST">
<input type="hidden" name="rm" value="edit">
<input type="hidden" name="contrib_id" value="">
</form>

<div class="dark-bar">Contributor List</div>


<tmpl_if message_contrib_added><div class="alert">Contributor has been added.</div></tmpl_if>
<tmpl_if message_add_cancelled><div class="alert">Add contributor cancelled.</div></tmpl_if>
<tmpl_if message_contrib_saved><div class="alert">Contributor saved.</div></tmpl_if>
<tmpl_if message_save_cancelled><div class="alert">Edit contributor cancelled.</div></tmpl_if>
<tmpl_if message_selected_deleted><div class="alert">Checked contributors deleted.</div></tmpl_if>
<tmpl_if message_contrib_deleted><div class="alert">Contributor deleted.</div></tmpl_if>


SEARCH
<form name="search_form" method="POST">
<input type="hidden" name="rm" value="search">
<input type="hidden" name="search_page" value="<tmpl_var ESCAPE=HTML search_page>">
<input type="textfield" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">
<input type="submit" value="Search">
</form>


<br />

<a href="javascript:add_contrib()">Add A Contributor</a><br />

<br />



<form name="delete_selected_form" method="POST">
<input type="hidden" name="rm" value="delete_selected">


<TMPL_IF contributors>

  <table cellspacing="0" width="100%">

      <tr class="form-head">
          <th>Last Name</th>
          <th>First Name</th>
          <th>Type</th>
          <th>Edit</th>
          <th>[]</th>
      </tr>

  <tmpl_loop contributors>
      <tr>
          <td class="form-cell"><tmpl_var ESCAPE=HTML last></td>
          <td class="form-cell"><tmpl_var ESCAPE=HTML first></td>
          <td class="form-cell"><tmpl_loop types><tmpl_var ESCAPE=HTML type_name><tmpl_unless __last__>, </tmpl_unless></tmpl_loop></td>
          <td class="form-cell"><a href="javascript:edit_contrib('<tmpl_var ESCAPE=HTML contrib_id>')">Edit</a></td>
          <td class="form-cell"><input type="checkbox" name="contrib_delete_list" value="<tmpl_var ESCAPE=HTML contrib_id>"></td>
      </tr>

  </tmpl_loop>
 
  </table>

  <div class="button-bar"><input type="button" value="Delete Checked" onClick="delete_selected()"></div>

<TMPL_ELSE>

  <b>No Contributors Found</b>

</TMPL_IF>


<!-- End delete_selected_form -->
</form>


<tmpl_include /footer.tmpl>

