<tmpl_include /header.tmpl>

<script language="Javascript">
<!-- //

    function add_contrib () {
        var myform = document.forms["add_contrib_form"];
        myform.submit();
    }

    function edit_contrib (contrib_id) {
        var myform = document.forms["edit_contrib_form"];
        myform.contrib_id.value = contrib_id;
        myform.submit();
    }

    function delete_selected () {
        if (confirm("Are you SURE you want to delete these contributors?")) {
            var myform = document.forms["delete_selected_form"];
            myform.rm.value = 'delete_selected';
            myform.submit();
        }
    }

// -->
</script>

<form name="add_contrib_form" method="POST">
<input type="hidden" name="rm" value="add">
<input type="hidden" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">
</form>

<form name="edit_contrib_form" method="POST">
<input type="hidden" name="rm" value="edit">
<input type="hidden" name="contrib_id" value="">
<input type="hidden" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">
</form>

<div class="dark-bar">Contributor List</div>

<table width="100%">
<form name="search_form" method="POST">
<tr><td class="form-head">
SEARCH<br />
<input type="hidden" name="rm" value="search">
<input type="hidden" name="search_page" value="<tmpl_var ESCAPE=HTML search_page>">
<input type="textfield" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">
<input type="submit" value="Search">
</td></tr>
</form>
</table>


<br />

<b><a href="javascript:add_contrib()">Add A Contributor</a></b>

<br />



<form name="delete_selected_form" method="POST">
<input type="hidden" name="rm" value="search">
<input type="hidden" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">



<!-- START Krang::HTMLPager output -->
<tmpl_var pager_html>
<!-- END Krang::HTMLPager output -->





<tmpl_if row_count>
  <div class="button-bar"><input type="button" value="Delete Checked" onClick="delete_selected()"></div>
</tmpl_if>




<!-- End delete_selected_form -->
</form>


<tmpl_include /footer.tmpl>

