<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
  Krang.Help.set( 'contrib_list' );
  Krang.Form.toggle_list_btn();
} );

add_contrib = function()
{
  Krang.Form.submit('add_contrib_form');
}

<tmpl_if row_count>
  edit_contrib = function( id )
  {
    Krang.Form.submit('edit_contrib_form', { contrib_id: id });
  }

  delete_selected = function()
  {
    if ( !Krang.pager_row_checked() )
      alert( Krang.L10N.loc('Nothing selected to delete!') );
    else if ( confirm( Krang.L10N.loc("Are you SURE you want to delete these Contributors?\n\nIf any Stories or Media are associated with these Contributors the association will be removed.") ) )
      Krang.Form.submit('krang_pager_form', { rm: 'delete_selected' }, { to_top: false });
  }
</tmpl_if>
</script>

<h2>
<tmpl_lang Contributors>
</h2>

<form name="search_form" id="search_form" action="contributor.pl" method="post">
<input name="rm" value="search" type="hidden">
<input name="edit_uuid" value="<tmpl_var escape=html edit_uuid>" type="hidden">
<input name="krang_pager_curr_page_num" value="" type="hidden">
<input name="krang_pager_show_big_view" value="<tmpl_var escape=html krang_pager_show_big_view>" type="hidden">
<input name="krang_pager_sort_field" value="<tmpl_var escape=html krang_pager_sort_field>" type="hidden">
<input name="krang_pager_sort_order_desc" value="<tmpl_var escape=html krang_pager_sort_order_desc>" type="hidden">

<div class="tabset finder">

<ul class="tabs"><li>
<b><span>
<tmpl_lang Simple Search>
</span></b>
</li></ul>

<div class="tabbed">

<div class="faux-p">
<input name="search_filter" value="<tmpl_var escape=html search_filter>" class="autocomplete">
<input value="<tmpl_lang Search>" type="submit" class="button">
</div>

</div>

</div>

</form>

<h3>
<tmpl_lang Search Results>
</h3>

<div class="panel"><form<tmpl_unless row_count> class="clearfix"</tmpl_unless>>
<input value="<tmpl_lang Add Contributor>" onclick="add_contrib()" type="button" class="west">
<tmpl_if row_count>
  <input value="<tmpl_lang Delete>" onclick="delete_selected()" type="button" class="list-btn">
</tmpl_if>
</form></div>

<!--Krang::HTMLPager:-->
<tmpl_var pager_html>
<!--:Krang::HTMLPager-->

<div class="panel capped"><form<tmpl_unless row_count> class="clearfix"</tmpl_unless>>
<input value="<tmpl_lang Add Contributor>" onclick="add_contrib()" type="button" class="west">
<tmpl_if row_count>
  <input value="<tmpl_lang Delete>" onclick="delete_selected()" type="button" class="list-btn">
</tmpl_if>
</form></div>

<form name="add_contrib_form" id="add_contrib_form" action="contributor.pl" method="post">
<input name="rm" value="add" type="hidden">
<input name="edit_uuid" value="<tmpl_var escape=html edit_uuid>" type="hidden">
<input name="search_filter" value="<tmpl_var escape=html search_filter>" type="hidden">
<input name="krang_pager_curr_page_num" value="<tmpl_var escape=html krang_pager_curr_page_num>" type="hidden">
<input name="krang_pager_show_big_view" value="<tmpl_var escape=html krang_pager_show_big_view>" type="hidden">
<input name="krang_pager_sort_field" value="<tmpl_var escape=html krang_pager_sort_field>" type="hidden">
<input name="krang_pager_sort_order_desc" value="<tmpl_var escape=html krang_pager_sort_order_desc>" type="hidden">
</form>

<tmpl_if row_count>
  <form name="edit_contrib_form" id="edit_contrib_form" action="contributor.pl" method="post">
  <input name="rm" value="edit" type="hidden">
  <input name="edit_uuid" value="<tmpl_var escape=html edit_uuid>" type="hidden">
  <input name="contrib_id" value="" type="hidden">
  <input name="search_filter" value="<tmpl_var escape=html search_filter>" type="hidden">
  <input name="krang_pager_curr_page_num" value="<tmpl_var escape=html krang_pager_curr_page_num>" type="hidden">
  <input name="krang_pager_show_big_view" value="<tmpl_var escape=html krang_pager_show_big_view>" type="hidden">
  <input name="krang_pager_sort_field" value="<tmpl_var escape=html krang_pager_sort_field>" type="hidden">
  <input name="krang_pager_sort_order_desc" value="<tmpl_var escape=html krang_pager_sort_order_desc>" type="hidden">
  </form>
</tmpl_if>

<tmpl_include footer.tmpl>

