<tmpl_include /header.tmpl>

<script language="javascript" type="text/javascript">
<!-- //

    add_contrib  = function () {
        var myform = document.forms["add_contrib_form"];
        myform.submit();
    }

    edit_contrib  = function (contrib_id) {
        var myform = document.forms["edit_contrib_form"];
        myform.contrib_id.value = contrib_id;
        myform.submit();
    }

    delete_selected  = function () {
        if (confirm("Are you SURE you want to delete this contributor?\n\nIf any stories or media are associated with these contributors then the association will be removed.")) {
            var myform = document.forms["krang_pager_form"];
            myform.rm.value = 'delete_selected';
            myform.submit();
        }
    }

// -->
</script>

<form name="add_contrib_form" method="POST" action="contributor.pl">
<input type="hidden" name="rm" value="add">
<input type="hidden" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">

<!-- Krang::HTMLPager params -->
<input type="hidden" name="krang_pager_curr_page_num" value="<tmpl_var ESCAPE=HTML krang_pager_curr_page_num>">
<input type="hidden" name="krang_pager_show_big_view" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">
<input type="hidden" name="krang_pager_sort_field" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">
<input type="hidden" name="krang_pager_sort_order_desc" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">

</form>

<form name="edit_contrib_form" method="POST" action="contributor.pl">
<input type="hidden" name="rm" value="edit">
<input type="hidden" name="contrib_id" value="">
<input type="hidden" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">

<!-- Krang::HTMLPager params -->
<input type="hidden" name="krang_pager_curr_page_num" value="<tmpl_var ESCAPE=HTML krang_pager_curr_page_num>">
<input type="hidden" name="krang_pager_show_big_view" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">
<input type="hidden" name="krang_pager_sort_field" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">
<input type="hidden" name="krang_pager_sort_order_desc" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">

</form>

<div class="dark-bar"><p class="left">&nbsp;Contributor List</p><p class="right"><a href="javascript:openWin('help.pl?topic=contributor')">Help</a>&nbsp;</p></div>

<div class="boxb"> 
 <div class="light">
 <p>SEARCH</p>
<form name="search_form" method="POST" action="contributor.pl">
  <input type="hidden" name="rm" value="search">
<input type="text" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">&nbsp;&nbsp;&nbsp;<input type="submit" value="Search" class="button"><br><span style="font-size: smaller;">(by full name)</span></div>

<!-- Krang::HTMLPager params -->
<input type="hidden" name="krang_pager_curr_page_num" value="">
<input type="hidden" name="krang_pager_show_big_view" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">
<input type="hidden" name="krang_pager_sort_field" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">
<input type="hidden" name="krang_pager_sort_order_desc" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">

</form>
<div class="no-border">

<b><a href="javascript:add_contrib()">Add A Contributor</a></b></div><br>


<!-- START Krang::HTMLPager output -->
<tmpl_var pager_html>
<!-- END Krang::HTMLPager output -->
    </div>

<tmpl_if row_count>
  <div class="button-bar"><input type="button" value="Delete Checked" onClick="delete_selected()" class="button">&nbsp;</div>
</tmpl_if>
</div>
<tmpl_include /footer.tmpl>
