<!--HTMLPager/pager-pagination.tmpl:-->

<div class="pages enclose">

<p>
<tmpl_lang Showing>
<tmpl_var start_row> &ndash; <tmpl_var end_row>
<tmpl_lang of> <tmpl_var found_count>
<tmpl_lang Results>

<tmpl_if show_big_view>
  <a href="javascript:Krang.Pager.show_big_view(0)"><tmpl_lang Show> <tmpl_var user_page_size> <tmpl_lang Per Page></a>
<tmpl_else><tmpl_if page_numbers>
  <a href="javascript:Krang.Pager.show_big_view(1)"><tmpl_lang Show> <tmpl_var big_view_page_size default="100"> <tmpl_lang Per Page></a>
</tmpl_if></tmpl_if>
</p>

<ul>
<li><tmpl_if prev_page_number><a href="javascript:Krang.Pager.goto_page(<tmpl_var prev_page_number>)" class="l">
  &laquo;
</a></tmpl_if></li><tmpl_loop page_numbers><li><tmpl_if is_current_page><b<tmpl_if __last__> class="l"</tmpl_if>>
  <tmpl_var page_number>
</b><tmpl_else><a href="javascript:Krang.Pager.goto_page(<tmpl_var page_number>)"<tmpl_if __last__> class="l"</tmpl_if>>
  <tmpl_var page_number_label>
</a></tmpl_if></li></tmpl_loop><li><tmpl_if next_page_number><a href="javascript:Krang.Pager.goto_page(<tmpl_var next_page_number>)" class="l">
  &raquo;
</a></tmpl_if></li>
</ul>

</div>

<!--:HTMLPager/pager-pagination.tmpl-->

