<!-- Pager Internals: START -->


<script language="Javascript">
<!-- //

    function go_page (object, page_num) {
        var myform = object.form;
        myform.krang_pager_curr_page_num.value = page_num;

      <tmpl_if javascript_presubmit>
        if (<tmpl_var javascript_presubmit>) {
            myform.submit();
        }

      <tmpl_else>
        myform.submit();

      </tmpl_if>
    }


    function do_sort (object, sort_field, sort_order) {
        var myform = object.form;
        myform.krang_pager_sort_field.value = sort_field;
        myform.krang_pager_sort_order.value = sort_order;
        go_page(object, "1");
    }

// -->
</script>


<input type="hidden" name="krang_pager_curr_page_num" value="<tmpl_var curr_page_num>">
<input type="hidden" name="krang_pager_sort_field" value="<tmpl_var sort_field>">
<input type="hidden" name="krang_pager_sort_order" value="<tmpl_var sort_order>">
<tmpl_var pager_persist_data>


<!-- Pager Internals: END -->
