<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en-US">
<head>
<title>Krang Preview Editor</title>
<frameset cols="100%">
<frame id="preview_frame" name='<tmpl_var json>' src="<tmpl_var story_preview_url>"/></head>
</frame>
</frameset><body>
</body>
</html>
