<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html401/loose.dtd">

<html>
<head>
<title>Processing <tmpl_if preview>Preview<tmpl_else>Publish</tmpl_if> Request</title>
<link rel="stylesheet" href="/krang.css" type="text/css" />
</head>
<script language='javascript'>
   update_progress_bar  = function (counter, total, string) {
      var bar = document.getElementById("progress_bar");
      var prog = (counter + 1)/total;
      var width = Math.floor(prog * 300);
      bar.style.width = width + 'px';
      bar.innerHTML = Math.floor(prog * 100) + "%";

      var label = document.getElementById("progress_bar_label");
      label.innerHTML = string;
   }
</script>
<body>
<div class="publish">
<div class="dark-bar"><p class="center">Processing <tmpl_if preview>Preview<tmpl_else>Publish</tmpl_if> Request</p></div>
<div class="box"><br>
<div style="margin-top: 10px; border: 1px solid #bababa; padding: 1px; width: 300px; height: 15px; margin-left: auto; margin-right: auto; text-align: left;" class="light"><div id="progress_bar" style="width: 0px; height: 15px; text-align: right; overflow: clip;" class="bright"></div></div>
<div style="text-align: center" id="progress_bar_label">&nbsp;</div>
<br></div></div>
