<tmpl_include /header.tmpl>

<script language="JavaScript" type="text/javascript">

    function preview_story(id) {
      window.open("publisher.pl?rm=preview_story&story_id=" + id, "");
    }
    
    function preview_media(id) {
      window.open("publisher.pl?rm=preview_media&media_id=" + id, "");
    }

</script>
  
  <div class="dark-bar">Publish Story</div>

  <form method=get action="publisher.pl">

  <div class=form-box>
    
  <table class=form-cell cellspacing=0 vspace=0 hspace=0 cellpadding=0 width=100%>
    <tr class=form-head>
      <td colspan=4><b>Stories</b>&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr class=form-head>
      <td>ID</td>
      <td>URL</td>
      <td colspan=2>Title</td>
    </tr>
    
    <!-- stories loop -->
    <tmpl_loop stories>
      <tr>
        <td class=form-cell><tmpl_var id></td>
        <td class=form-cell><tmpl_var url></td>
        <td class=form-cell colspan=2><tmpl_var title></td>
      </tr>
    </tmpl_loop>
    <!-- /stories loop -->

  <p>
    <tr>
      <td colspan=4>&nbsp;</td>
    </tr>
    <tr class=form-head>
      <td colspan=4><b>Media</b>&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr class=form-head>
      <td>ID</td>
      <td>URL</td>
      <td>Title</td>
      <td>Thumbnail</td>
    </tr>
    
    <!-- media loop -->
    <tmpl_loop media>
      <tr>
        <td class=form-cell><tmpl_var id></td>
        <td class=form-cell><tmpl_var url></td>
        <td class=form-cell><tmpl_var title></td>
        <td class=form-cell><tmpl_if thumbnail><a href="javascript:preview_media(<tmpl_var id>)"><img src="<tmpl_var thumbnail>" border=0></a><tmpl_else>&nbsp;</tmpl_if></td>
      </tr>
    </tmpl_loop>
    <!-- /media loop -->
  </table>

  <input type=hidden name=rm value="publish_assets">
  <tmpl_loop name=asset_id_list>
    <input type=hidden name="asset_id_list" value="<tmpl_var id>">
  </tmpl_loop>

  <p>

  <table class=form-cell width=100% cellpadding=0 cellspacing=0>
    <tr class=form-head-thin>
      <td colspan=2>Schedule Publish Time</td>
    </tr>
    
    <tr>
      <td class=form-cell><input type="radio" name="publish_now" value="1" checked="checked"/></td>
      <td class=form-cell>Now</td>
    </tr>
    <tr>
      <td class=form-cell><input type="radio" name="publish_now" value="0"/></td>
      <td class=form-cell>At: <tmpl_if bad_publish_date><span class="invalid"></tmpl_if>
        <tmpl_var publish_date_chooser>
          <tmpl_if bad_publish_date></span></tmpl_if>
      </td>
    </tr>
    
  </table>

</div>

<div class="button-bar">
   <input type="submit" name="Publish" value="Publish">
</div>
  
</form>

<tmpl_include /footer.tmpl>
