<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
  Krang.Help.set('publisher_list');
} );
</script>

<h2>

<tmpl_if stories><!--(db2)hack plural:-->
  <tmpl_loop stories>
    <tmpl_if __first__>
      <tmpl_if __last__>
        <tmpl_lang Publish Story>
      <tmpl_else>
        <tmpl_lang Publish Stories>
      </tmpl_if>
    </tmpl_if>
  </tmpl_loop>
</tmpl_if>

<tmpl_if media>
  <tmpl_if stories>
    &amp;
  <tmpl_else>
    <tmpl_lang Publish>
  </tmpl_if>

  <tmpl_lang Media>
</tmpl_if>
</h2>

<form name="pub" action="publisher.pl" method="post" class="non_ajax">

<input name="rm" value="publish_assets" type="hidden">
<tmpl_loop asset_id_list>
  <input name="asset_id_list" value="<tmpl_var escape=html id>" type="hidden">
</tmpl_loop>
<input name="return_script" value="<tmpl_var escape=html return_script>" type="hidden">
<tmpl_loop return_params_loop>
  <input name="return_params" value="<tmpl_var escape=html name>" type="hidden">
  <input name="return_params" value="<tmpl_var escape=html value>" type="hidden">
</tmpl_loop>

<h3>
<tmpl_lang Publication Materials>
</h3>

<div class="table-container">
<img src="<tmpl_var static_url>/images/corner-top-left.gif" class="left-corner">
<img src="<tmpl_var static_url>/images/corner-top-right.gif" class="right-corner">
<table cellspacing="0" class="result" summary="">

<colgroup>
<col class="c-id">
<col class="c-type">
<col>
<col>
<tmpl_if media>
  <col class="c-thumb">
</tmpl_if>
<col>
</colgroup>

<thead>
<tr>
<th class="f"><tmpl_lang ID></th>
<th><tmpl_lang Type></th>
<th><tmpl_lang Title></th>
<th><tmpl_lang URL></th>
<tmpl_if media>
  <th></th>
</tmpl_if>
<th class="l"><tmpl_lang Status></th>
</tr>
</thead>

<!--FIXME(zebra):-->
<tbody>

<tmpl_if media>

  <tmpl_loop stories>
    <tr class="<tmpl_if even> even</tmpl_if><tmpl_if checked_out> err</tmpl_if>">
    <td class="f"><tmpl_var escape=html id></td>
    <td><tmpl_lang Story></td>
    <td><tmpl_var escape=html title></td>
    <td><tmpl_var url><!--:markup--></td>
    <td></td>
    <td class="l"><tmpl_var status><!--:markup--></td>
    </tr>
  </tmpl_loop>

  <tmpl_loop media>
    <tr class="<tmpl_if even> even</tmpl_if><tmpl_if checked_out> err</tmpl_if>">
    <td class="f"><tmpl_var escape=html id></td>
    <td><tmpl_lang Media></td>
    <td><tmpl_var escape=html title></td>
    <td><tmpl_var url><!--:markup--></td>
    <td><tmpl_if thumbnail>
      <a href="" title="<tmpl_lang Preview> <tmpl_var escape=html title>" class="media-preview-link" name="media_<tmpl_var escape=html id>"><img alt="" src="<tmpl_var escape=html thumbnail>"></a>
    </tmpl_if></td>
    <td class="l"><tmpl_var status><!--:markup--></td>
    </tr>
  </tmpl_loop>

<tmpl_else>

  <tmpl_loop stories>
    <tr class="<tmpl_if even> even</tmpl_if><tmpl_if checked_out> err</tmpl_if>">
    <td class="f"><tmpl_var escape=html id></td>
    <td><tmpl_lang Story></td>
    <td><tmpl_var escape=html title></td>
    <td><tmpl_var url><!--:markup--></td>
    <td class="l"><tmpl_var status><!--:markup--></td>
    </tr>
  </tmpl_loop>

</tmpl_if>

</tbody>

</table></div>

<h3>
<tmpl_lang Publication Time>
</h3>

<table class="request" summary=""><!--:FIX(db2)-->

<colgroup>
<col class="c-label">
<col>
</colgroup>

<tbody>

<tr>
<th colspan="2">
<input name="publish_now" value="1" type="radio" checked>
<tmpl_lang Immediate>
</th>
</tr>

<tr<tmpl_if bad_publish_date> class="err"</tmpl_if>>
<th>
<input name="publish_now" value="0" type="radio">
<tmpl_lang Scheduled For>
</th>
<td>
<tmpl_var publish_date_chooser>
</td>
</tr>

</tbody>

</table>

<div class="panel capped">
<input value="<tmpl_lang Publish>" name="Publish" type="submit">
</div>

</form>

<tmpl_include footer.tmpl>

