<tmpl_include header.tmpl>

<script language="javascript" type="text/javascript">
  nav_edit_mode();

  function preview_story_session() {
        Preview = window.open("publisher.pl?rm=preview_story&session=story", "<tmpl_var "instance_name">");
        Preview.focus();
  }
        
  function db_save() {
        document.forms[0].rm.value = 'db_save';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); } 
  }

  function db_save_and_stay() {
        document.forms[0].rm.value = 'db_save_and_stay';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function check_in() {
        document.forms[0].rm.value = 'check_in';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function save_and_jump() {
        document.forms[0].rm.value = 'save_and_jump';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function save_and_publish() {
        document.forms[0].rm.value = 'save_and_publish';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function save_and_add() {
        document.forms[0].rm.value = 'save_and_add';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function save_and_go_up() {
        document.forms[0].rm.value = 'save_and_go_up';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function save_and_stay() {
        document.forms[0].rm.value = 'save_and_stay';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function save_and_view() {
        document.forms[0].rm.value = 'save_and_view';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function save_and_view_log() {
        document.forms[0].rm.value = 'save_and_view_log';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function save_and_edit_schedule() {
        document.forms[0].rm.value = 'save_and_edit_schedule';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function save_and_bulk_edit() {
        document.forms[0].rm.value = 'save_and_bulk_edit';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }


  function save_and_leave_bulk_edit() {
        document.forms[0].rm.value = 'save_and_leave_bulk_edit';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function save_and_edit_contribs() {
        document.forms[0].rm.value = 'save_and_edit_contribs';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function remove() {
        if (confirm("Really delete this story?")) {
           document.forms[0].rm.value = 'delete';
           if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
        }
  }


  function revert() {
        var v = document.forms[0].version.options[document.forms[0].version.selectedIndex].value;
        if (confirm("Really discard changes and revert to version " + v + "?")) {
           document.forms[0].rm.value = 'revert';
           if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
        }
  }

  function add_category() {
        document.forms[0].rm.value = 'add_category';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function remove_categories() {
        if (confirm("Really delete categories?")) {
           document.forms[0].rm.value = 'delete_categories';
           if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
        }
  }

  function set_primary_category() {
        document.forms[0].rm.value = 'set_primary_category';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

</script>

<form method="post" name="edit" enctype="multipart/form-data">
<input type="hidden" name="rm" value="edit">

<div class="dark-bar"><p class="left">&nbsp;Edit Story</p><p class="right"><tmpl_if is_root><tmpl_if story_id><a href="javascript:save_and_view_log()">Log</a> | <a href="javascript:save_and_edit_schedule()">Schedule</a> | </tmpl_if></tmpl_if><a href="javascript:openWin('help.pl?topic=story_edit')">Help</a>&nbsp;</p></div>

<div class="boxb">
<table width="100%" cellpadding="5" cellspacing="0" border="0">

<tr class="light">
<td width="135">ID:</td>
<td><tmpl_var story_id></td>
</tr>

<tr class="light">
<td>Type:</td>
<td><tmpl_var type></td>
</tr>

<tmpl_if is_root>

<tr class="light">
<td>Current Version:</td>
<td><tmpl_var version></td>
</tr>

<tr class="light">
<td>Published Version:</td>
<td><tmpl_if published_version><tmpl_var published_version><tmpl_else>[n/a]</tmpl_if></td>
</tr>

</tmpl_if>

<tr class="light">
<td>URL:</td>
<td><tmpl_var url></td>
</tr>

<tmpl_if is_root>

<tr>
<td>*Title:</td>
<td><input <tmpl_if bad_title>class="invalid"</tmpl_if> type="text" size="40" value="<tmpl_var escape=html title>" name="title"></td>
</tr>

<tr>
<td>Slug:</td>
<td>
   <input <tmpl_if bad_slug>class="invalid"</tmpl_if> type="text" size="15" value="<tmpl_var escape=html slug>" name="slug">
</td>
</tr>

<tr>
<td>*Cover Date:</td>
<td>
    <tmpl_if bad_cover_date><span class="invalid"></tmpl_if>
       <tmpl_var cover_date_selector>
    <tmpl_if bad_cover_date></span></tmpl_if>
</td>
</tr>

<tr>
<td>Priority:</td>
<td><tmpl_var priority_selector></td>
</tr>

<tr>
<td>Contributors:</td>
<td>
<table border="0"><tr><td>
<tmpl_if contribs_loop>
  <tmpl_loop contribs_loop>
     <tmpl_var first_name> <tmpl_var last_name> (<tmpl_var type>)<tmpl_unless __last__>, </tmpl_unless>
  </tmpl_loop>
<tmpl_else>
  None.
</tmpl_if>
</td>
<td valign="top"><input type="button" value="Edit Contributors" onclick="save_and_edit_contribs()" class="button"></td>
</tr></table>
</td>
</tr>

</tmpl_if>

</table>
</div>
<div class="boxc">
<tmpl_include /ElementEditor/edit.tmpl>
</div>
<tmpl_if is_root>

<div class="boxc">
<p>Sites/Categories</p>
<table border="0" cellpadding="0" cellspacing="0" class="form-cell">
  <tr class="form-head">
    <td width="125">Site</td>
    <td width="275">Category</td>
    <td width="85">Primary</td>
    <td width="75"><input type="checkbox" onclick="checkall(this, 'cat_remove_')"></td>
  </tr> 

  <tmpl_unless category_loop>
  <tr>
    <td class="form-cell" colspan="4"><span class="invalid">No categories assigned!</span></td>
  </tr>
  </tmpl_unless>  

  <tmpl_loop category_loop>
  <tr>
    <td class="form-cell"><tmpl_var site></td>
    <td class="form-cell"><tmpl_var category></td>
    <td class="form-cell"><input type="radio" name="primary_category_id" value="<tmpl_var category_id>" <tmpl_if __first__>checked</tmpl_if>></td>
    <td class="form-cell"><tmpl_unless __first__><input type="checkbox" name="cat_remove_<tmpl_var category_id>"><tmpl_else>&nbsp;</tmpl_unless></td>
  </tr>
  </tmpl_loop>

  <tr>
    <td align="left" colspan="2" class="form-cell"><tmpl_var category_chooser></td>
    <td class="form-cell" align="center"><input type="button" value="Set" onclick="set_primary_category()" class="button"></td>
    <td align="center" class="form-cell"><input type="button" value="Delete" onClick='remove_categories()' class="button"></td>
  </tr>
</table>
</div>

</tmpl_if> 



<tmpl_if is_root>

<div class="boxc">
  
  <table width="568" cellpadding="0" border="0" class="no-border"><tr>
    <td width="210">
      Desk: <select name="checkin_to"><tmpl_loop desk_loop><option value="<tmpl_var choice_desk_id>"><tmpl_var choice_desk_name></tmpl_loop></select>&nbsp;
      <input type="button" value="Check In" onclick="check_in()" class="button">
    </td>
    <td align="right" width="348">
      Version: <tmpl_var version_selector>&nbsp;
      <input type="button" value="Revert" onclick="revert()" class="button">&nbsp;
      <input type="button" value="View" onclick="save_and_view()" class="button">
    </td></tr>
    </table>
</div>
</tmpl_if>

<div class="button-bar">
  <tmpl_if is_root>
     <div style="float:left;"><input type="button" value="Delete" onclick="remove()" class="button"></div>
    <input type="button" value="Save" onclick="db_save()" class="button">
    <input type="button" value="Save &amp; Stay" onclick="db_save_and_stay()" class="button">
    <tmpl_if may_publish><input type="button" value="Publish" onclick="save_and_publish()" class="button"></tmpl_if>
    <input type="reset" value="Reset" class="button">
  <tmpl_else>
    <tmpl_unless bulk_edit>
      <div style="float:left;"><input type="button" value="Delete" onclick="remove_element()" class="button"></div>
    </tmpl_unless>
    <tmpl_if bulk_edit>
      <input type="button" value="Save" onclick="save_and_leave_bulk_edit()" class="button">
    <tmpl_else>
      <input type="button" value="Save" onclick="save_and_go_up()" class="button">
    </tmpl_if>
    <input type="button" value="Save &amp; Stay" onclick="save_and_stay()" class="button">
    <input type="reset" value="Reset" class="button">
  </tmpl_if>

&nbsp;&nbsp;&nbsp;</div>

</form>
</div>
<tmpl_include footer.tmpl>
