<tmpl_include header.tmpl>

<script language="javascript">
  function save_and_stay () {
     document.edit.rm.value = 'edit';
     document.edit.submit();
  }

  function edit_contribs () {
     document.contrib.submit();
  }

</script>

<form method=post name=edit>
<input type=hidden name=rm value=edit>


<tmpl_loop alerts_loop>
  <div class="alert">* <tmpl_var alert></div>
</tmpl_loop>

<div class=dark-bar>Edit Story</div>

<div class=tight-form-box>

<table width=100% cellpadding=2 cellspacing=0>

<tr class=light>
<td>ID:</td>
<td><tmpl_var story_id></td>
</tr>

<tr class=light>
<td>Type:</td>
<td><tmpl_var type></td>
</tr>

<tmpl_if root_edit>

<tr class=light>
<td>Current Version:</td>
<td><tmpl_var version></td>
</tr>

<tr class=light>
<td>Published Version:</td>
<td><tmpl_if published_version><tmpl_var published_version><tmpl_else>n/a</tmpl_if></td>
</tr>

</tmpl_if>

<tr class=light>
<td>URL:</td>
<td><a href="#"><tmpl_var url></a></td>
</tr>

<tmpl_if root_edit>

<tr>
<td>*Title:</td>
<td><input <tmpl_if bad_title>class="invalid"</tmpl_if> type=text size=40 value="<tmpl_var escape=html title>" name=title></td>
</tr>

<tr>
<td>*Slug:</td>
<td>
   <input <tmpl_if bad_slug>class="invalid"</tmpl_if> type=text size=15 value="<tmpl_var escape=html slug>" name=slug>
</td>
</tr>

<tr>
<td>*Cover Date:</td>
<td>
    <tmpl_if bad_cover_date><span class="invalid"></tmpl_if>
       <tmpl_var cover_date_selector>
    <tmpl_if bad_cover_date></span></tmpl_if>
</td>
</tr>

<tr>
<td>Priority:</td>
<td><tmpl_var priority_selector></td>
</tr>

<tr>
<td>Contributors:</td>
<td>
<tmpl_if contribs>
  <tmpl_loop contribs_loop>
     <tmpl_var first_name> <tmpl_var last_name> (<tmpl_var type>)
  </tmpl_loop>
<tmpl_else>
  None.
</tmpl_if>
<input type=button value="Edit Contributors" onclick="edit_contribs()">
</td>
</tr>

</tmpl_if>

</table>
</div>

<p>

<div class=form-box>

<tmpl_include /element_editor_edit.tmpl>

</div>


<div class=button-bar>
  <input type=button value="Save" onclick="save()">
  <input type=button value="Save &amp; Stay" onclick="save_and_stay()">
  <input type=button value="Publish" onclick="publish()">
  <input type=reset value="Reset">
  <input type=button value="Delete" onclick="remove()">
</div>

</form>

<form name="contrib" action="contributor.pl" method="post">
   <input type=hidden name=rm value=associate_story>
</form>


<tmpl_include footer.tmpl>
