<tmpl_include header.tmpl>

<script language="JavaScript" type="text/javascript">

  function preview_story(id) {
        window.open("publisher.pl?rm=preview_story&story_id=" + id, "");
  }

  function edit_story (id) {
    document.find_story.rm.value = 'checkout_and_edit';
    document.find_story.story_id.value = id;
    document.find_story.submit();
  }


  function view_story (id) {
    document.find_story.rm.value = 'view';
    document.find_story.story_id.value = id;
    document.find_story.submit();
  }

  function view_story_log (id) {
    document.view_story_log.story_id.value = id;
    document.view_story_log.submit();
  }


  function delete_selected () {
    if (confirm("Are you SURE you want to delete the checked stories?")) {
      var myform = document.krang_pager_form;
      myform.rm.value = 'delete_selected';
      myform.submit();
    }
  }

  function checkout_selected () {
    var myform = document.krang_pager_form;
    myform.rm.value = 'checkout_selected';
    myform.submit();
  }

  function show_advanced_search (show_advanced) {
    var myform = document.krang_pager_form;
    myform.do_advanced_search.value = show_advanced;
    myform.submit();
  }

  function clear_advanced_search () {
    var myform = document.clear_advanced_search_form;
    myform.submit();
  }

</script>

<form method=post name=view_story_log action=history.pl>
  <input type="hidden" name="story_id">

<!-- Set up history mode return -->
<input type="hidden" name="history_return_script" value="story.pl">

<input type="hidden" name="history_return_params" value="rm">
<input type="hidden" name="history_return_params" value="find">

<tmpl_if do_advanced_search>
  <input type="hidden" name="history_return_params" value="search_title">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_title>">

  <input type="hidden" name="history_return_params" value="search_url">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_url>">

  <input type="hidden" name="history_return_params" value="search_cover_from_day">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_cover_from_day>">

  <input type="hidden" name="history_return_params" value="search_cover_from_month">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_cover_from_month>">

  <input type="hidden" name="history_return_params" value="search_cover_from_year">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_cover_from_year>">

  <input type="hidden" name="history_return_params" value="search_cover_to_day">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_cover_to_day>">

  <input type="hidden" name="history_return_params" value="search_cover_to_month">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_cover_to_month>">

  <input type="hidden" name="history_return_params" value="search_cover_to_year">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_cover_to_year>">

  <input type="hidden" name="history_return_params" value="search_publish_from_day">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_publish_from_day>">

  <input type="hidden" name="history_return_params" value="search_publish_from_month">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_publish_from_month>">

  <input type="hidden" name="history_return_params" value="search_publish_from_year">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_publish_from_year>">

  <input type="hidden" name="history_return_params" value="search_publish_to_day">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_publish_to_day>">

  <input type="hidden" name="history_return_params" value="search_publish_to_month">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_publish_to_month>">

  <input type="hidden" name="history_return_params" value="search_publish_to_year">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_publish_to_year>">

  <input type="hidden" name="history_return_params" value="search_class">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_class>">

  <input type="hidden" name="history_return_params" value="search_story_id">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_story_id>">

  <input type="hidden" name="history_return_params" value="search_contrib_simple">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_contrib_simple>">

  <input type="hidden" name="history_return_params" value="search_creator_simple">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_creator_simple>">

  <input type="hidden" name="history_return_params" value="search_below_primary_category_id">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_below_primary_category_id>">

<tmpl_else>

  <input type="hidden" name="history_return_params" value="search_filter">
  <input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML search_filter>">

</tmpl_if>

<input type="hidden" name="history_return_params" value="do_advanced_search">
<input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML do_advanced_search>">

<input type="hidden" name="history_return_params" value="krang_pager_curr_page_num">
<input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML krang_pager_curr_page_num>">

<input type="hidden" name="history_return_params" value="krang_pager_show_big_view">
<input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">

<input type="hidden" name="history_return_params" value="krang_pager_sort_field">
<input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">

<input type="hidden" name="history_return_params" value="krang_pager_sort_order_desc">
<input type="hidden" name="history_return_params" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">

</form>

<form method=post name=find_story>
<input type="hidden" name="rm" value="find">
<input type="hidden" name="story_id">

<!-- Set up view mode return -->
<input type="hidden" name="return_script" value="story.pl">

<input type="hidden" name="return_params" value="rm">
<input type="hidden" name="return_params" value="find">

<tmpl_if do_advanced_search>
  <input type="hidden" name="return_params" value="search_title">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_title>">

  <input type="hidden" name="return_params" value="search_url">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_url>">

  <input type="hidden" name="return_params" value="search_cover_from_day">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_cover_from_day>">

  <input type="hidden" name="return_params" value="search_cover_from_month">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_cover_from_month>">

  <input type="hidden" name="return_params" value="search_cover_from_year">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_cover_from_year>">

  <input type="hidden" name="return_params" value="search_cover_to_day">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_cover_to_day>">

  <input type="hidden" name="return_params" value="search_cover_to_month">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_cover_to_month>">

  <input type="hidden" name="return_params" value="search_cover_to_year">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_cover_to_year>">

  <input type="hidden" name="return_params" value="search_publish_from_day">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_publish_from_day>">

  <input type="hidden" name="return_params" value="search_publish_from_month">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_publish_from_month>">

  <input type="hidden" name="return_params" value="search_publish_from_year">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_publish_from_year>">

  <input type="hidden" name="return_params" value="search_publish_to_day">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_publish_to_day>">

  <input type="hidden" name="return_params" value="search_publish_to_month">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_publish_to_month>">

  <input type="hidden" name="return_params" value="search_publish_to_year">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_publish_to_year>">

  <input type="hidden" name="return_params" value="search_class">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_class>">

  <input type="hidden" name="return_params" value="search_story_id">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_story_id>">

  <input type="hidden" name="return_params" value="search_contrib_simple">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_contrib_simple>">

  <input type="hidden" name="return_params" value="search_creator_simple">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_creator_simple>">

  <input type="hidden" name="return_params" value="search_below_primary_category_id">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_below_primary_category_id>">

<tmpl_else>

  <input type="hidden" name="return_params" value="search_filter">
  <input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML search_filter>">

</tmpl_if>


<input type="hidden" name="return_params" value="do_advanced_search">
<input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML do_advanced_search>">

<input type="hidden" name="return_params" value="krang_pager_curr_page_num">
<input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML krang_pager_curr_page_num>">

<input type="hidden" name="return_params" value="krang_pager_show_big_view">
<input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">

<input type="hidden" name="return_params" value="krang_pager_sort_field">
<input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">

<input type="hidden" name="return_params" value="krang_pager_sort_order_desc">
<input type="hidden" name="return_params" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">
<!-- END Set up view mode return -->

</form>

<form name="clear_advanced_search_form" method="POST">
<input type="hidden" name="rm" value="find">
<input type="hidden" name="do_advanced_search" value="1">
</form>

<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr class="dark-bar">
  <td>&nbsp;FIND STORY</td>
  <td align="right"><a href="javascript:goto_help()">Help</a>&nbsp;</td>
</tr>
</table>


<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td width="1" class="line"><img width="1" height="1"></td>
  <td><img width="1" height="4"><table border="0" cellpadding="6" cellspacing="0" width="100%">
<form name="search_form" method="POST">
<tr class="light"><td>SEARCH 

<tmpl_if do_advanced_search>

  (<a href="javascript:show_advanced_search('0')">Simple Search</a>)
  <input type="hidden" name="do_advanced_search" value="1">
  </td></tr>

  <!-- Advanced Search Form -->
  <tr><td>
    <table border="0" cellspacing="5">

      <tr>
        <td colspan="2">Title:</td>
        <td colspan="2"><input size="40" type="textfield" name="search_title" value="<tmpl_var escape=HTML search_title>"></td>
      </tr>

      <tr>
        <td colspan="2">URL:</td>
        <td colspan="2"><input size="40" type="textfield" name="search_url" value="<tmpl_var escape=HTML search_url>"></td>
      </tr>

      <tr>
        <td nowrap valign="top">Cover Date:</td>
        <td valign="top">from</td>
        <td><tmpl_var date_chooser_cover_from><br><tmpl_var date_chooser_cover_to></td>
        <td valign="top">To</td>
      </tr>

      <tr>
        <td nowrap valign="top">Publish Date:</td>
        <td valign="top">from</td>
        <td><tmpl_var date_chooser_publish_from><br><tmpl_var date_chooser_publish_to></td>
        <td valign="top">To</td>
      </tr>

      <tr>
        <td colspan="2">Story Type:</td>
        <td colspan="2"><tmpl_var search_class_chooser></td>
      </tr>

      <tr>
        <td colspan="2">Story ID:</td>
        <td colspan="2"><input size="5" type="textfield" name="search_story_id" value="<tmpl_var escape=HTML search_story_id>"></td>
      </tr>

      <tr>
        <td colspan="2">Contributor:</td>
        <td colspan="2"><input size="40" type="textfield" name="search_contrib_simple" value="<tmpl_var escape=HTML search_contrib_simple>"></td>
      </tr>

      <tr>
        <td colspan="2">Creator:</td>
        <td colspan="2"><input size="40" type="textfield" name="search_creator_simple" value="<tmpl_var escape=HTML search_creator_simple>"></td>
      </tr>

      <tr>
        <td colspan="2">Site/Category:</td>
        <td colspan="2"><tmpl_var category_chooser></td>
      </tr>

      <tr>
        <td colspan="2"></td>
        <td colspan="2"><input type="button" value="Clear" onClick="clear_advanced_search()">&nbsp;<input type="submit" value="Search"></td>
      </tr>

    </table>
  </td></tr>

<tmpl_else>

  
  
  (<a href="javascript:show_advanced_search('1')">Advanced Search</a>)<br />
    <table border="0" cellspacing="2" cellpadding="2">
    <tr><td><input type="textfield" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">
  <input type="hidden" name="do_advanced_search" value="0"></td>
        <td>&nbsp;</td>
        <td><input type="submit" value="Search" class="button"></td>
    </tr>
    </table>
  </td></tr>

</tmpl_if>




<input type="hidden" name="rm" value="find">

<!-- Krang::HTMLPager params -->
<input type="hidden" name="krang_pager_curr_page_num" value="">
<input type="hidden" name="krang_pager_show_big_view" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">
<input type="hidden" name="krang_pager_sort_field" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">
<input type="hidden" name="krang_pager_sort_order_desc" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">
</form>
</table>

<!-- Krang::HTMLPager -->
<table border="0" cellspacing="0" cellpadding="8">
<tr><td><tmpl_var pager_html></td></tr>
</table>
<!-- Krang::HTMLPager -->

</td>
<td width="1" class="line"><img width="1" height="1"></td>
</tr>
<tr><td colspan="3" class="line"><img width="1" height="1"></td></tr>
</table>


<tmpl_if row_count>
  <div class="button-bar"><input type="button" value="Checkout" onClick="checkout_selected()" class="button"><input type="button" value="Delete Checked" onClick="delete_selected()" class="button">&nbsp;</div>
</tmpl_if>

<tmpl_include footer.tmpl>
