<tmpl_if krang_pager_rows>

<form name="krang_pager_form" action="story.pl" method="post">

<tmpl_include HTMLPager/<tmpl_lang en>/pager-internals.tmpl>

<tmpl_include HTMLPager/<tmpl_lang en>/pager-pagination.tmpl>

<div class="table-container">
<img src="/static/<tmpl_var krang_install_id>/images/corner-top-left.gif" class="left-corner">
<img src="/static/<tmpl_var krang_install_id>/images/corner-top-right.gif" class="right-corner">
<table cellspacing="0" class="result select_row" summary="">

<colgroup>
<!-- 'pub_status' column -->
<col class="c-flag">
<!-- 'story_id' column -->
<col class="c-id">
<!-- 'title/url/commands_column' column -->
<col>
<!-- 'cover_date' column -->
<col class="c-date">
<!-- 'status' column -->
<col class="c-stat">
<!-- 'checkbox_column' column -->
<col class="tick">
</colgroup>

<thead>
<tr>
<th class="f"><tmpl_var colhead_pub_status></th>
<th><tmpl_var colhead_story_id></th>
<th>
  <tmpl_var colhead_title>
  |
  <tmpl_var colhead_url>
</th>
<th><tmpl_var colhead_cover_date></th>
<th><tmpl_var colhead_status></th>
<th class="l"><tmpl_var colhead_checkbox_column></th>
</tr>
</thead>

<tbody><tmpl_loop krang_pager_rows>
<tr<tmpl_unless __odd__> class="even"</tmpl_unless>>
<td class="f"><tmpl_lang P><tmpl_var pub_status></td>
<td><tmpl_var story_id escape=html></td>
<td>
    <strong><tmpl_var title escape=html></strong><br>
    <tmpl_var url><br>
    <tmpl_if story_type>
      <tmpl_var story_type escape=html>
      <tmpl_if story_version> (<tmpl_lang Version> <tmpl_var story_version escape=html>)</tmpl_if>
      <br>
    </tmpl_if>
    <tmpl_var commands_column>
</td>
<td><tmpl_var cover_date escape=html></td>
<td><tmpl_var status></td>
<td class="l"><tmpl_var checkbox_column></td>
</tr>
</tmpl_loop></tbody>

</table></div>

<tmpl_include HTMLPager/<tmpl_lang en>/pager-pagination.tmpl>

</form>

<tmpl_else>

<p class="naught">
<tmpl_lang None found.>
</p>

</tmpl_if>
