<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
  Krang.Help.set( 'story_retired' );
  Krang.Form.toggle_list_btn();
} );

show_advanced_search = function( show_advanced )
{
  Krang.Form.submit( 'search_form', { do_advanced_search: show_advanced }, { to_top: false } );
}

do_search = function() {
  Krang.Form.submit('search_form');
}

other_search_rm = function() {
  Krang.Form.submit('search_form', {
    rm: 'find',
    other_search_place: 'Search in Retire',
    krang_pager_curr_page_num: '1'
  });
}

<tmpl_if do_advanced_search>
  clear_advanced_search = function()
  {
    Krang.Form.submit('clear_advanced_search_form', {}, { to_top: false });
  }
</tmpl_if>

<tmpl_if row_count>
  view_story = function( id )
  {
    Krang.Form.submit('find_story', { rm: 'view', story_id: id, retired: 1 });
  }

  view_story_log = function( id )
  {
    Krang.Form.submit( 'view_story_log_form', { id: id } );
  }

  copy_story = function(id) {
    Krang.Form.submit('find_story', { rm: 'copy', story_id: id, retired: 1 });
  }

  delete_selected = function() {
    var question = '';
    var num_rows_checked = Krang.pager_row_checked();

    if (!num_rows_checked) {
        alert( Krang.L10N.loc('Nothing selected to delete!') );
    } else {
        if (num_rows_checked > 1) {
            question = Krang.L10N.loc('Are you SURE you want to delete the checked Stories?');
        } else {
            question = Krang.L10N.loc('Are you SURE you want to delete the checked Story?');
        }
        if (confirm(question)) {
            Krang.Form.submit( 'krang_pager_form', { rm : 'delete_selected' }, { to_top : false } );
        }
    }
  }

  unretire_story = function(id) {
    Krang.Form.submit('find_story', { rm: 'unretire', story_id: id }, { to_top: false });
  }
</tmpl_if>
</script>

<h2>
<tmpl_lang Retired Stories>
</h2>

<form name="search_form" method="post" action="story.pl">

<input name="rm" value="list_retired" type="hidden">
<input name="searched" value="1" type="hidden">
<input name="krang_pager_curr_page_num" value="" type="hidden">
<input name="krang_pager_show_big_view" value="<tmpl_var escape=html krang_pager_show_big_view>" type="hidden">
<input name="krang_pager_sort_field" value="<tmpl_var escape=html krang_pager_sort_field>" type="hidden">
<input name="krang_pager_sort_order_desc" value="<tmpl_var escape=html krang_pager_sort_order_desc>" type="hidden">
<input name="do_advanced_search" value="<tmpl_if do_advanced_search>1<tmpl_else>0</tmpl_if>" type="hidden">
<input name="other_search_place" value="Search in Live" type="hidden">

<div class="tabset finder">

<p class="tab-option">
<input name="show_type_and_version" value="1" type="checkbox"
  onclick="do_search()" <tmpl_if show_type_and_version> checked="checked"</tmpl_if>>
<label><tmpl_lang Show Story Type and Version></label></p>

<ul class="tabs"><li>
<tmpl_if do_advanced_search><a href="javascript:show_advanced_search('0')"><tmpl_else><b></tmpl_if><span>
<tmpl_lang Simple Search>
</span><tmpl_if do_advanced_search></a><tmpl_else></b></tmpl_if>
</li><li>
<tmpl_if do_advanced_search><b><tmpl_else><a href="javascript:show_advanced_search('1')"></tmpl_if><span>
<tmpl_lang Advanced Search>
</span><tmpl_if do_advanced_search></b><tmpl_else></a></tmpl_if>
</li></ul>

<div class="tabbed">

<tmpl_unless do_advanced_search>

  <div class="faux-p">
  <input name="search_filter" value="<tmpl_var escape=html search_filter>" class="autocomplete">
  <input value="<tmpl_lang Search>" type="submit" class="button">
  <input name="search_filter_check_full_text" type="checkbox" <tmpl_if search_filter_check_full_text>checked</tmpl_if>><tmpl_lang Search full text?>
  </div>

<tmpl_else>

  <table class="request" summary="">

  <colgroup>
  <col class="c-label-tiny">
  <col>
  <col class="c-label-tiny">
  <col>
  </colgroup>

  <tbody class="demi">

  <tr>
  <th><tmpl_lang URL></th>
  <td><input name="search_url" value="<tmpl_var escape=html search_url>"></td>
  <th><tmpl_lang Title></th>
  <td><input name="search_title" value="<tmpl_var escape=html search_title>"></td>
  </tr>

  <tr>
  <th><tmpl_lang Story Type></th>
  <td><tmpl_var search_class_chooser></td>
  <th><tmpl_lang Contributor></th>
  <td><input name="search_contrib_simple" value="<tmpl_var escape=html search_contrib_simple>"></td>
  </tr>

  <tr>
  <th><tmpl_lang Story ID></th>
  <td><input name="search_story_id" value="<tmpl_var escape=html search_story_id>"></td>
  <th><tmpl_lang Creator></th>
  <td><input name="search_creator_simple" value="<tmpl_var escape=html search_creator_simple>"></td>
  </tr>

  <tr>
  <th><tmpl_lang Full Text Search></th>
  <td colspan="3"><input name="search_full_text_string" value="<tmpl_var escape=html search_full_text_string>"></td>
  </tr>

  </tbody>

  <tbody>

  <tr>
  <th><tmpl_lang Cover Date></th>
  <td colspan="3">
  <tmpl_lang From>
  <tmpl_var date_chooser_cover_from>
  <tmpl_lang To>
  <tmpl_var date_chooser_cover_to>
  </td>
  </tr>

  <tr>
  <th><tmpl_lang Site/Category></th>
  <td colspan="3"><tmpl_var category_chooser></td>
  </tr>

  </tbody>

  </table>

  <div class="panel">
  <input value="<tmpl_lang Clear>" onclick="clear_advanced_search()" type="button">
  <input value="<tmpl_lang Search>" type="submit">
  </div>

</tmpl_unless>

</div>

</div>

</form>

<h3>
<tmpl_lang Search Results>
</h3>

<tmpl_unless read_only>
<div class="panel"><form<tmpl_unless row_count> class="clearfix"</tmpl_unless>>
  <tmpl_if row_count>
    <input value="<tmpl_lang Delete>" onclick="delete_selected()" type="button" class="list-btn">
  </tmpl_if>
</form></div>
</tmpl_unless>

<!--Krang::HTMLPager:-->
<tmpl_var pager_html>
<!--:Krang::HTMLPager-->

<tmpl_unless read_only>
<div class="panel capped"><form<tmpl_unless row_count> class="clearfix"</tmpl_unless>>
  <tmpl_if row_count>
    <input value="<tmpl_lang Delete>" onclick="delete_selected()" type="button" class="list-btn">
  </tmpl_if>
</form></div>
</tmpl_unless>

<tmpl_if do_advanced_search>
  <form name="clear_advanced_search_form" method="post" action="story.pl">
  <input name="rm" value="list_retired" type="hidden">
  <input name="do_advanced_search" value="1" type="hidden">
  <input name="clear_search_form" value="1" type="hidden">
  </form>
</tmpl_if>

<tmpl_if row_count>
  <form name="view_story_log_form" action="history.pl" method="post">
  <input name="id" type="hidden">
  <input name="id_methd" value="story_id" type="hidden">
  <input name="class" value="Story" type="hidden">
  <input name="history_return_script" value="story.pl" type="hidden">
  <input name="history_return_params" value="rm" type="hidden">
  <input name="history_return_params" value="list_retired" type="hidden">
  <tmpl_if do_advanced_search>
    <input name="history_return_params" value="search_title" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_title>" type="hidden">
    <input name="history_return_params" value="search_url" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_url>" type="hidden">
    <input name="history_return_params" value="search_cover_from_day" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_cover_from_day>" type="hidden">
    <input name="history_return_params" value="search_cover_from_month" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_cover_from_month>" type="hidden">
    <input name="history_return_params" value="search_cover_from_year" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_cover_from_year>" type="hidden">
    <input name="history_return_params" value="search_cover_to_day" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_cover_to_day>" type="hidden">
    <input name="history_return_params" value="search_cover_to_month" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_cover_to_month>" type="hidden">
    <input name="history_return_params" value="search_cover_to_year" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_cover_to_year>" type="hidden">
    <input name="history_return_params" value="search_publish_from_day" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_publish_from_day>" type="hidden">
    <input name="history_return_params" value="search_publish_from_month" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_publish_from_month>" type="hidden">
    <input name="history_return_params" value="search_publish_from_year" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_publish_from_year>" type="hidden">
    <input name="history_return_params" value="search_publish_to_day" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_publish_to_day>" type="hidden">
    <input name="history_return_params" value="search_publish_to_month" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_publish_to_month>" type="hidden">
    <input name="history_return_params" value="search_publish_to_year" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_publish_to_year>" type="hidden">
    <input name="history_return_params" value="search_class" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_class>" type="hidden">
    <input name="history_return_params" value="search_story_id" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_story_id>" type="hidden">
    <input name="history_return_params" value="search_contrib_simple" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_contrib_simple>" type="hidden">
    <input name="history_return_params" value="search_creator_simple" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_creator_simple>" type="hidden">
    <input name="history_return_params" value="search_below_category_id" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_below_category_id>" type="hidden">
    <input name="history_return_params" value="search_full_text_string" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_full_text_string>" type="hidden">
  <tmpl_else>
    <input name="history_return_params" value="search_filter" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_filter>" type="hidden">
    <input name="history_return_params" value="search_filter_check_full_text" type="hidden">
    <input name="history_return_params" value="<tmpl_var escape=html search_filter_check_full_text>" type="hidden">
  </tmpl_if>
  <input name="history_return_params" value="do_advanced_search" type="hidden">
  <input name="history_return_params" value="<tmpl_var escape=html do_advanced_search>" type="hidden">
  <input name="history_return_params" value="krang_pager_curr_page_num" type="hidden">
  <input name="history_return_params" value="<tmpl_var escape=html krang_pager_curr_page_num>" type="hidden">
  <input name="history_return_params" value="krang_pager_show_big_view" type="hidden">
  <input name="history_return_params" value="<tmpl_var escape=html krang_pager_show_big_view>" type="hidden">
  <input name="history_return_params" value="krang_pager_sort_field" type="hidden">
  <input name="history_return_params" value="<tmpl_var escape=html krang_pager_sort_field>" type="hidden">
  <input name="history_return_params" value="krang_pager_sort_order_desc" type="hidden">
  <input name="history_return_params" value="<tmpl_var escape=html krang_pager_sort_order_desc>" type="hidden">
  </form>

  <form name="find_story" method="post" action="story.pl">
  <input name="rm" value="list_retired" type="hidden">
  <input name="story_id" type="hidden">
  <input name="retired" value="1" type="hidden">
  <input name="return_script" value="story.pl" type="hidden">
  <input name="return_params" value="rm" type="hidden">
  <input name="return_params" value="list_retired" type="hidden">
  <input name="return_params" value="retired" type="hidden">
  <input name="return_params" value="1" type="hidden">
  <tmpl_if do_advanced_search>
    <input name="return_params" value="search_title" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_title>" type="hidden">
    <input name="return_params" value="search_url" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_url>" type="hidden">
    <input name="return_params" value="search_cover_from_day" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_cover_from_day>" type="hidden">
    <input name="return_params" value="search_cover_from_month" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_cover_from_month>" type="hidden">
    <input name="return_params" value="search_cover_from_year" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_cover_from_year>" type="hidden">
    <input name="return_params" value="search_cover_to_day" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_cover_to_day>" type="hidden">
    <input name="return_params" value="search_cover_to_month" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_cover_to_month>" type="hidden">
    <input name="return_params" value="search_cover_to_year" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_cover_to_year>" type="hidden">
    <input name="return_params" value="search_publish_from_day" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_publish_from_day>" type="hidden">
    <input name="return_params" value="search_publish_from_month" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_publish_from_month>" type="hidden">
    <input name="return_params" value="search_publish_from_year" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_publish_from_year>" type="hidden">
    <input name="return_params" value="search_publish_to_day" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_publish_to_day>" type="hidden">
    <input name="return_params" value="search_publish_to_month" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_publish_to_month>" type="hidden">
    <input name="return_params" value="search_publish_to_year" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_publish_to_year>" type="hidden">
    <input name="return_params" value="search_class" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_class>" type="hidden">
    <input name="return_params" value="search_story_id" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_story_id>" type="hidden">
    <input name="return_params" value="search_contrib_simple" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_contrib_simple>" type="hidden">
    <input name="return_params" value="search_creator_simple" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_creator_simple>" type="hidden">
    <input name="return_params" value="search_below_category_id" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_below_category_id>" type="hidden">
    <input name="return_params" value="search_full_text_string" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_full_text_string>" type="hidden">
  <tmpl_else>
    <input name="return_params" value="search_filter" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_filter>" type="hidden">
    <input name="return_params" value="search_filter_check_full_text" type="hidden">
    <input name="return_params" value="<tmpl_var escape=html search_filter_check_full_text>" type="hidden">
  </tmpl_if>
  <input name="return_params" value="do_advanced_search" type="hidden">
  <input name="return_params" value="<tmpl_var escape=html do_advanced_search>" type="hidden">
  <input name="return_params" value="krang_pager_curr_page_num" type="hidden">
  <input name="return_params" value="<tmpl_var escape=html krang_pager_curr_page_num>" type="hidden">
  <input name="return_params" value="krang_pager_show_big_view" type="hidden">
  <input name="return_params" value="<tmpl_var escape=html krang_pager_show_big_view>" type="hidden">
  <input name="return_params" value="krang_pager_sort_field" type="hidden">
  <input name="return_params" value="<tmpl_var escape=html krang_pager_sort_field>" type="hidden">
  <input name="return_params" value="krang_pager_sort_order_desc" type="hidden">
  <input name="return_params" value="<tmpl_var escape=html krang_pager_sort_order_desc>" type="hidden">
  </form>
</tmpl_if>

<tmpl_include footer.tmpl>

