<tmpl_include header.tmpl>
<script type="text/javascript">

Krang.onload( function() {
  Krang.Nav.edit_mode();
  Krang.Help.set( 'story_new' );
} );

create = function()
{
  Krang.Form.submit( 'new_story', { rm: 'create' } );
}

cancel_create = function()
{
  if (confirm(Krang.L10N.loc("Discard new Story?")))
    Krang.Form.submit( 'new_story', { rm: 'cancel_create' } );
}


// begin slug-related javascript

<tmpl_loop title_to_slug_function_loop>
<tmpl_var type>_title_to_slug = <tmpl_var function>
</tmpl_loop>

manual_slug = function() // returns user-modified slug
{
   return document.new_story.manual_slug.value;
}

auto_slug = function() // returns slug built from title
{ 
   var title = document.new_story.title.value;
   if (title == '') { return '' }

   var slug_function = document.new_story.type.value + '_title_to_slug';
   if (eval('typeof ' + slug_function) == 'function') {

     // this story-type has a class-overridden conversion function
     return (eval(slug_function + "('" + title + "')"));

   } else { 

     // this story-type needs the default conversion function
     return (Krang.Slug.title_to_slug(title));
   }
}

enable_slug_input = function() 
{
  document.new_story.cat_idx.checked        = false;	
  document.new_story.slug.value             = manual_slug() || auto_slug();
  document.new_story.slug.disabled          = false;
  document.getElementById('slug').className = ""; 
}

grey_out_slug_input = function() 
{
  document.new_story.cat_idx.checked        = true;	
  document.new_story.slug.value             = '';
  document.new_story.slug.disabled          = true;
  document.getElementById('slug').className = "disabled"; 
}

show_slug_and_cat_by_type = function() {

  // hide slug and cat input if no type has been selected
  if (!document.new_story.type.value) {
	slug_entry_for_this_type = 'prohibit';
        cat_entry_for_this_type  = 'prohibit';
  }

  // otherwise determine by type
  <tmpl_loop slug_and_cat_entry_by_type_loop>
  if (document.new_story.type.value == '<tmpl_var story_type>') 
  { 
        slug_entry_for_this_type = '<tmpl_var slug_entry>';
        cat_entry_for_this_type  = '<tmpl_var cat_entry>';
  }	
  </tmpl_loop>

  // for cat, all we need to do is hide/show row and asterisk
  if (cat_entry_for_this_type == 'prohibit') {
     document.getElementById('cat_row').style.display = 'none';
  } else {
     document.getElementById('cat_row').style.display = '';
     if (cat_entry_for_this_type == 'require') {
       document.getElementById('require_cat_asterisk').style.display='';
     } else {
       document.getElementById('require_cat_asterisk').style.display='none';
     }
  }
  
  // for slug, there's a bit more work due to checkbox & its functionality
  if (slug_entry_for_this_type == 'prohibit') {
     document.getElementById('slug_row').style.display = 'none';
     document.new_story.slug.value = '';
  } else {
     if (slug_entry_for_this_type == 'require') {
	    document.new_story.cat_idx.style.display = 'none';
	    document.getElementById('idx_label').style.display = 'none';
	    document.getElementById('require_slug_asterisk').style.display='';
	    enable_slug_input();
     } else {
	    document.new_story.cat_idx.style.display = '';
	    document.getElementById('idx_label').style.display = '';
	    document.getElementById('require_slug_asterisk').style.display='none';
            if (document.new_story.usr_checked_cat_idx.value == 1) {          
	       grey_out_slug_input(); 			                       // when switching to a type with
	    } else if (document.new_story.usr_unchecked_cat_idx.value == 1) {  // optional slugs, check if user
	       enable_slug_input();			                       // manually checked/unchecked box
	    } else {
	       (slug_entry_for_this_type == 'encourage') ? enable_slug_input() : grey_out_slug_input();
	    }	
     }
     document.getElementById('slug_row').style.display = '';
  }

}

usr_toggled_cat_idx = function() {
  document.new_story.usr_checked_cat_idx.value   = document.new_story.cat_idx.checked ? 1 : 0;
  document.new_story.usr_unchecked_cat_idx.value = document.new_story.cat_idx.checked ? 0 : 1;
  document.new_story.cat_idx.checked ? grey_out_slug_input() : enable_slug_input();
}

usr_changed_title = function() {
  if (!manual_slug() && !document.new_story.cat_idx.checked) {
	document.new_story.slug.value = auto_slug();
  }
}

usr_changed_slug = function(new_value) {
  if (manual_slug() && (document.new_story.slug.value == '')) {
	document.new_story.slug.value = auto_slug(); // this aims to re-build slug from title
        document.new_story.manual_slug.value = '';   // when a manually-changed slug is deleted
  } else {
        document.new_story.manual_slug.value = document.new_story.slug.value;
  }
}

// end slug-generation javascript

</script>




<h2>
<tmpl_lang New Story>
</h2>

<form name="new_story" method="post" action="story.pl">

<input name="rm"                    type="hidden">
<input name="manual_slug"           type="hidden" value="<tmpl_var manual_slug>">  
<input name="usr_checked_cat_idx"   type="hidden" value="<tmpl_var usr_checked_cat_idx>">  
<input name="usr_unchecked_cat_idx" type="hidden" value="<tmpl_var usr_unchecked_cat_idx>">
<input name="edit_uuid"             type="hidden">

<table class="request" summary="">

<colgroup>
<col class="c-type-big">
<col>
</colgroup>

<tbody class="half">

<tr<tmpl_if bad_type> class="err"</tmpl_if>>
<th>*<tmpl_lang Type></th>
<td><tmpl_var type_selector></td>
</tr>

<tr<tmpl_if bad_title> class="err"</tmpl_if>>
<th>*<tmpl_lang Title></th>
<td><input name="title" value="<tmpl_var escape=html title>" onkeyup="usr_changed_title()"></td>
</tr>

<tr id="slug_row"<tmpl_if bad_slug> class="err"<tmpl_else><tmpl_unless show_slug> style="display:none"</tmpl_unless></tmpl_if>>
<th><label id="require_slug_asterisk" <tmpl_unless require_slug>style="display:none"</tmpl_unless>>*</label><tmpl_lang Slug></th>
<td><input id="slug" name="slug" value="<tmpl_if slug><tmpl_var escape=html slug></tmpl_if>" onkeyup="usr_changed_slug()"<tmpl_if cat_idx> disabled class="disabled"</tmpl_if>>
<input name="cat_idx" type="checkbox" onclick="usr_toggled_cat_idx()"<tmpl_if cat_idx> checked</tmpl_if> class="usual pushright"<tmpl_if require_slug> style="display:none"</tmpl_if>>
<label id="idx_label"<tmpl_if require_slug> style="display:none"</tmpl_if>><tmpl_lang Category Index></label>
</td>
</tr>

</tbody>

<tbody>

<tr<tmpl_if bad_cover_date> class="err"</tmpl_if>>
<th>*<tmpl_lang Cover Date></th>
<td><tmpl_var cover_date_selector></td>
</tr>

<tr id="cat_row"<tmpl_if bad_category_id> class="err"<tmpl_else><tmpl_unless show_cat> style="display:none"</tmpl_unless></tmpl_if>>
<th><label id="require_cat_asterisk" <tmpl_unless require_cat>style="display:none"</tmpl_unless>>*</label><tmpl_lang Site/Category></th>
<td><tmpl_var category_chooser></td>
</tr>

</tbody>

</table>

<div class="panel capped">
<input value="<tmpl_lang Cancel>" onclick="cancel_create()" type="button" class="west">
<input value="<tmpl_lang Create>" onclick="create()" type="button" class="east">
</div>

</form>

<tmpl_include footer.tmpl>

