<tmpl_include header.tmpl>

<script language="javascript" type="text/javascript">
  <tmpl_if was_edit>nav_edit_mode();</tmpl_if>

  preview_story = function (id) {
        Preview = window.open("publisher.pl?rm=preview_story&story_id=" + id, "<tmpl_var "instance_name">");
        Preview.focus();
  }

  preview_media = function (id) {
        Preview = window.open("publisher.pl?rm=preview_media&media_id=" + id, "<tmpl_var "instance_name">");
        Preview.focus();
  }

  edit_story = function () {
    document.forms[0].rm.value = 'checkout_and_edit';
    document.forms[0].submit();

  }

</script>

<form method="post" name="view" action="story.pl">
  <input type="hidden" name="rm" value="view">
  <input type="hidden" name="story_id" value="<tmpl_var story_id>">
  <input type="hidden" name="version" value="<tmpl_var version>">
  <input type="hidden" name="return_script" value="<tmpl_var escape=html return_script>"> 
   <tmpl_loop return_params_loop>
      <input type="hidden" name="return_params" value="<tmpl_var escape=HTML name="name">">
      <input type="hidden" name="return_params" value="<tmpl_var escape=HTML name="value">">
   </tmpl_loop>

<div class="dark-bar"><p class="left">&nbsp;View Story</p><p class="right"><a href="javascript:document.view_log.submit()">Log</a> | <a href="javascript:openWin('help.pl?topic=story_view')">Help</a>&nbsp;</p></div>
<div class="box">
<br>
<table class="form-head">

<tr>
<td>Information</td>
</tr></table>

<table width="571" cellpadding="2" cellspacing="0" class="form-cell">
<tr>
<td width="160" class="form-cell">ID:</td>
<td class="form-cell"><tmpl_var story_id></td>
</tr>

<tr>
<td class="form-cell">Type:</td>
<td class="form-cell"><tmpl_var type></td>
</tr>

<tr>
<td class="form-cell">Current Version:</td>
<td class="form-cell"><tmpl_var version></td>
</tr>

<tmpl_if is_root>
<tr>
<td class="form-cell">Published Version:</td>
<td class="form-cell"><tmpl_if published_version><tmpl_var published_version><tmpl_else>n/a</tmpl_if></td>
</tr>

<tr>
<td class="form-cell">Title:</td>
<td class="form-cell"><tmpl_var title></td>
</tr>

<tr>
<td class="form-cell">Slug:</td>
<td class="form-cell"><tmpl_var slug></td>
</td>
</tr>
</tmpl_if>

<tr>
<td class="form-cell">URL:</td>
<td class="form-cell"><tmpl_var url></td>
</tr>

<tmpl_if is_root>
<tr>
<td class="form-cell">Categories:</td>
<td class="form-cell"><tmpl_loop category_loop><tmpl_var url><br></tmpl_loop></td>
</tr>

<tr>
<td class="form-cell">Cover Date:</td>
<td class="form-cell"><tmpl_var cover_date></td>
</tr>

<tr>
<td class="form-cell">Priority:</td>
<td class="form-cell"><tmpl_var priority></td>
</tr>

<tr>
<td class="form-cell">Contributors:</td>
<td class="form-cell">
<tmpl_if contribs_loop>
  <tmpl_loop contribs_loop>
     <tmpl_var first_name> <tmpl_var last_name> (<tmpl_var type>)<tmpl_unless __last__>, </tmpl_unless>
  </tmpl_loop>
<tmpl_else>
  None.
</tmpl_if>
</td>
</tr>

</tmpl_if>

</table>

<p>

<tmpl_include /ElementEditor/view.tmpl>

</p>

</form>
<form name="ret" action="<tmpl_var return_script>" method="post">
   <tmpl_loop return_params_loop>
      <input type="hidden" name="<tmpl_var escape=HTML name="name">" value="<tmpl_var escape=HTML name="value">">
   </tmpl_loop>
</form><br>
</div>
<div class="button-bar">
  <tmpl_if is_root><tmpl_if can_edit><input type=button value="Edit" onclick="edit_story()" class="button"></tmpl_if></tmpl_if>
  <tmpl_if parent_path>
    <input type="button" value="Return" onclick="view_path('<tmpl_var parent_path>')" class="button">
  <tmpl_else>
     <input type="button" value="Return" onclick="document.ret.submit()" class="button">
  </tmpl_if></div>

</form>


<form method="post" name="view_log" action="history.pl">
  <input type="hidden" name="history_return_script" value="story.pl">
  <input type="hidden" name="story_id" value="<tmpl_var story_id>">

  <input type="hidden" name="history_return_script" value="return_script">
  <input type="hidden" name="history_return_script" value="story.pl">

  <input type="hidden" name="history_return_params" value="rm">
  <input type="hidden" name="history_return_params" value="view">

  <input type="hidden" name="history_return_params" value="story_id">
  <input type="hidden" name="history_return_params" value="<tmpl_var story_id>">

  <input type="hidden" name="history_return_params" value="version">
  <input type="hidden" name="history_return_params" value="<tmpl_var version>">

  <input type="hidden" name="history_return_params" value="path">
  <input type="hidden" name="history_return_params" value="<tmpl_var path>">

  <input type="hidden" name="history_return_params" value="return_script">
  <input type="hidden" name="history_return_params" value="<tmpl_var return_script>">

    <tmpl_loop return_params_loop>
      <input type="hidden" name="history_return_params" value=return_params>
      <input type="hidden" name="history_return_params" value="<tmpl_var escape=HTML name="name">">

      <input type="hidden" name="history_return_params" value=return_params>
      <input type="hidden" name="history_return_params" value="<tmpl_var escape=HTML name="value">">
   </tmpl_loop>
</form>
</div>
<tmpl_include footer.tmpl>
