<tmpl_include header.tmpl>

<tmpl_unless bug_added>

  <tmpl_if ise>
    <script type="text/javascript">
    Krang.onload( Krang.Error.show );
    </script>
  </tmpl_if>

  <tmpl_unless enable_bugzilla>

    <h2>
    Internal Server Error
    </h2>

    <p>
    Please contact your System Administrator.
    </p>

  <tmpl_else>

    <script type="text/javascript">
    Krang.onload( function() {
      Krang.Help.set();
    } );
    </script>

    <h2>
    File Bug Report
    </h2>

    <p>
    Please use the form below to file a bug report.
    </p>

    <form name="bug_form" action="bug.cgi" method="post" class="non_ajax">

    <input name="rm" value="commit" type="hidden">

    <table class="request" summary="">

    <colgroup>
    <col class="c-label">
    <col>
    </colgroup>

    <tbody>

    <tr<tmpl_if no_summary> class="err"</tmpl_if>>
    <th>*Summary</th>
    <td>
    <p class="cram">
    A one-sentence problem summary.
    </p>

    <p class="cram full">
    <input name="summary" value="<tmpl_var escape=html summary>">
    </p>

    <p>
    Please be descriptive and use lots of keywords.
    </p>

    <dl class="eg">

    <dt class="first bad">
    Bad Example:
    </dt>
    <dd>
    It crashed when in Story.
    </dd>

    <dt class="good">
    Good Example:
    </dt>
    <dd>
    It crashed with an internal server error while I was editing Story 'my story', after adding a Contributor and clicking 'save'.
    </dd>

    </dl>
    </td>
    </tr>

    <tr<tmpl_if no_description> class="err"</tmpl_if>>
    <th>*Description</th>
    <td>
    <p class="cram">
    Expand on the Summary.
    </p>

    <p class="cram full">
    <textarea name="description" rows="6" cols="40" wrap="hard"><tmpl_var escape=html description></textarea>
    </p>

    <p>
    Please be as specific as possible about what is wrong.
    </p>

    <dl class="eg">

    <dt class="first bad">
    Bad Example:
    </dt>
    <dd>
    Covers won't publish!!!
    </dd>

    <dt class="good">
    Good Example:
    </dt>
    <dd>
    When I tried to publish the cover for the news/sports Category from the Edit Story screen I got an internal server error.
    </dd>

    </dl>
    </td>
    </tr>

    <tr>
    <th>Reproducability</th>
    <td>
    <p class="cram">
    How often can you reproduce the problem?
    </p>

    <p class="cram full">
    <select name="reproduce">
    <option name="Always" value="Always"<tmpl_if reproduce_Always> selected</tmpl_if>>Every time.</option>
    <option name="Sometimes" value="Sometimes"<tmpl_if reproduce_Sometimes> selected</tmpl_if>>Sometimes, but not always.</option>
    <option name="DidntTry" value="DidntTry"<tmpl_if reproduce_DidntTry> selected</tmpl_if>>Haven't tried to reproduce it.</option>
    <option name="NotReproducible" value="CouldNotReproduce"<tmpl_if reproduce_CouldNotReproduce> selected</tmpl_if>>Tried, but couldn't reproduce it.</option>
    </select>
    </p>
    </td>
    </tr>

    <tr>
    <th>Steps to Reproduce</th>
    <td>
    <p class="cram">
    Describe how to reproduce the problem, step by step.
    </p>

    <p class="cram full">
<textarea name="steps" rows="4" cols="40" wrap="hard"><tmpl_if steps><tmpl_var escape=html steps><tmpl_else>1.
2.
3.</tmpl_if></textarea>
    </p>

    <p>
    Include any special setup steps.
    </p>
    </td>
    </tr>

    <tr>
    <th>Actual Results</th>
    <td>
    <p class="cram">
    What happened after you performed the steps above?
    </p>

    <p class="cram full">
    <textarea name="actual_results" rows="4" cols="40" wrap="hard"><tmpl_var escape=html actual_results></textarea>
    </p>
    </td>
    </tr>

    <tr>
    <th>Expected Results</th>
    <td>
    <p class="cram">
    What should the system have done instead?
    </p>

    <p class="cram full">
    <textarea name="expected_results" rows="4" cols="40" wrap="hard"><tmpl_var escape=html expected_results></textarea>
    </p>
    </td>
    </tr>

    <tr>
    <th>Severity</th>
    <td>
    <p class="cram">
    How serious is the problem?
    </p>

    <p class="cram full">
    <select name="bug_severity">
    <option name="normal" value="normal"<tmpl_if bug_severity_normal> selected</tmpl_if>>Normal: Should be addressed.</option>
    <option name="blocker" value="blocker"<tmpl_if bug_severity_blocker> selected</tmpl_if>>Blocker: Prevents use of the system.</option>
    <option name="critical" value="critical"<tmpl_if bug_severity_critical> selected</tmpl_if>>Critical: Crashes or hangs system, or causes data loss.</option>
    <option name="major" value="major"<tmpl_if bug_severity_major> selected</tmpl_if>>Major: Breaks a significant feature; no workaround.</option>
    <option name="minor" value="minor"<tmpl_if bug_severity_minor> selected</tmpl_if>>Minor: Breaks a minor feature; easily worked around.</option>
    <option name="trivial" value="trivial"<tmpl_if bug_severity_blocker> selected</tmpl_if>>Trivial: Cosmetic issue (e.g. text misspelling).</option>
    </select>
    </p>
    </td>
    </tr>

    </tbody>

    </table>

    <div class="panel capped">
    <input value="Report Bug" type="submit">
    </div>

    </form>

  </tmpl_unless>

</tmpl_unless>

<tmpl_include footer.tmpl>

