<tmpl_include header.tmpl>

<script language=javascript>
 function checkall(checkbox, prefix) {
     for (var i = 0; i < checkbox.form.elements.length ; i++) {
        var e = checkbox.form.elements[i];
        if (e.name && e.name.indexOf(prefix) == 0) {
           e.checked = checkbox.checked;
        }
     }
  }

  function delete_selected () {
        var myform = document.forms["current_schedule_form"];
        myform.submit();
  }

 function save_and_view() {
        document.forms[0].rm.value = 'save_and_view';
        document.forms[0].submit();
  }

</script>

<div class="dark-bar"><p class="left">&nbsp;Schedule Editor<p class="right"><a href="javascript:openWin('help.pl?topic=schedule')">Help</a>&nbsp;</p></div>

<form name="add_schedule_form" method="POST">
 <table cellspacing="0" width="571" cellpadding="0" class="form-cell">

<input type="hidden" name="advanced_schedule" value="1" override="1">
<input type="hidden" name="rm" value="add_admin" override='1'>
   <tr class="form-head">
      <th align="left" colspan="2">Add to Schedule</th>
   </tr>
   <tr>
      <td class="form-cell" width="80" style="border-left:none;">Date/Time</td>
      <td class="form-cell" style="border-right:none;">
      <table>
      <tr><td <TMPL_IF no_date_type>class="invalid"</TMPL_IF>><input type="radio" name="repeat" value="never" <TMPL_IF repeat_never>CHECKED</TMPL_IF>>Once at:</td><td <TMPL_IF invalid_datetime>class="invalid"</TMPL_IF>><TMPL_VAR full_date_selector><br></td></tr>
      <tr><td <TMPL_IF no_date_type>class="invalid"</TMPL_IF>><input type="radio" name="repeat" value="hourly" <TMPL_IF repeat_hourly>CHECKED</TMPL_IF>>Hourly at:</td><td><TMPL_VAR hourly_minute_selector> minutes after the hour</td></tr>
      <tr><td <TMPL_IF no_date_type>class="invalid"</TMPL_IF>><input type="radio" name="repeat" value="daily" <TMPL_IF repeat_daily>CHECKED</TMPL_IF>>Daily at:</td><td <TMPL_IF no_hour>class="invalid"</TMPL_IF>><TMPL_VAR daily_time_selector></td></tr>
      <tr><td <TMPL_IF no_date_type>class="invalid"</TMPL_IF>><input type="radio" name="repeat" value="weekly" <TMPL_IF repeat_weekly>CHECKED</TMPL_IF>>Weekly on:</td><td <TMPL_IF no_weekly_hour>class="invalid"</TMPL_IF>><TMPL_VAR weekly_day_selector>
- <TMPL_VAR weekly_time_selector></td></tr>
                </table>
    </td>
    </tr>
    <tr>
            <td class="form-cell" style="border-top:none; border-right:none;">Action:</td>
            <td class="form-cell" style="border-top:none; border-left:none;"><TMPL_VAR action_selector></td>
    </tr>
<tr><td>&nbsp;</td><td style="padding: 5px;"><input type="button" value="Add to Schedule" onclick="submit()" class="button"></td></tr>
                </table>

</form>
 </td></tr>
                </table>
  </div>

<div class="button-bar">
</div>

<tmpl_include footer.tmpl>
