<script language=javascript>
 function checkall(checkbox, prefix) {
     for (var i = 0; i < checkbox.form.elements.length ; i++) {
        var e = checkbox.form.elements[i];
        if (e.name && e.name.indexOf(prefix) == 0) {
           e.checked = checkbox.checked;
        }
     }
  }

  function delete_selected () {
        var myform = document.forms["current_schedule_form"];
        myform.submit();
  }

 function save_and_view() {
        document.forms[0].rm.value = 'save_and_view';
        document.forms[0].submit();
  }

</script>

<tmpl_include header.tmpl>

<div class=dark-bar><tmpl_if is_story>Story<tmpl_else>Media</tmpl_if> Schedule Editor <tmpl_if simple>(Simple)</tmpl_if></div>

<div class=tight-form-box>
<table width=100% cellpadding=2 cellspacing=0>
                                                                        
<tr class=light>
<td>ID:</td>
<td><tmpl_var id></td>
</tr>

<tmpl_if is_story>                                                     
<tr class=light>
<td>Story Type:</td>
<td><tmpl_var story_type></td>
</tr>
</tmpl_if>
                                                             
<tr class=light>
<td>Current Version:</td>
<td><tmpl_var current_version></td>
</tr>
                                                                        
<tr class=light>
<td>Published Version:</td>
<td><tmpl_if published_version><tmpl_var published_version><tmpl_else>n/a</tmpl_if></td>
</tr>
                                                                        
<tr class=light>
<td>URL:</td>
<td><tmpl_var url></td>
</tr>
</table>
</div>
<br>
<TMPL_IF existing_schedule_loop>
<form name="current_schedule_form" method="POST">
<input type="hidden" name="rm" value="delete" override='1'>
<tmpl_if advanced><input type="hidden" name="advanced_schedule" value="1" override="1"></tmpl_if>
<input type="hidden" name="object_type" value="<tmpl_var object_type>">
  <table cellspacing="0" width="100%">
                                                                        
      <tr class="form-head">
          <th>Schedule</th>
          <th>Next Run</th>
          <th>Action</th>
          <th>Version</th>
          <th><input type="checkbox" name="checkallbox" value="1" onClick="checkall(this, 'schedule_delete_list')"></th>
      </tr>
                                                                        
  <tmpl_loop existing_schedule_loop>
      <tr>
          <td class="form-cell"><tmpl_var ESCAPE=HTML schedule></td>
          <td class="form-cell"><tmpl_var ESCAPE=HTML next_run></td>
          <td class="form-cell"><tmpl_var ESCAPE=HTML action></td>
          <td class="form-cell"><tmpl_if version><tmpl_var ESCAPE=HTML version><tmpl_else>&nbsp;</tmpl_if></td>          
          <td class="form-cell"><input type="checkbox" name="schedule_delete_list" value="<tmpl_var ESCAPE=HTML schedule_id>"></td>
      </tr>
  </tmpl_loop>
  </table>
  <div align="right">
<input type="button" value="Delete Checked" onClick="delete_selected()"></div>
</form>                                                                      
<TMPL_ELSE>
  <b>No Schedule Found</b><br><br>
</TMPL_IF>
<div class=form-box>

<form name="add_schedule_form" method="POST">
<input type="hidden" name="object_type" value="<tmpl_var object_type>">
<table cellspacing="0" width="100%">
<tmpl_if simple>
<input type="hidden" name="rm" value="add_simple" override='1'>
      <tr class="form-head">
          <th colspan=2 align=left>Schedule Publication</th>
      </tr>
        <tr>
            <td>Publish:</td>
            <td><tmpl_var publish_selector></td>
        </tr>
        <tr>
            <td>Version:</td>
            <td><tmpl_var version_selector> <input type=button value="View" onclick="save_and_view()"></td>
        </tr>
<tmpl_else>
<input type="hidden" name="advanced_schedule" value="1" override="1">
<input type="hidden" name="rm" value="add" override='1'>
      <tr class="form-head">
          <th colspan=2 align=left>Add to Schedule</th>
      </tr>
    <tr class="form-cell">
            <td class="form-cell">Date/Time</td>
            <td class="form-cell">
                <table>
                <tr><td><input type="radio" name="repeat" value="never" <tmpl_if repeat_never>CHECKED</tmpl_if>>Once at:</td><td><tmpl_var full_date_selector><br></td>
                <tr><td><input type="radio" name="repeat" value="hourly" <tmpl_if repeat_hourly>CHECKED</tmpl_if>>Hourly at:</td><td><tmpl_var hourly_minute_selector> minutes after the hour</td></tr>
                <tr><td><input type="radio" name="repeat" value="daily" <tmpl_if repeat_daily>CHECKED</tmpl_if>>Daily at:</td><td><tmpl_var daily_time_selector></td></tr>
                <tr><td><input type="radio" name="repeat" value="weekly" <tmpl_if repeat_weekly>CHECKED</tmpl_if>>Weekly on:</td><td><tmpl_var weekly_day_selector>
- <tmpl_var weekly_time_selector></td></tr>
                </table>
    </td>
    </tr>
    <tr class="form-cell">
            <td class="form-cell">Version:</td>
            <td class="form-cell"><tmpl_var version_selector> <input type=button value="View" onclick="save_and_view()"></td>
    </tr>
    <tr class="form-cell">
            <td class="form-cell">Action:</td>
            <td class="form-cell"><tmpl_var action_selector></td>
    </tr>
</tmpl_if>
<tr><td>&nbsp;</td><td><input type=button value="Add to Schedule" onclick="submit()"></td></tr>
<tmpl_if simple>
<tr><td colspan=2><a href="schedule.pl?advanced_schedule=1&rm=edit&object_type=<tmpl_var object_type>">Advanced Schedule</a></td></tr>
<tmpl_else>
<tr><td colspan=2><a href="schedule.pl?rm=edit&object_type=<tmpl_var object_type>">Simple Schedule</a></td></tr>
</tmpl_if>
</table>
</form>
</div>


<div class=button-bar>
  <input type=button value="Return" onclick="document.return_form.submit()">
</div>

<form name="return_form" method="POST" action="<tmpl_if is_story>story.pl<tmpl_else>media.pl</tmpl_if>">
<input type="hidden" name="rm" value="edit">
</form>

<tmpl_include footer.tmpl>
