<tmpl_include header.tmpl>

<script language=javascript>
 function checkall(checkbox, prefix) {
     for (var i = 0; i < checkbox.form.elements.length ; i++) {
        var e = checkbox.form.elements[i];
        if (e.name && e.name.indexOf(prefix) == 0) {
           e.checked = checkbox.checked;
        }
     }
  }

  function delete_selected () {
        var myform = document.forms["current_schedule_form"];
        myform.rm.value = 'delete';
        myform.submit();
  }

</script>
<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr class="dark-bar">
  <td>&nbsp;SCHEDULED JOBS</td>
  <td align="right"><a href="javascript:goto_help()">Help</a>&nbsp;</td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td width="1" class="line"><img width="1" height="1"></td>
  <td><img width="1" height="4">
<table border="0" cellspacing="0" cellpadding="8" width="100%">
<form name="current_schedule_form" method="POST">
<input type="hidden" name="is_list_all" value="1" override='1'>
<tr><td>
<tmpl_var pager_html></td></tr>
</table></td>
  <td width="1" class="line"><img width="1" height="1"></td>
</tr>
<tr><td colspan="3" class="line"><img width="1" height="1"></td></tr>
</table>
<div class="button-bar"><input type="button" value="Delete Checked" onClick="delete_selected()" class="button"></div>
</form>                                                                      

<tmpl_include footer.tmpl>
