<tmpl_include header.tmpl>

<script language=javascript>
 checkall = function (checkbox, prefix) {
     for (var i = 0; i < checkbox.form.elements.length ; i++) {
        var e = checkbox.form.elements[i];
        if (e.name && e.name.indexOf(prefix) == 0) {
           e.checked = checkbox.checked;
        }
     }
  }

  delete_selected  = function () {
        var myform = document.forms["current_schedule_form"];
        myform.rm.value = 'delete';
        myform.submit();
  }

</script>
<div class="dark-bar"><p class="left">&nbsp;Scheduled Jobs</p><p class="right"><a href="javascript:openWin('help.pl?topic=schedule_job')">Help</a>&nbsp;</p></div>

<div class="box">

<form name="current_schedule_form" method="POST" action="schedule.pl">
<input type="hidden" name="is_list_all" value="1" override='1'>
<br>
<tmpl_var pager_html>
<br>
</div>

<div class="button-bar"><input type="button" value="Delete Checked" onClick="delete_selected()" class="button"></div>
</form>                                                                      
  </div>
<tmpl_include footer.tmpl>
