<script type="text/javascript">
//(mp) We reference the 'edit' form throughout. This isn't
// the most ideal since we're forcing the parent template
// to name their form a certain way, but it will work for the
// time being

<tmpl_if crumbs>
  jump_to = function(p)  {
    // don't resubmit if we are in the middle of a submission
    if( Krang.Form.is_submitting('edit') )
      return;
    Krang.ElementEditor.run_save_hooks();
    Krang.Form.submit('edit', { rm: 'save_and_jump', jump_to: p });
  }
</tmpl_if>

<tmpl_if bulk_edit>

<tmpl_if is_bulk_edit_textarea>
  save_and_change_bulk_edit_sep = function() {
      Krang.ElementEditor.run_save_hooks();
      Krang.Form.submit('edit', { rm: 'save_and_change_bulk_edit_sep' });
  }

  update_bulk_edit_counts = function() {
      var words_span = $('bulk_edit_words');
      var chars_span = $('bulk_edit_chars');

      if( words_span && chars_span ) {
          var text       = document.forms['edit'].bulk_data.value;
          var words      = text.split(/\s+/);
          var word_count = 0;
          var char_count = 0;
          var re         = /\S/;

          for( var i = 0; i < words.length; i++ ) { 
              if( re.test(words[i]) && (words[i] != '<tmpl_var escape=js bulk_edit_sep>') ) {
                  word_count++;
                  char_count += words[i].length;
              }
          }

          words_span.update(word_count);
          chars_span.update(char_count);

          // update the count again in 1 sec
          setTimeout(update_bulk_edit_counts, 1000 + ( text.length / 10 ));
      }
  }
</tmpl_if>

<tmpl_if is_bulk_edit_xinha>
  _editor_url  = "xinha/"
  _editor_lang = "<tmpl_lang en>";

  if (!Krang.XinhaLoaded) {
      var xinha_script = document.createElement('script');
      xinha_script.setAttribute('type', 'text/javascript');
      xinha_script.setAttribute('src',  '<tmpl_var static_url>/xinha/htmlarea.js');
      document.body.appendChild(xinha_script);
      Krang.XinhaLoaded = 1;
  }

  xinha_editors = null;
  xinha_init    = null;
  xinha_config  = null;
  xinha_plugins = null;

  // This contains the names of textareas we will make into Xinha editors
  xinha_init = xinha_init ? xinha_init : function()
  {
      if (typeof HTMLArea == 'undefined') {
          setTimeout(xinha_init, 10);
          return;
      }

      xinha_plugins = xinha_plugins ? xinha_plugins :
      [
       'FullScreen',
       ];

      if(!HTMLArea.loadPlugins(xinha_plugins, xinha_init)) return;

      xinha_editors = [ "bulk_data" ];

      xinha_config = xinha_config ? xinha_config : new HTMLArea.Config();
      xinha_config.sizeIncludesToolbar = false;
      xinha_config.specialReplacements['href="/'] = 'href="<tmpl_var serverbase>'; 
      xinha_config.specialReplacements['src="/'] = 'src="<tmpl_var serverbase>'; 
      xinha_config.specialReplacements['background="/'] = 'background="<tmpl_var serverbase>';

      xinha_editors = HTMLArea.makeEditors(xinha_editors, xinha_config, xinha_plugins);

      Krang.ElementEditor.add_save_hook(function() {
          __htmlareas.each(function(xinha) {
              xinha.deactivateEditor();
              xinha.activateEditor();
              xinha._textArea.value = xinha.outwardHtml(xinha.getHTML());
          })
              });

      xinha_editors["bulk_data"].config.toolbar     = [ <tmpl_var toolbar>     ];
        <tmpl_if formatblock>
      xinha_editors["bulk_data"].config.formatblock = { <tmpl_var formatblock> };
        </tmpl_if>
      HTMLArea.startEditors(xinha_editors);
  }

  Krang.onload(xinha_init);
</tmpl_if>

<tmpl_else>

  find_media = function(p) {
    // don't resubmit if we are in the middle of a submission
    if( Krang.Form.is_submitting('edit') )
      return;
    Krang.ElementEditor.run_save_hooks();
    Krang.Form.submit('edit', { rm: 'save_and_find_media_link', jump_to: p });
  }

  find_story_link = function(p) {
    // don't resubmit if we are in the middle of a submission
    if( Krang.Form.is_submitting('edit') )
      return;
    Krang.ElementEditor.run_save_hooks();
    Krang.Form.submit('edit', { rm: 'save_and_find_story_link', jump_to: p });
  }

  save_and_add = function() {
    // don't resubmit if we are in the middle of a submission
    if( Krang.Form.is_submitting('edit') )
      return;
    Krang.ElementEditor.run_save_hooks();
    Krang.Form.submit('edit', { rm: 'save_and_add' });
  }

  save_and_jump = function() {
    // don't resubmit if we are in the middle of a submission
    if( Krang.Form.is_submitting('edit') )
      return;
    Krang.ElementEditor.run_save_hooks();
    Krang.Form.submit('edit', { rm: 'save_and_jump' });
  }

  edit_children = function( p ) {
    // don't resubmit if we are in the middle of a submission
    if( Krang.Form.is_submitting('edit') )
      return;
    Krang.ElementEditor.run_save_hooks();
    Krang.Form.submit('edit', { rm: 'save_and_jump', jump_to: p });
  }

  <tmpl_if bulk_edit_select>
    save_and_bulk_edit = function() {
      // don't resubmit if we are in the middle of a submission
      if( Krang.Form.is_submitting('edit') )
        return;
      Krang.ElementEditor.run_save_hooks();
      Krang.Form.submit('edit', { rm: 'save_and_bulk_edit' });
    }
  </tmpl_if>

  remove_children = function() {
    // don't resubmit if we are in the middle of a submission
    if( Krang.Form.is_submitting('edit') )
      return;

    if( confirm( Krang.L10N.loc('Are you SURE you want to delete these sub-elements?') ) ) {
      Krang.ElementEditor.run_save_hooks();
      Krang.Form.submit('edit', { rm: 'delete_children' }, { to_top: false });
    }
  }

  <tmpl_if child_select>
    var containers = new Array();

    <tmpl_loop container_loop>
      containers[ '<tmpl_var escape=js name>' ] = 1;
    </tmpl_loop>

    add_child = function() {
      var f      = document.forms['edit'];
      var list   = f.elements['child'];
      var name   = list.options[ list.selectedIndex ].value;
      var rm     = 'save_and_add';
      var to_top = false;

      // don't resubmit if we are in the middle of a submission
      if( Krang.Form.is_submitting('edit') )
        return;

      // container elements behave differently
      if ( containers[name] ) {
        to_top = true;
      }

      Krang.ElementEditor.run_save_hooks();
      Krang.Form.submit('edit', { rm : rm }, { to_top : to_top });
    }
  </tmpl_if>

  <tmpl_unless no_reorder>
    reorder = function() {
      // don't resubmit if we are in the middle of a submission
      if( Krang.Form.is_submitting('edit') )
        return;

      Krang.ElementEditor.run_save_hooks();
      Krang.Form.submit('edit', { rm: 'reorder' }, { to_top: false });
    }
  </tmpl_unless>
</tmpl_if>

change_element_class = function(select) {
    var new_class = select.value;
    var elements = select.form.elements;
    var xpath = select.id.replace(/^for_/, '');
    xpath.match(/\/([^\/]+)\[\d+\]$/);
    var old_class = RegExp.$1;
    var current_el;

    xpath.match(/.*\[(\d+)\]$/);
    var old_class_pos = parseInt(RegExp.$1)
    var new_class_pos = 0;

    // for the new class that we want to become, find the maximum index
    // of the xpath's for that class before we get to our current element
    for(var i=0; i<elements.length; i++) {
        var el = elements[i];
        if( ! el.name.match(/\[\d+\]/) ) continue; // only look at params that are xpaths
        if( el.name == xpath ) {
            current_el = el;
            break;
        } else if(el.name.match(new RegExp('/' + new_class + '\\[(\\d+)\\]'))) {
            new_class_pos = parseInt(RegExp.$1);
            new_class_pos += 1;
        }
    }
    var new_name, class_changer;

    // find any elements that are in the same class as this element used to be and move their
    // xpath index "down" if they were higher than this element
    // NOTE: JavaScript is a horrible language for manipulating regular expressions. Using them
    // isn't too bad, but try creating them dynamically... jeesh!
    var old_name_pattern = xpath;
    old_name_pattern = old_name_pattern.replace(new RegExp('/' + old_class + '\\[(\\d+)\\]'), '/' + old_class + '[(\\d+)]');
    old_name_pattern = old_name_pattern.replace(/\[/g, '\\[');
    old_name_pattern = old_name_pattern.replace(/\]/g, '\\]');
    old_name_pattern = old_name_pattern.replace(/\//g, '\\/');
    var old_name_regex = new RegExp(old_name_pattern);
    for(var i=0; i<elements.length; i++) {
        var el = elements[i];
        if( ! el.name.match(/\[\d+\]/) ) continue; // only look at params that are xpaths
        if( el.name == xpath ) {
            continue;
        } else if(el.name.match(old_name_regex)) {
            var old_index = parseInt(RegExp.$1);
            if( old_index < old_class_pos ) continue; // only move those "above" us
            new_name = el.name.replace(new RegExp('/' + old_class + '\\[\\d+\\]'), '/' + old_class + '[' + (old_index - 1) + ']');
            // we need to change the selector's id
            class_changer = $('for_' + el.name);  
            if( class_changer ) class_changer.id = 'for_' + new_name;

            // now finally change the element itself
            el.name = new_name;
        }
    }

    // find any elements that are in the same class as this element is going to be to be and move their
    // xpath index "up" if they were higher than this element
    var new_name_pattern = old_name_pattern;
    new_name_pattern = new_name_pattern.replace(new RegExp('\\\\\\\/' + old_class + '\\\\\\\['), '\\/' + new_class + '\\[');
    var new_name_regex = new RegExp(new_name_pattern);
    for(var i=0; i<elements.length; i++) {
        var el = elements[i];
        if( ! el.name.match(/\[\d+\]/) ) continue; // only look at params that are xpaths
        if( el.name == xpath ) {
            continue;
        } else if(el.name.match(new_name_regex)) {
            var old_index = parseInt(RegExp.$1);
            if( old_index < new_class_pos ) continue; // only move those "above" us
            new_name = el.name.replace(new RegExp('/' + new_class + '\\[\\d+\\]'), '/' + new_class + '[' + (old_index + 1) + ']');
            // we need to change the selector's id
            class_changer = $('for_' + el.name);  
            if( class_changer ) class_changer.id = 'for_' + new_name;

            // now finally change the element itself
            el.name = new_name;
        }
    }

    // now change the name of this element
    new_name = current_el.name.replace(new RegExp('/' + old_class + '\\[\\d+\\]'), '/' + new_class + '[' + new_class_pos + ']');
    // we need to change the selector's id
    class_changer = $('for_' + current_el.name);  
    class_changer.id = 'for_' + new_name;

    // now finally change the element itself
    current_el.name = new_name;
    select.id = 'for_' + new_name;
}

</script>

<input name="path" value="<tmpl_var escape=html path>" type="hidden">
<input name="jump_to" type="hidden">
<input name="bulk_edit" value="<tmpl_var escape=html bulk_edit>" type="hidden">
<input name="editor_insert_storylink_function" value="" type="hidden">
<input name="filter_element" value="" type="hidden">
<tmpl_if bulk_edit>
  <input name="bulk_edit_child" value="<tmpl_var escape=html bulk_edit_child>" type="hidden">
  <tmpl_if bulk_edit_sep><input name="bulk_edit_sep" value="<tmpl_var escape=html bulk_edit_sep>" type="hidden"></tmpl_if>
</tmpl_if>

<tmpl_if crumbs>
<p class="cram east">
  <tmpl_if bulk_edit>
    <input value="<tmpl_lang Done With Bulk Edit>" onclick="save_and_leave_bulk_edit()" type="button" class="button">
  <tmpl_else>
    <input value="<tmpl_var done_with_this_element>" onclick="save_and_go_up()" type="button" class="button">
    <tmpl_if allow_delete>
      <input value="<tmpl_var delete_this_element>" onclick="remove_element()" type="button" class="button">
    </tmpl_if>
  </tmpl_if>
</p>

<div class="crumbs"><strong><tmpl_lang Go To:></strong> <tmpl_loop crumbs>
  <tmpl_unless __last__><a href="javascript:jump_to('<tmpl_var escape=html path>')"></tmpl_unless><tmpl_var escape=html name><tmpl_unless __last__></a> &raquo;</tmpl_unless>
</tmpl_loop>

</div>

</tmpl_if>

<tmpl_if bulk_edit>

  <table class="request" summary="">

  <colgroup>
  <col class="c-label">
  <col>
  </colgroup>

  <tbody>

  <tr>
  <td colspan="2" class="full">
  <textarea id="bulk_data" name="bulk_data" rows="40" cols="60"><tmpl_var escape=html bulk_data></textarea>
  </td>
  </tr>

  <tmpl_if bulk_edit_word_count>
  <tr>
  <th><tmpl_lang Separator String></th>
  <td>
  <tmpl_var bulk_edit_sep_selector>
  <input value="<tmpl_lang Change Separator>" onclick="save_and_change_bulk_edit_sep()" type="button" class="button">
  </td>
  </tr>

  <tr>
  <th><tmpl_lang Word Count></th>
  <td id="bulk_edit_words"></td>
  </tr>

  <tr>
  <th><tmpl_lang Character Count></th>
  <td id="bulk_edit_chars"></td>
  </tr>

  <script type="text/javascript">
  setTimeout( update_bulk_edit_counts, 1000 );  //:should trigger onload(db2)
  </script>
  </tmpl_if>

  </tbody>

  </table>

<tmpl_else><tmpl_unless child_loop>

  <tmpl_if child_select>
    <p class="naught">
    <tmpl_lang No sub-elements defined.>
    </p>

    <br>
    <tmpl_var child_select>
    <input value="<tmpl_lang Add Element>" onclick="add_child()" type="button" class="button">
  </tmpl_if>

  <tmpl_if bulk_edit_select>
    <br>
    <tmpl_var bulk_edit_select>
    <input value="<tmpl_lang Bulk Edit>" onclick="save_and_bulk_edit()" type="button" class="button">
  </tmpl_if>

<tmpl_else>

  <div class="table-container"<tmpl_if crumbs> style="margin-top:10px"</tmpl_if>>
  <img src="<tmpl_var static_url>/images/corner-top-left.gif" class="left-corner">
  <img src="<tmpl_var static_url>/images/corner-top-right.gif" class="right-corner">
  <table cellspacing="0" class="result edit select_row" summary="">

  <colgroup>
  <col class="series">
  <col class="c-label-smaller">
  <col>
  <col class="c-stat">
  </colgroup>

  <thead>
  <tr>

<tmpl_if elements_belong_to_media_object>
  <th class="series f" style="text-align: left" colspan=3><tmpl_lang Media Elements></th>
<tmpl_else>
  <th class="series f"><tmpl_lang Order></th>
  <th><tmpl_lang Element></th>
  <th><tmpl_lang Data Entry></th>
</tmpl_if>
  <th class="series l"><tmpl_unless no_reorder><input type="checkbox" onclick="Krang.check_all(this,'remove_')"></tmpl_unless></th>
  </tr>
  </thead>

  <tbody>

  <tmpl_loop child_loop>
    <tr<tmpl_unless __odd__> class="even"</tmpl_unless>>
    <td class="series f"><tmpl_var order_select></td>

    <th class="wrap">
      <tmpl_if required>*</tmpl_if>
      <tmpl_var element_widget>
    </th>

    <td>
    <tmpl_if is_container>
      <input value="<tmpl_lang Edit>" onclick="edit_children('<tmpl_var escape=html path>')" type="button" class="button">
    </tmpl_if>
    <tmpl_var form>
    </td>

    <td class="series l"><tmpl_if allow_delete><input name="remove_<tmpl_var escape=html index>" type="checkbox" class="hilite-row"><tmpl_else>&nbsp;</tmpl_if></td>
    </tr>
  </tmpl_loop>

  <tr class="command-row">
  <td class="series f"><tmpl_unless no_reorder><input value="<tmpl_lang Reorder>&nbsp;&uarr;" onclick="reorder()" type="button" class="button"><tmpl_else>&nbsp;</tmpl_unless></td>

  <td>&nbsp;</td>

  <td>
  <table>
  <tmpl_if child_select><tr>
    <td><tmpl_var child_select></td>
    <td><input value="<tmpl_lang Add Element>" onclick="add_child()" type="button" class="button"></td>
  </tr></tmpl_if>

  <tmpl_if bulk_edit_select><tr>
    <td><tmpl_var bulk_edit_select></td>
    <td><input value="<tmpl_lang Bulk Edit>" onclick="save_and_bulk_edit()" type="button" class="button"></td>
  </tr></tmpl_if>
  </table>
  </td>

  <td class="series l"><tmpl_unless no_delete><input value="<tmpl_lang Delete>&nbsp;&uarr;" onclick="remove_children()" type="button" class="mini-list-button button"></tmpl_unless></td>
  </tr>

  </tbody>

  </table></div>

</tmpl_unless></tmpl_if>

<tmpl_if crumbs>
<p class="cram east">
  <tmpl_if bulk_edit>
    <input value="<tmpl_lang Done With Bulk Edit>" onclick="save_and_leave_bulk_edit()" type="button" class="button">
  <tmpl_else>
    <input value="<tmpl_var done_with_this_element>" onclick="save_and_go_up()" type="button" class="button">
    <tmpl_if allow_delete>
      <input value="<tmpl_var delete_this_element>" onclick="remove_element()" type="button" class="button">
    </tmpl_if>
  </tmpl_if>
</p>

<div class="crumbs"><strong><tmpl_lang Go To:></strong> <tmpl_loop crumbs>
  <tmpl_unless __last__><a href="javascript:jump_to('<tmpl_var escape=html path>')"></tmpl_unless><tmpl_var escape=html name><tmpl_unless __last__></a> &raquo;</tmpl_unless>
</tmpl_loop>

</div>

</tmpl_if>

