<tmpl_include header.tmpl>

<script language="javascript">
  nav_edit_mode();
  function select_story(id) {
        document.forms[0].rm.value = 'select_story';
        document.forms[0].selected_story_id.value = id;
        document.forms[0].submit();
  }

  function cancel_select() {
        document.forms[0].rm.value = 'edit';
        document.forms[0].path.value = '<tmpl_var parent_path>';
        document.forms[0].submit();
  }  

  function advanced_search() {
    document.forms[0].advanced.value = 1;
    document.forms[0].submit();
  }

  function simple_search() {
    document.forms[0].advanced.value = 0;
    document.forms[0].submit();
  }

  function clear_advanced_search () {
    var myform = document.clear_advanced_search_form;
    myform.submit();
  }

</script>

<form name=select_story method=post>
<input type=hidden name="selected_story_id">
<input type=hidden name="rm" value="find_story_link">
<input type=hidden name="path" value="<tmpl_var escape=1 path>">
<input type=hidden name="advanced" value="<tmpl_var escape=1 advanced>">

<div class=dark-bar>Select Story</div>

<div class=tight-form-box>
<div class=light style='padding-bottom: 3px; margin-bottom: 5px'>

SEARCH

<tmpl_if advanced>

  (<a href="javascript:simple_search()">Simple Search</a>)

    <table border="0" cellspacing="5">

      <tr>
        <td colspan="2">Title:</td>
        <td colspan="3"><input size="40" type="textfield" name="search_title" value="<tmpl_var escape=HTML search_title>"></td>
      </tr>

      <tr>
        <td colspan="2">URL:</td>
        <td colspan="3"><input size="40" type="textfield" name="search_url" value="<tmpl_var escape=HTML search_url>"></td>
      </tr>

      <tr>
        <td>Cover Date:</td>
        <td>from</td>
        <td><tmpl_var date_chooser_cover_from></td>
        <td>To</td>
        <td><tmpl_var date_chooser_cover_to></td>
      </tr>

      <tr>
        <td>Publish Date:</td>
        <td>from</td>
        <td><tmpl_var date_chooser_publish_from></td>
        <td>To</td>
        <td><tmpl_var date_chooser_publish_to></td>
      </tr>

      <tr>
        <td colspan="2">Story Type:</td>
        <td colspan="3"><tmpl_var search_class_chooser></td>
      </tr>

      <tr>
        <td colspan="2">Story ID:</td>
        <td colspan="3"><input size="40" type="textfield" name="search_story_id" value="<tmpl_var escape=HTML search_story_id>"></td>
      </tr>

      <tr>
        <td colspan="2">Contributor:</td>
        <td colspan="3"><input size="40" type="textfield" name="search_contrib_simple" value="<tmpl_var escape=HTML search_contrib_simple>"></td>
      </tr>

      <tr>
        <td colspan="2">Site/Category:</td>
        <td colspan="3"><tmpl_var category_chooser></td>
      </tr>

      <tr>
        <td colspan="2"></td>
        <td colspan="3"><input type="button" value="Clear" onClick="clear_advanced_search()">&nbsp;<input type="button" value="Search" onclick="document.forms[0].submit()"></td>
      </tr>

    </table>

<tmpl_else>

  (<a href="javascript:advanced_search()">Advanced Search</a>)<br />
  <input type="textfield" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">
  <input type="button" value="Search" onclick="document.forms[0].submit()">

</tmpl_if>
</div>

<!-- Krang::HTMLPager params -->
<input type="hidden" name="krang_pager_curr_page_num" value="">
<input type="hidden" name="krang_pager_show_big_view" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">
<input type="hidden" name="krang_pager_sort_field" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">
<input type="hidden" name="krang_pager_sort_order_desc" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">

</form>

<!-- Krang::HTMLPager params -->
<input type="hidden" name="krang_pager_curr_page_num" value="">
<input type="hidden" name="krang_pager_show_big_view" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">
<input type="hidden" name="krang_pager_sort_field" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">
<input type="hidden" name="krang_pager_sort_order_desc" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">

</form>

<form name="clear_advanced_search_form" method="POST">
<input type="hidden" name="rm" value="find_story_link">
<input type="hidden" name="path" value="<tmpl_var path>">
<input type="hidden" name="advanced" value=1>
<input type="hidden" name="search_filter" value="">
</form>

<div style='margin:4px'>
<tmpl_var pager_html>
</div>

</div>

<div class=button-bar>
    <input type=button value="Cancel" onclick="cancel_select()">
</div>


<tmpl_include footer.tmpl>