<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en-US" class="solo"><head>

<title><tmpl_var escape=html krang_product_name> - <tmpl_var escape=html instance_display_name> - Debugger</title>

<link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

<style type="text/css">
@import url("/krang.css");
</style>

<!--[if lte IE 7]><style type="text/css">
body { position: relative; font-size: 69%; }
</style><![endif]-->

<!--[if lt IE 7]><style type="text/css">
#M { height: 420px; }

#C { display: inline; margin-left: 19px; }
</style><![endif]-->

</head><body><div id="M"><div id="C">

<h2>
Debugger
</h2>

<form name="debug_form" action="debug.pl" method="post" class="non_ajax">

<p><!--:FIXME(db2)-->
You can type Perl code into the Perl Console and see the results in the Perl Screen.
The code you type is compiled into a subroutine and the return value is shown using Data::Dumper.
If your code die()s then the message is shown.
Both strict and warnings are off for your code.
</p>

<table class="request" summary="">

<colgroup>
<col class="c-label">
<col>
</colgroup>

<tbody class="full">

<tr>
<th>Perl Screen</th>
<td><textarea name="eval" rows="5" cols="80" readonly><tmpl_var escape=html output></textarea>
</td>
</tr>

<tr>
<th>Perl Console</th>
<td>
<textarea name="perl" rows="3" cols="60"></textarea>
<br>
<input value="eval" type="submit" class="button">
</td>
</tr>

<tr>
<th>tail -n300 krang.log</th>
<td><textarea name="log" rows="10" cols="80" readonly><tmpl_var escape=html log></textarea></td>
</tr>

<tr>
<th>krang.conf</th>
<td><textarea name="conf" rows="10" cols="80" readonly><tmpl_var escape=html conf></textarea></td>
</tr>

</tbody>

</table>

</form>

</div></div></body></html>

