<tmpl_include header.tmpl>

<script language="javascript" type="text/javascript">
  nav_edit_mode();
        
  function db_save() {
        document.forms[0].rm.value = 'db_save';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function db_save_and_stay() {
        document.forms[0].rm.value = 'db_save_and_stay';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function check_in() {
        document.forms[0].rm.value = 'check_in';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function save_and_jump() {
        document.forms[0].rm.value = 'save_and_jump';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function save_and_add() {
        document.forms[0].rm.value = 'save_and_add';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function save_and_go_up() {
        document.forms[0].rm.value = 'save_and_go_up';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function save_and_stay() {
        document.forms[0].rm.value = 'save_and_stay';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function save_and_view() {
        document.forms[0].rm.value = 'save_and_view';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function save_and_view_log() {
        document.forms[0].rm.value = 'save_and_view_log';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function save_and_edit_schedule() {
        document.forms[0].rm.value = 'save_and_edit_schedule';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function save_and_bulk_edit() {
        document.forms[0].rm.value = 'save_and_bulk_edit';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }


  function save_and_leave_bulk_edit() {
        document.forms[0].rm.value = 'save_and_leave_bulk_edit';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function save_and_edit_contribs() {
        document.forms[0].rm.value = 'save_and_edit_contribs';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function remove() {
        if (confirm("Really delete this category?")) {
           document.forms[0].rm.value = 'delete';
           if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
        }
  }


  function revert() {
        var v = document.forms[0].version.options[document.forms[0].version.selectedIndex].value;
        if (confirm("Really discard changes and revert to version " + v + "?")) {
           document.forms[0].rm.value = 'revert';
           if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
        }
  }

  function add_category() {
        document.forms[0].rm.value = 'add_category';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

  function remove_categories() {
        if (confirm("Really delete categories?")) {
           document.forms[0].rm.value = 'delete_categories';
           if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
        }
  }

  function set_primary_category() {
        document.forms[0].rm.value = 'set_primary_category';
        if (!document.forms[0].onsubmit || document.forms[0].onsubmit()) { document.forms[0].submit(); }
  }

</script>

<form method=post name=edit enctype="multipart/form-data">
<input type=hidden name=rm value=edit>


<tmpl_loop alerts_loop>
  <div class="alert">* <tmpl_var alert></div>
</tmpl_loop>

<div class="dark-bar"><p class="left">&nbsp;Edit Category</p><p class="right"><a href="javascript:openWin('help.pl?topic=category')">Help</a>&nbsp;</p></div>

<div class="boxb">
<table width="100%" cellpadding="5" cellspacing="0" border="0">
<!-- <tr class="light"><td>ID:</td><td><tmpl_var category_id></td></tr> -->

<tr class=light><td>URL:</td><td><tmpl_var url></td>
</tr>
</table>
<tmpl_include /ElementEditor/edit.tmpl>

</div>

<div class="button-bar">
  <tmpl_if is_root>
    <input type="button" value="Save" onclick="db_save()" class="button">
    <input type="button" value="Save &amp; Stay" onclick="db_save_and_stay()" class="button">
    <input type="reset" value="Reset" class="button">
     <input type="button" value="Delete" onclick="remove()" class="button">
  <tmpl_else>
    <tmpl_if bulk_edit>
      <input type="button" value="Save" onclick="save_and_leave_bulk_edit()" class="button">
    <tmpl_else>
      <input type="button" value="Save" onclick="save_and_go_up()" class="button">
    </tmpl_if>
    <input type="button" value="Save &amp; Stay" onclick="save_and_stay()" class="button">
    <input type="reset" value="Reset" class="button">
    <tmpl_unless bulk_edit>
      <input type="button" value="Delete" onclick="remove_element()" class="button">
    </tmpl_unless>
  </tmpl_if>

</div>

</form>
</div>
<tmpl_include footer.tmpl>
