<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
  Krang.Nav.edit_mode();
  Krang.Help.set( 'category' );
} );

save_and_leave = function()
{
  Krang.form_submit( 'edit', { rm: '<tmpl_if is_root>db_save<tmpl_else>save_and_<tmpl_if bulk_edit>leave_bulk_edit<tmpl_else>go_up</tmpl_if></tmpl_if>' } );
}

save_and_stay = function()
{
  Krang.form_submit( 'edit', { rm: '<tmpl_if is_root>db_</tmpl_if>save_and_stay' }, { to_top: false } );
}

<tmpl_if is_root>

  remove_category = function()
  {
    if ( confirm( 'Are you SURE you want to delete this Category?' ) )
      Krang.form_submit( 'edit', { rm: 'delete' } );
  }

<tmpl_else><tmpl_unless bulk_edit><tmpl_if allow_delete>

  remove_element = function()
  {
    if ( confirm( 'Are you SURE you want to delete this Element?' ) )
      Krang.form_submit( 'edit', { rm: 'delete_element' }, { to_top: false } );
  }

</tmpl_if></tmpl_unless></tmpl_if>
</script>

<h2>
Edit Category
</h2>

<form name="edit" action="category.pl" method="post" enctype="multipart/form-data">

<input name="rm" value="edit" type="hidden">

<h3>
Properties
</h3>

<table class="request" summary="">

<colgroup>
<col class="c-label">
<col>
</colgroup>

<tbody>

<tr>
<th>Category ID</th>
<td><tmpl_var escape=html category_id></td>
</tr>

<tr>
<th>URL</th>
<td><tmpl_var url><!--:markup--></td>
</tr>

</tbody>

</table>

<!--ElementEditor/edit.tmpl:-->
<tmpl_include /ElementEditor/edit.tmpl>
<!--:ElementEditor/edit.tmpl-->

<div class="panel capped">
<input value="Save &amp; Stay" onclick="save_and_stay()" type="button">
<input value="Save" onclick="save_and_leave()" type="button">
<tmpl_if is_root>
  <input value="Delete" onclick="remove_category()" type="button">
<tmpl_else><tmpl_unless bulk_edit><tmpl_if allow_delete>
  <input value="Delete" onclick="remove_element()" type="button">
</tmpl_if></tmpl_unless></tmpl_if>
</div>

</form>

<tmpl_include footer.tmpl>

