<tmpl_include /header.tmpl>

<script language="javascript" type="text/javascript">
<!-- //

    add_category  = function () {
        var myform = document.forms["add_category_form"];
        myform.submit();
    }

    edit_category  = function (category_id) {
        var myform = document.forms["edit_category_form"];
        myform.category_id.value = category_id;
        myform.submit();
    }

    delete_selected  = function () {
        if (confirm("Are you SURE you want to delete these categories?")) {
            var myform = document.forms["krang_pager_form"];
            myform.rm.value = 'delete_selected';
            myform.submit();
        }
    }


// -->
</script>

<form name="add_category_form" method="POST" action="category.pl">
<input type="hidden" name="rm" value="new_category">
</form>

<form name="edit_category_form" method="POST" action="category.pl">
<input type="hidden" name="rm" value="edit">
<input type="hidden" name="category_id" value="">
</form>

<div class="dark-bar"><p class="left">&nbsp;Category Lists</p><p class="right"><a href="javascript:openWin('help.pl?topic=category')">Help</a>&nbsp;</p></div>

<form name="search_form" method="POST" action="category.pl">
<div class="boxb"> 
 <div class="light">

  <p>SEARCH</p>
  <input type="hidden" name="rm" value="find">
<input type="text" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">&nbsp;&nbsp;&nbsp;<input type="submit" value="Search" class="button"></div>

<!-- Krang::HTMLPager params -->
<input type="hidden" name="krang_pager_curr_page_num" value="">
<input type="hidden" name="krang_pager_show_big_view" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">
<input type="hidden" name="krang_pager_sort_field" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">
<input type="hidden" name="krang_pager_sort_order_desc" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">

</form>

<div class="no-border">

<p><b><a href="javascript:add_category()">Add A Category</a></b></p></div>


<!-- START Krang::HTMLPager output -->
<tmpl_var pager_html>
<!-- END Krang::HTMLPager output -->
</div>

<tmpl_if row_count>
  <div class="button-bar"><input type="button" value="Delete Checked" onClick="delete_selected()" class="button"></div>
</tmpl_if>
</div>

<tmpl_include /footer.tmpl>
