<tmpl_include header.tmpl>

<script language="JavaScript" type="text/javascript">
  nav_edit_mode();
                
  create = function () {
     document.new_category.rm.value = 'create';
     document.new_category.submit();
  }
  cancel = function () {
     if (confirm("Are you sure?")) {
        document.new_category.rm.value = 'find';
        document.new_category.submit();
     }
  }
</script>

<form method="post" name="new_category" action="category.pl">
<input type="hidden" name="rm">


<div class="dark-bar"><p class="left">&nbsp;New Category</p><p class="right"><a href="javascript:openWin('help.pl?topic=category')">Help</a>&nbsp;</p></div>

<tmpl_loop alerts_loop>
  <div class="alert">* <tmpl_var alert></div>
</tmpl_loop>

<div class="box">
<br>
<table cellspacing="0" cellpadding="4" class="form-head">
<tr><td>Properties</td></tr></table>

<table cellspacing="0" width="571" class="form-cell" cellpadding="4">
        <tr>
            <td class="form-cell">Parent</td>
            <td class="form-cell"><tmpl_if bad_parent_id><span class="invalid"></tmpl_if>
    <tmpl_var parent_chooser>
  <tmpl_if bad_parent_id></span></tmpl_if>
</td>
</tr>

<tr>
<td class=form-cell>Directory</td>
<td class=form-cell><input <tmpl_if bad_dir>class="invalid"</tmpl_if> type=text size=15 value="<tmpl_var escape=html dir>" name=dir></td>
        </tr></table><br></div>

<div class="button-bar">
  <input type=button value="Create" onclick="create()" class="button">
  <input type=reset value="Reset" class="button">
  <input type=button value="Cancel" onclick="cancel()" class="button">
</div></form>
</div>


<tmpl_include footer.tmpl>
        
