<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
  Krang.Nav.edit_mode();
  Krang.Help.set( 'category' );
} );

cancel = function()
{
  if ( confirm( 'Are you sure?' ) )  //:of what?(db2)
    Krang.form_submit( 'new_category', { rm: 'find' } );
}
</script>

<h2>
New Category
</h2>

<form name="new_category" action="category.pl" method="post">

<input name="rm" value="create" type="hidden">

<h3>
Properties
</h3>

<table class="request" summary="">

<colgroup>
<col class="c-label">
<col>
</colgroup>

<tbody class="demi">

<tr<tmpl_if bad_parent_id> class="err"</tmpl_if>>
<th>Parent</th>
<td>
<tmpl_var parent_chooser>
</td>
</tr>

<tr<tmpl_if bad_dir> class="err"</tmpl_if>>
<th>Directory</th>
<td><input name="dir" value="<tmpl_var escape=html dir>"></td>
</tr>

</tbody>

</table>

<div class="panel capped">
<input value="Cancel" onclick="cancel()" type="button" class="west">
<input value="Create" type="submit">
</div>

</form>

<tmpl_include footer.tmpl>

