<tmpl_include /header.tmpl>


<script language="javascript" type="text/javascript">
<!-- //

    <tmpl_var js_list_arrays>
    function populate_list (list_count) {

        var next_list = list_count + 1;

        // first, clear lists above one selected
        clear_lists_above(next_list);

        var select_val = eval ('document.forms["edit_form"].list_' + list_count + '.options[document.forms["edit_form"].list_' + list_count + '.selectedIndex].value');
        
        var count = 0;
        for(var key in eval('list_data[' + select_val + ']') ) {
           if (eval('list_data[' + select_val + "][key]['__data__']") ) {
                eval ('document.forms["edit_form"].list_' + next_list + '.options[' + count++ + '] = new Option(' + "'" + eval("list_data[" + select_val + "][key]['__data__']") + "', '" + select_val + '][' + key + "')");
           }
        }
    }

    function clear_lists_above(list_count) {
        for ( var c = list_count; c <= <tmpl_var list_levels>; c++ ) {
            eval ('document.forms["edit_form"].list_' + c + '.options.length = 0'); 
        }
    }

    nav_edit_mode();

    function do_save () {
        var myform = document.forms["edit_form"];
        myform.rm.value = "save";
        myform.submit();
    }


    function save_stay () {
        var myform = document.forms["edit_form"];
        myform.rm.value = "save_stay";
        myform.submit();
    }


    function do_delete (list_id) {
        var select_val = eval ('document.forms["edit_form"].list_' + list_id + '.options[document.forms["edit_form"].list_' + list_id + '.selectedIndex].value');
        alert(select_val);
        }
    }

    function do_add(list_count) {
        var select_val = get_selected_val(list_count);
        var new_data = eval( "document.forms['edit_form'].new_item_" + list_count + ".value" );

        // do nothing if no value is entered in textbox
        if (! new_data) {
            return;
        }
    
        // if list item is selected in list we are adding to
        if (select_val != 'undef' ) {
            var indexArray = select_val.split('][');
            var current_index = indexArray.pop();
            select_val = indexArray.join('][');
            
            var t = new Array();
            t['__data__'] = new_data;
            t['__id__'] = 'new_' + new_count++;

            // if we are on the first list
            if (! select_val) {
                list_data.splice(current_index, 0, t);
            } else {
                // else this is not first list
                eval('list_data[' + select_val + '].splice(current_index, 0, t)');
            }

            var parent;
            if (indexArray.length) {
                parent = eval("list_data[" + select_val + "]['__id__']");
            }
            log_entry(t['__id__'], 'new', new_data + '^*^' + (parseInt(current_index) + 1) + '^*^' + get_list_id(list_count) + '^*^' + parent );
        } else {
            // if this is not the first list, get the parent selected
            if (list_count - 1) {
                select_val = get_selected_val(list_count - 1);
        
                // if parent isn't selected either, dont do a thing
                if (select_val == 'undef') {
                    return;
                }
            } else {
                 select_val = 'undef';
            }

            // if this is first list
            if (select_val == 'undef') {
                // if this is first item in first list
                if( ! list_data[0]) {
                    list_data[0] = new Array();
                    list_data[0]['__data__'] = new_data;
                    list_data[0]['__id__'] = 'new_' + new_count++;
                    log_entry(list_data[0]['__id__'], 'new', list_data[0]['__data__'] + '^*^' + 1 + '^*^' + get_list_id(list_count) );
                } else {
                    // else add as first item in first list
                    var nitem = new Array();
                    nitem['__data__'] = new_data;
                    nitem['__id__'] = 'new_' + new_count++;
                    list_data.splice(0,0,nitem);
                    log_entry(nitem['__id__'], 'new', new_data + '^*^' + 1 + '^*^' + get_list_id(list_count) );
                }
            } else { 
                // if this list has no current items
                if( ! eval('list_data[' + select_val + '][0]') ) {
                    eval('list_data[' + select_val + '][0] = new Array()');
                    var it = eval('list_data[' + select_val + '][0]');
                    it['__data__'] = new_data; 
                    it['__id__'] = "new_" + new_count++;
                    log_entry(it['__id__'], 'new', new_data + '^*^'
+ 1 + '^*^' + get_list_id(list_count) + '^*^' + eval('list_data[' + select_val + "]['__id__']"));
                } else {
                    var nitem = new Array();
                    nitem['__data__'] = new_data;
                    nitem['__id__'] = 'new_' + new_count++;
                    eval('list_data[' + select_val + '].splice(0,0,nitem)');
                    log_entry(nitem['__id__'], 'new', new_data + '^*^' + 1 + '^*^' + get_list_id(list_count) + '^*^' + eval('list_data[' + select_val + ']["__id__"]'));
                }
            }
            current_index = 0;
        }
        
        eval( "document.forms['edit_form'].new_item_" + list_count + ".value = ''" );
        populate_list(list_count-1, current_index);
    }

    function log_entry (item_id, action, data) {
        var entry;
        entry = item_id + '#&#' + action + '#&#' + data;
        change_log.push(entry);
    }
    
// -->
</script>


<div class="dark-bar"><p class="left">&nbsp;List Group Edit - <tmpl_var list_group_name></p><p class="right"><a href="javascript:goto_help()">Help</a>&nbsp;</p></div>
<div class="box">
<form name="edit_form" method="GET" action="list_group.pl">
<table border="1" cellpadding="2" cellspacing="0" width="100%">
<tr><td width="150">Description:</td><td width="400"><textarea rows="4" cols="60"><tmpl_var list_group_description></textarea></td></tr>
<tr class="light-bar"><td colspan=2>LISTS</td></tr>
<tmpl_loop list_loop>
<tr><td><tmpl_var list_name></td><td><select name="list_<tmpl_var list_count>" size="10" onChange="populate_list(<tmpl_var list_count>)">
<option value=" " <tmpl_unless choice>SELECTED</tmpl_unless>>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<tmpl_if list_item_loop><tmpl_loop list_item_loop><option value="<tmpl_var list_item_id>"><tmpl_var data></tmpl_loop></tmpl_if></select>
<br><input type="text" name="new_item_<tmpl_var list_count>">
<input type="submit" value="Add" onClick="do_add(<tmpl_var list_count>)" class="button">
<input type="button" value="Replace" onClick="do_replace(<tmpl_var list_count>)" class="button">
<input type="button" value="Delete Selected" onClick="do_delete(<tmpl_var list_count>)" class="button">
</td></tr>
</tmpl_loop>
</table>
</div>
<div class="button-bar">
    <input type="submit" value="Save" onClick="do_save()" class="button">
    <input type="button" value="Save &amp; Stay" onClick="save_stay()" class="button">
</div>


<!-- End edit_form -->
</form>

</div>
<tmpl_include /footer.tmpl>
