<tmpl_include /header.tmpl>

<script language="Javascript">
<!-- //

    function edit_list_group (list_group_id) {
        var myform = document.forms["edit_list_group_form"];
        myform.list_group_id.value = list_group_id;
        myform.submit();
    }

// -->
</script>

<form name="edit_list_group_form" method="POST">
<input type="hidden" name="rm" value="edit">
<input type="hidden" name="list_group_id" value="">
<input type="hidden" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">

<!-- Krang::HTMLPager params -->
<input type="hidden" name="krang_pager_curr_page_num" value="<tmpl_var ESCAPE=HTML krang_pager_curr_page_num>">
<input type="hidden" name="krang_pager_show_big_view" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">
<input type="hidden" name="krang_pager_sort_field" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">
<input type="hidden" name="krang_pager_sort_order_desc" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">

</form>

<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr class="dark-bar">
  <td>&nbsp;LIST GROUPS</td>
  <td align="right"><a href="javascript:goto_help()">Help</a>&nbsp;</td>
</tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td width="1" class="line"><img width="1" height="1"></td>
  <td><img width="1" height="4"><table border="0" cellpadding="5" cellspacing="0" width="100%">
<form name="search_form" method="POST">
<tr class="light"><td valign="bottom">SEARCH<br />
    <table border="0" cellspacing="2" cellpadding="2">
<tr class="light"><td><input type="hidden" name="rm" value="search">
<input type="textfield" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>"></td><td valign="top">
<input type="submit" value="Search" class="button"></td></tr></table>
  </td></tr>

  <tr><td>
<!-- Krang::HTMLPager params -->
<input type="hidden" name="krang_pager_curr_page_num" value="">
<input type="hidden" name="krang_pager_show_big_view" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">
<input type="hidden" name="krang_pager_sort_field" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">
<input type="hidden" name="krang_pager_sort_order_desc" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">

</form>

</td></tr>
</table>

<!-- START Krang::HTMLPager output -->
<table border="0" cellspacing="0" cellpadding="8" width="100%">
<tr><td><tmpl_var pager_html></td></tr>
</table>
<!-- END Krang::HTMLPager output -->
</td>
  <td width="1" class="line"><img width="1" height="1"></td>
</tr>
<tr><td colspan="3" class="line"><img width="1" height="1"></td></tr>
</table>

<tmpl_if row_count>
  <div class="button-bar"><input type="button" value="Delete Checked" onClick="delete_selected()" class="button"></div>
</tmpl_if>


<tmpl_include /footer.tmpl>
