ServerType           standalone
ServerName           localhost
ServerRoot           <tmpl_var ApacheRoot>
ServerAdmin          root@localhost
ServerSignature      Email
PidFile              <tmpl_var KrangRoot>/tmp/httpd.pid
DocumentRoot         <tmpl_var KrangRoot>/htdocs
Listen               127.0.0.1:80
User                 <tmpl_var ApacheUser>
Group                <tmpl_var ApacheGroup>
KeepAlive            Off
MaxKeepAliveRequests 100
KeepAliveTimeout     15
MinSpareServers      2
MaxSpareServers      6
StartServers         2
MaxClients           150
MaxRequestsPerChild  0
ErrorLog             <tmpl_var KrangRoot>/logs/apache_error_log
LogLevel             info
TypesConfig          <tmpl_var ApacheRoot>/conf/mime.types
UseCanonicalName     On
HostNameLookups      Off
Timeout              30

#
# Dynamic Shared Object (DSO) Support
#
# To be able to use the functionality of a module which was built as a DSO you
# have to place corresponding `LoadModule' lines at this location so the
# directives contained in it are actually available _before_ they are used.
# Please read the file http://httpd.apache.org/docs/dso.html for more
# details about the DSO mechanism and run `httpd -l' for the list of already
# built-in (statically linked and thus always available) modules in your httpd
# binary.
#
# Note: The order in which modules are loaded is important.  Don't change
# the order below without expert advice.
#
# Example:
# LoadModule foo_module libexec/mod_foo.so
LoadModule mime_magic_module  libexec/mod_mime_magic.so
LoadModule rewrite_module     libexec/mod_rewrite.so
LoadModule proxy_module       libexec/libproxy.so

#  Reconstruction of the complete module list from all available modules
#  (static and shared ones) to achieve correct module execution order.
#  [WHENEVER YOU CHANGE THE LOADMODULE SECTION ABOVE UPDATE THIS, TOO]
ClearModuleList
AddModule mod_env.c
AddModule mod_log_config.c
AddModule mod_mime_magic.c
AddModule mod_mime.c
AddModule mod_negotiation.c
AddModule mod_status.c
AddModule mod_include.c
AddModule mod_autoindex.c
AddModule mod_dir.c
AddModule mod_cgi.c
AddModule mod_asis.c
AddModule mod_imap.c
AddModule mod_actions.c
AddModule mod_userdir.c
AddModule mod_alias.c
AddModule mod_rewrite.c
AddModule mod_access.c
AddModule mod_auth.c
AddModule mod_proxy.c
AddModule mod_so.c
AddModule mod_setenvif.c
AddModule mod_perl.c


PerlPassEnv KRANG_ROOT
PerlPassEnv KRANG_CONF
PerlModule Krang

Listen <tmpl_var ApacheAddr>:<tmpl_var ApachePort>
NameVirtualHost <tmpl_var ApacheAddr>:<tmpl_var ApachePort>

<VirtualHost <tmpl_var ApacheAddr>:<tmpl_var ApachePort>>
   ServerName <tmpl_var RootVirtualHost>

   <Location />
      PerlSetVar        flavor root
      PerlInitHandler   Krang::Handler->init_handler
      PerlHandler       Krang::Handler->handler
   </Location>

   <tmpl_loop InstanceLoop>
      <Location /<tmpl_var InstanceName>>
         SetHandler        perl-script
         PerlSetVar        flavor root
         PerlSetVar        instance <tmpl_var InstanceName>
         PerlInitHandler   Krang::Handler->init_handler
         PerlHandler       Krang::Handler->handler

         AuthType          Krang::Handler
         AuthName          <tmpl_var InstanceName>
         PerlAuthenHandler Krang::Handler->auth_handler
         require           valid-user
      </Location>
   </tmpl_loop>
</VirtualHost>

<tmpl_loop InstanceLoop>
<VirtualHost <tmpl_var ApacheAddr>:<tmpl_var ApachePort>>
   ServerName      <tmpl_var VirtualHost>
   <Location />
       SetHandler      perl-script
       PerlSetVar      flavor instance   
       PerlSetVar      instance <tmpl_var InstanceName>
       PerlInitHandler Krang::Handler->init_handler
       PerlHandler     Krang::Handler->handler    

       AuthType Krang::Handler
       AuthName <tmpl_var InstanceName>
       PerlAuthenHandler Krang::Handler->auth_handler
       require valid-user
   </Location>
</VirtualHost>
</tmpl_loop>
  
