###########################################################################
#
# Global Krang Setup
#
###########################################################################

#
# KrangUser and KrangGroup: the UNIX user and group for Krang.  All
# Krang processes run as this user/group and all files must be owned by
# this user.
#
KrangUser <tmpl_var KrangUser>
KrangGroup <tmpl_var KrangGroup>

#
# MySQL user and password for Krang
#
DBUser <tmpl_var DBUser>
DBPass "<tmpl_var DBPass>"
<tmpl_if DBHost>
DBHost "<tmpl_var DBHost>"
</tmpl_if>

# the socket file used to connect to a local MySQL server (this is needed only 
# if you get "socket file not found" connection errors from DBI.pm)
<tmpl_if DBSock>
DBSock "<tmpl_var DBSock>"
</tmpl_if>

# 
# ApacheAddr and ApachePort: the IP and port for the Apache server
#
ApacheAddr <tmpl_var IPAddress>
ApachePort <tmpl_var ApachePort>

#
# HostName: the virtual host for the root server, which
# displays a list of available instances.
#
HostName <tmpl_var HostName>

#
# LogLevel: how much logging detail to include in krang.log.  Valid setting are
# 1 (critical only), 2 (critical and info) and 3 (critical, info and
# debug).  A setting of 2 is standard for production use.
#
LogLevel 2

#
# FTPAddress and FTPPort: set this to the address and port of the
# Krang internal FTP server.
#
FTPAddress <tmpl_var IPAddress>
FTPPort <tmpl_var FTPPort>
FTPHostName <tmpl_var FTPHostName>

#
# SMTPServer: Krang needs to be able to mail alerts to users.  Set
# this to a working SMTP server.
#
SMTPServer <tmpl_var SMTPServer>

#
# FromAddress: set this to the From: address Krang should use when
# sending mail.
#
FromAddress krangmailer@<tmpl_var HostName>

#
# Configure Bugzilla settings here.  Unless EnableBugzilla is 1, none
# of the rest will be used.
#
EnableBugzilla 0
BugzillaServer krang-services.ops.about.com/bugzilla
BugzillaEmail krang_test@yahoo.com
BugzillaPassword whale
BugzillaComponent 'Auto-submitted Bugs'

#
# Select a skin which will determine the look of the UI.  Available
# skins are stored in the skins/ directory.
#
Skin Default

#
# Set the number of child processes the scheduler daemon
# can spawn when handling tasks.
# Current wisdom suggests a 3:1 ratio of children to available CPUs.
#
SchedulerMaxChildren 3


###########################################################################
#
# Instance Configuration
#
# Each instance needs its own Instance block below containing
# instance-specific configuration.
#
###########################################################################

#
# Instance: each instance has its own block named for the instance.
#
<Instance <tmpl_var InstanceHostName>>

   # the UI display name for this instance
   InstanceDisplayName <tmpl_var InstanceDisplayName>

   # the virtual host users will use to access this instance
   InstanceHostName <tmpl_var InstanceHostName>

   # MySQL database name for this instance
   InstanceDBName <tmpl_var InstanceDBName>

   # the element set to be used in this instance.  Instances may share
   # element sets.
   InstanceElementSet <tmpl_var InstanceElementSet>

</Instance>

