A Krang alert has been triggered for Story #<tmpl_var story_id> ('<tmpl_var story_title>')
by User '<tmpl_var first_name> <tmpl_var last_name>'.

Below are the criteria that triggered this alert:

ACTION:   <tmpl_var action>
<tmpl_if category>CATEGORY: <tmpl_var category></tmpl_if>
<tmpl_if desk>DESK:     <tmpl_var desk></tmpl_if>

