<tmpl_lang A Krang alert has been triggered for Story> #<tmpl_var story_id> ('<tmpl_var story_title>')
<tmpl_lang by User> '<tmpl_var first_name> <tmpl_var last_name>'.

<tmpl_lang Below are the criteria that triggered this alert:>

<tmpl_lang ACTION:>   <tmpl_var action>
<tmpl_if category><tmpl_lang CATEGORY:> <tmpl_var category></tmpl_if>
<tmpl_if desk><tmpl_lang DESK:>     <tmpl_var desk></tmpl_if>

