A Krang alert has been triggered for story <tmpl_var story_id> ('<tmpl_var story_title>') 
by user '<tmpl_var first_name> <tmpl_var last_name>'.  
Below is the criteria which triggered this alert:

ACTION: <tmpl_var action>
<tmpl_if category>CATEGORY: <tmpl_var category></tmpl_if>
<tmpl_if desk>DESK: <tmpl_var desk></tmpl_if>
USER TRIGGERED BY: <tmpl_var first_name> <tmpl_var last_name>
