.proto-popup {
  background-color: #EFEFFF             !important;
  border: 1px solid #6A5ACD             !important;
  color: #000000                        !important;
  cursor: move                          !important;
  font: 12px Arial, Verdana, sans-serif !important;
  overflow: auto                        !important;
  position: fixed                       !important;
  text-align: left                      !important;
  vertical-align: baseline              !important;
  overflow-x: hidden !important;
}

.proto-popup-wrapper { 
  padding: 10px !important;
}

.proto-popup .proto-popup-header { 
  margin: 0px 0px 10px 0px;
}

.proto-popup .proto-popup-body { 
  background-color: #FFFFE0;
  clear: both;
  padding: 10px;
  margin: 0px 0px 10px 0px;
}

.proto-popup .proto-popup-footer { 
  padding: 10px 0px 0px 0px;
}

.proto-popup img.proto-popup-cancel { 
  cursor: auto;
  float: right;
  margin: 0;
  padding: 0;
}

.proto-popup-overlay { 
  background-color: #000;
  left:     0px;
  position: absolute;
  top:      0px;
}

.proto-popup-btn-table { 
  border-spacing: 0px;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

table.proto-popup-btn-table td.proto-popup-buttons-left { 
  margin: 0px;
  padding: 0px,
  text-align: left !important;
}

table.proto-popup-btn-table td.proto-popup-buttons-right { 
  margin: 0px;
  padding: 0px,
  text-align: right !important;
}

td.proto-popup-buttons-left input.proto-popup-btn { 
  margin-right: 5px;
}

td.proto-popup-buttons-right { 
  text-align: right;
}

td.proto-popup-buttons-right input.proto-popup-btn { 
  margin-left: 5px;
}

/*********************
* Krang-style dialog *
**********************/

#dialog { 
  border-radius: 10px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
}

#dialog, #dialog-body{
  padding: 0;
  background-color: #EFEFFF;
}

#dialog-body {
  font: bold 105% arial,sans-serif;
  margin: 10px;
  line-height: 1.5;
  color: #222;
  
}

#dialog-footer {
  border-top: 1px solid #6A5ACD;
}

.proto-popup .proto-popup-btn {
  color: #690 !important;
  width: auto !important;
  overflow: visible;
  margin: 0;
  border: 1px solid #BBB;
  border-color: #EEE #BBB #BBB #EEE;
  padding: 4px 6px 3px;
  font-size: 11px;
  line-height: 1;
  background: transparent url(/images/bkg-button-mini.gif) 0 50% repeat-x
}

.proto-popup .proto-popup-btn:hover {
  background-color: #FF9 !important;
  background-image: none !important;
}

