.proto-popup {
  font-size: 12px;
  font-family: Arial, Verdana, sans-serif;
  color: #000000;
  position: fixed;
  cursor: move;
  background-color: #EFEFFF;
  border: 1px solid #6A5ACD;
  padding: 10px;
  width: 300px;
}

.proto-popup-header { 
  padding: 0px 10px 10px 0px;
}

.proto-popup-body { 
  background-color: #FFFFE0;
  padding: 10px;
  clear: both;
}

.proto-popup-footer { 
  padding: 10px 0px 0px;
}

img.proto-popup-cancel { 
  float: right;
  cursor: auto;
  padding-bottom: 7px;
}

input.proto-popup-cancel-btn { 
  margin-right: 5px;
}

.proto-popup-overlay { 
  position: absolute;
  top:      0px;
  left:     0px;
  background-color: #666;
}

/*********************
* Krang-style dialog *
**********************/

#dialog { 
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#dialog, #dialog-body{
  padding: 0;
  background-color: #E0F0FF;
}

#dialog-body {
  font: bold 105% arial,sans-serif;
  margin: 10px;
  line-height: 1.5;
  color: #222;
  
}

#dialog-footer {
  border-top: 1px solid #6A5ACD;
  padding: 10px;
}

.proto-popup-btn {
  color: #690 !important;
  width: auto !important;
  overflow: visible;
  margin: 0;
  border: 1px solid #BBB;
  border-color: #EEE #BBB #BBB #EEE;
  padding: .1em .5em;
  font-size: 11px;
  line-height: 1;
  background: transparent url(/images/bkg-button-mini.gif) 0 50% repeat-x
}
.proto-popup-btn:hover {
  background-color: #FF9 !important;
  background-image: none !important;
}

#dialog-dont_save-btn { 
  margin-right: 5px;
}

#dialog-save-btn { 
  float: right;
}


