<tmpl_lang Someone requested that your password on> <tmpl_var site_url> <tmpl_lang be reset.  To reset your password, click on this link or paste it into your browser and follow the on-screen instructions:>

<tmpl_lang User Name:> <tmpl_var username>

<tmpl_var site_url>/login.pl?rm=reset_pw&t=<tmpl_var escape=url ticket>

<tmpl_lang If you don't want to reset your password, no further action is necessary.>

