<tmpl_include login_header.tmpl>

<h2>
<tmpl_lang Forgot Your Login?>
</h2>

<tmpl_unless email_sent>

  <script type="text/javascript">
  focusFormField( 'form-forgot', 'email' );
  </script>

  <p>
  <tmpl_lang Enter your email address and we'll send your log-in name and instructions on how to reset your password.>
  </p>

  <form id="form-forgot" action="login.pl" method="post">

  <input name="rm" value="forgot_pw" type="hidden">

  <p>
  <label for="forgot-email"><tmpl_lang Email></label>
  <input id="forgot-email" name="email" value="<tmpl_var escape=html email>">
  </p>

  <tmpl_if header_message_loop><ul class="err"><tmpl_loop header_message_loop>
    <li>
    <tmpl_var escape=html message>
    </li>
  </tmpl_loop></ul></tmpl_if>

  <p class="btn">
  <input value="<tmpl_lang Submit>" type="submit">
  <a href="login.pl?rm=show_form"><tmpl_lang Return to Log-In Screen></a>
  </p>

  </form>

<tmpl_else>

  <tmpl_loop header_message_loop>
    <p>
    <tmpl_var escape=html message>
    </p>
  </tmpl_loop>

  <p>
  <a href="login.pl?rm=show_form"><tmpl_lang Return to Log-In Screen></a>
  </p>

</tmpl_unless>

<tmpl_include login_footer.tmpl>

