</div>

<div id="S">

<ul>

<li>
<strong><tmpl_var escape=html krang_product_name></strong>
&nbsp;
<strong><tmpl_var escape=html krang_version></strong>
</li>

<li>
<strong><tmpl_var escape=html instance_display_name></strong>
</il>

</ul>

</div>

</div>

<div id="F"><div class="nav"><div>

<ul>
<tmpl_if cms_contact_email><li class="l">
<a href="mailto:<tmpl_var cms_contact_email>">
Contact Us
</a>
</li></tmpl_if>
</ul>

</div></div></div>

</body></html>

