<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en-US"><head>

<title><tmpl_var escape=html krang_product_name> - Welcome - <tmpl_var escape=html instance_display_name></title>

<link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

<style type="text/css">
@import url("/krang_login.css");
</style>

<!--[if lte IE 7]><style type="text/css">
body { position: relative; font-size: 69%; }

.enclose { zoom: 1; }

#F .nav li { display: inline; }
#F .nav a  { display: inline-block; }
</style><![endif]-->

<!--[if lt IE 7]><style type="text/css">
#H .nav              { width: 780px; }
#H .nav li.l         { display: inline; }
#H .nav a, #H .nav b { float: left; }
#H .nav .over ul     { left: -1px; z-index: 32767; }
#H .nav .menu a      { clear: left; }

#F .nav { overflow-y: hidden; }

#S { height: 420px; }

#C { display: inline; margin-left: 19px; }

#C .err li { height: 14px; }
</style><![endif]-->

<tmpl_if custom_css>
<tmpl_var custom_css>
</tmpl_if>

<script type="text/javascript">
function focusFormField( idForm, idField )
{
  var onloadWin = window.onload;
  var setFocus  = function() { document.forms[ idForm ][ idField ].focus(); };

  window.onload = ( typeof window.onload != 'function' )
                ? setFocus
                : function() { if ( onloadWin ) onloadWin(); setFocus(); }
  ;
}

function krang_window_id_from_name() {
   return window.name.match(/^krang_window_/) && window.name.match(/\d+$/);
}
function krang_window_id_from_count() {  // the ID returned by this function
    var window_id;                       // prevents manually-opened windows
    var cookie = document.cookie;        // from clashing with existing windows
    if (cookie.length > 0) {             
	var name_val = cookie.match(/krang_highest_window_id=(\d+)/);
	window_id    = name_val && name_val[1];
    }			
    return (window_id ? ++window_id : 1);
}		
function set_window_cookie() {
  var window_id = krang_window_id_from_name() || krang_window_id_from_count();
  document.cookie = 'krang_window_id='+window_id;
}
</script>

</head><body>

<div id="H">

<h1><!--
--><img alt="<tmpl_var escape=html krang_product_name>" src="/images/logo-cms.jpg" height="90" width="180"><!--
--></h1>

<div id="instance_logo"></div>

<div class="nav"><ul><!-- we can put some stuff in here, like a getting-started-help link --></ul></div>

</div>

<div id="M" class="enclose">

<div id="C">

