<tmpl_include header.tmpl>
<script language=javascript>

checkall = function (checkbox, prefix) {
     for (var i = 0; i < checkbox.form.elements.length ; i++) {
        var e = checkbox.form.elements[i];
        if (e.name && e.name.indexOf(prefix) == 0) {
           e.checked = checkbox.checked;
        }
     }
}

</script>
<div class="dark-bar"><p class="left">&nbsp;My Alerts</p><p class="right"><a href="javascript:openWin('help.pl?topic=my_alerts')">Help</a>&nbsp;</p></div>
<div class="box">
<tmpl_if alert_loop>

<div class="no-border">Current Alerts</div>
<form name="current_alert_form" method="post" action="my_alerts.pl">
<input type="hidden" name="rm" value="delete_alerts" override='1'>

<table cellspacing="0" cellpadding="4" class="form-head">
<tr><td width="160">Action</td><td width="300">Site/Category</td><td width="55">Desk</td><td align="right"><input type="checkbox" name="checkallbox" value="1"
onClick="checkall(this, 'alert_delete_list')"></td></tr></table>

    <table cellspacing="0" width="571" class="form-cell" cellpadding="4">
	 <tmpl_loop alert_loop>
<tr>
<td class="form-cell" width="160"><tmpl_var action></td>
<td class="form-cell" width="300"><tmpl_var category></td>
<td class="form-cell" width="55"><tmpl_var desk></td>
<td class="form-cell" align="right"><input type="checkbox" name="alert_delete_list" value="<tmpl_var ESCAPE=HTML alert_id>"></td>
</tr></tmpl_loop></table><br>



<div class="button-bar"><input type="button" value="Delete Checked" onclick="submit()" class="button"></div>

<tmpl_else>

<div class="no-border">No Current Alerts</div></tmpl_if>
</form>
<form name="add_alert_form" method="post" action="my_alerts.pl">

<table cellspacing="0" class="form-head" cellpadding="4">
<input type="hidden" name="rm" value="add_alert" override='1'>
      <tr>
          <td>Add New Alert</td>
      </tr></table>
		<table cellspacing="0" width="571" class="form-cell">
        <tr>
            <td class="form-cell" width="160">Action:</td>
            <td class="form-cell"><tmpl_var action_selector></td></tr>
        <tr>
            <td class="form-cell" width="160">Site/Category:</td>
            <td class="form-cell"><tmpl_var category_chooser> (optional)</td></tr>
        <tr>
            <td class="form-cell" width="160">Desk:</td>
            <td class="form-cell"><tmpl_var desk_selector> (optional)</td>
</tr></table><br></div>

<div class="button-bar"><input type="button" value="Add Alert" onclick="submit()" class="button"></div></form></div>

<tmpl_include footer.tmpl>
