<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
  Krang.Nav.edit_mode();
  Krang.Help.set( 'group' );
} );

do_save = function()
{
  Krang.form_set('edit_group_form', { rm: 'save' });
}

cancel_group_change = function()
{
  Krang.form_submit('edit_group_form', { rm: 'cancel' });
}

<tmpl_if categories>
  edit_categories = function( id )
  {
    Krang.form_submit('edit_group_form', { rm: 'save_and_edit_categories', category_id: id });
  }
</tmpl_if>

<tmpl_unless associate_mode>
  save_stay = function()
  {
    Krang.form_submit('edit_group_form', { rm: 'save_stay' }, { to_top: false });
  }
</tmpl_unless>

<tmpl_unless add_mode>
  delete_group = function()
  {
    if ( confirm( 'Are you SURE you want to delete this Group?' ) )
      Krang.form_submit('edit_group_form', { rm: 'delete' });
  }
</tmpl_unless>
</script>

<h2>
<tmpl_if add_mode>
  New
<tmpl_else>
  Edit
</tmpl_if>
Group
</h2>

<form name="edit_group_form" action="group.pl" method="post">

<input name="rm" value="save" type="hidden">
<input name="search_filter" value="<tmpl_var escape=html search_filter>" type="hidden">
<input name="category_id" value="" type="hidden">
<input name="group_id" value="<tmpl_var escape=html group_id>" type="hidden">
<input name="krang_pager_curr_page_num" value="<tmpl_var escape=html krang_pager_curr_page_num>" type="hidden">
<input name="krang_pager_show_big_view" value="<tmpl_var escape=html krang_pager_show_big_view>" type="hidden">
<input name="krang_pager_sort_field" value="<tmpl_var escape=html krang_pager_sort_field>" type="hidden">
<input name="krang_pager_sort_order_desc" value="<tmpl_var escape=html krang_pager_sort_order_desc>" type="hidden">

<h3>
Properties
</h3>

<table class="request" summary="">

<colgroup>
<col class="c-label">
<col>
</colgroup>

<tbody>

<tr class="demi<tmpl_if duplicate_name> err<tmpl_else><tmpl_if error_invalid_name> err</tmpl_if></tmpl_if>">
<th>Group Name</th>
<td><input name="name" value="<tmpl_var escape=html name>"></td>
</tr>

</tbody>

</table>

<h3>
Site Permissions
</h3>

<table class="request" summary="">

<colgroup>
<col>
<col>
<col class="series">
<col class="series">
<col class="series">
</colgroup>

<thead>
<tr>
<th colspan="2" class="f">Site</th>
<th class="series">Edit</th>
<th class="series">Read-Only</th>
<th class="series l">Hide</th>
</tr>
</thead>

<tbody><tmpl_loop categories>
  <tr<tmpl_unless __odd__> class="even"</tmpl_unless>>
  <td><tmpl_var escape=html category_url></td>
  <td><input value="Set Category Permissions" onclick="edit_categories('<tmpl_var escape=html category_id>')" type="button" class="button"></td>
  <tmpl_loop permission_radio>
    <td class="series"><tmpl_var radio_select></td>
  </tmpl_loop>
  </tr>
</tmpl_loop></tbody>

</table>

<h3>
Asset Permissions
</h3>

<table class="request" summary="">

<colgroup>
<col>
<col class="series">
<col class="series">
<col class="series">
</colgroup>

<thead>
<tr>
<th class="f">Asset</th>
<th class="series">Edit</th>
<th class="series">Read-Only</th>
<th class="series l">Hide</th>
</tr>
</thead>

<tbody>
<tr>
<td>Stories</td>
<tmpl_loop asset_story>
  <td class="series"><tmpl_var radio_select></td>
</tmpl_loop>
</tr>

<tr class="even">
<td>Media</td>
<tmpl_loop asset_media>
  <td class="series"><tmpl_var radio_select></td>
</tmpl_loop>
</tr>

<tr>
<td>Templates</td>
<tmpl_loop asset_template>
  <td class="series"><tmpl_var radio_select></td>
</tmpl_loop>
</tr>
</tbody>

</table>

<h3>
Desk Permissions
</h3>

<table class="request" summary="">

<colgroup>
<col>
<col class="series">
<col class="series">
<col class="series">
</colgroup>

<thead>
<tr>
<th class="f">Desk</th>
<th class="series">Edit</th>
<th class="series">Read-Only</th>
<th class="l series">Hide</th>
</tr>
</thead>

<tbody><tmpl_loop desks>
  <tr<tmpl_unless __odd__> class="even"</tmpl_unless>>
  <td><tmpl_var desk_name></td>
  <tmpl_loop permission_radio>
    <td class="series"><tmpl_var radio_select></td>
  </tmpl_loop>
  </tr>
</tmpl_loop></tbody>

</table>

<h3>
Administrative Permissions
</h3>

<table class="request" summary="">

<colgroup>
<col class="tick">
<col class="tick">
<col>
<col class="tick">
<col class="tick">
<col>
</colgroup>

<tbody>

<tr>
<td class="tick"><tmpl_var may_publish></td>
<td colspan="2">May Publish</td>
<td class="tick"><tmpl_var may_checkin_all></td>
<td colspan="2">May Check In All</td>
</tr>

<tr>
<td class="tick"><tmpl_var admin_desks></td>
<td colspan="2">Manage Desks</td>
<td class="tick"><tmpl_var admin_jobs></td>
<td colspan="2">Manage Jobs</td>
</tr>

<tr>
<td class="tick"><tmpl_var admin_groups></td>
<td colspan="2">Manage Groups</td>
<td class="tick"><tmpl_var admin_sites></td>
<td colspan="2">Manage Sites</td>
</tr>

<tr>
<td class="tick"><tmpl_var admin_users></td>
<td colspan="2">Manage Users</td>
<td class="tick"><tmpl_var admin_categories></td>
<td colspan="2">Manage Categories</td>
</tr>

<tr>
<td></td>
<td class="tick"><tmpl_var admin_users_limited></td>
<td<tmpl_unless enable_ftp> colspan="4"</tmpl_unless>>Group Limited</td>
<tmpl_if enable_ftp>
  <td></td>
  <td class="tick"><tmpl_var admin_categories_ftp></td>
  <td>Via FTP</td>
</tmpl_if>
</tr>

<tr>
<td class="tick"><tmpl_var admin_contribs></td>
<td colspan="2">Manage Contributors</td>
<td class="tick"><tmpl_var admin_scheduler></td>
<td colspan="2">Manage Scheduler Addons</td>
</tr>

<tr>
<td class="tick"><tmpl_var admin_lists></td>
<td colspan="2">Manage Lists</td>
</tr>

</tbody>

</table>

<div class="panel capped">
<input value="Cancel" onclick="cancel_group_change()" type="button" class="west">
<tmpl_unless associate_mode>
  <input value="Save &amp; Stay" onclick="save_stay()" type="button">
</tmpl_unless>
<input value="Save" onclick="do_save()" type="submit">
<tmpl_unless add_mode>
  <input value="Delete" onclick="delete_group()" type="button">
</tmpl_unless>
</div>

</form>

<tmpl_include footer.tmpl>

