<tmpl_include /header.tmpl>


<script language="Javascript">
<!-- //

    nav_edit_mode();

    function delete_category (cat_id) {
        if (confirm("Are you sure you want to remove this category?")) {
            var myform = document.forms["edit_categories_form"];
            myform.rm.value = "delete_category";
            myform.delete_category_id.value = cat_id;
            myform.submit();
        }
    }


    function add_category () {
        var myform = document.forms["edit_categories_form"];
        myform.rm.value = "add_category";
        myform.submit();
    }


    function do_return () {
        var myform = document.forms["edit_categories_form"];
        myform.rm.value = "edit_categories_return";
        myform.submit();
    }


// -->
</script>


<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr class="dark-bar">
  <td>&nbsp;Group Category Permissions Edit</td>
  <td align="right"><a href="javascript:goto_help()">Help</a>&nbsp;</td>
</tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr>
  <td class="line"><img width="1" height="1"></td>
  <td><img width="1" height="4">

<table border="0" cellpadding="5" cellspacing="0" width="100%">


<form name="edit_categories_form" method="POST">
<input type="hidden" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">
<input type="hidden" name="category_id" value="<tmpl_var ESCAPE=HTML category_id>">
<input type="hidden" name="rm" value="save">
<input type="hidden" name="delete_category_id" value="">
<input type="hidden" name="group_id" value="<tmpl_var escape=HTML group_id>">

<!-- Krang::HTMLPager params -->
<input type="hidden" name="krang_pager_curr_page_num" value="<tmpl_var ESCAPE=HTML krang_pager_curr_page_num>">
<input type="hidden" name="krang_pager_show_big_view" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">
<input type="hidden" name="krang_pager_sort_field" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">
<input type="hidden" name="krang_pager_sort_order_desc" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">



<tr>
  <td width="100">Site:</td>
    <td><tmpl_var escape=HTML site_url></td>
</tr>

<tr>
    <td>Group:</td>
    <td><tmpl_var escape=HTML name></td>
</tr>

<tr>
    <td>Add category:</td>
    <td><tmpl_var category_chooser></td>
</tr>

</table>

<table border="0" cellspacing="0" cellpadding="8" width="100%">
<tr><td>

<!-- Category permissions -->
<table cellspacing="0" width="100%" cellpadding="2">

<tr class="form-head">
    <td align="left">Category</td>
    <td width="100">Edit</td>
    <td width="100">Read-Only</td>
    <td width="100">Hide</td>
    <td width="100">&nbsp;</td>
</tr></table>
 <table cellspacing="0" width="100%" class="form-cell">
<tmpl_loop categories><tr>
    <td class="form-cell"><tmpl_var category_url></td>
    <tmpl_loop permission_radio><td class="form-cell" align="center"><tmpl_var radio_select></td></tmpl_loop>
    <td class="form-cell" align="center"><tmpl_unless is_root><a href="javascript:delete_category('<tmpl_var category_id>')">Delete</a><tmpl_else>&nbsp;</tmpl_unless></td>
</tr></tmpl_loop>
 
</table>
<!-- END Category permissions -->


</td></tr>
</table>

</td>
  <td width="1" class="line"><img width="1" height="1"></td>
</tr>
<tr><td colspan="3" class="line"><img width="1" height="1"></td></tr>
</table>



<div class="button-bar">
    <input type="button" value="Return" onClick="do_return()" class="button">
</div>


<!-- End edit_categories_form -->
</form>


<tmpl_include /footer.tmpl>
