<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
  Krang.Nav.edit_mode();
  Krang.Help.set( 'group_edit' );
} );

do_save = function()
{
  Krang.Form.submit('edit_group_form', { rm: 'save' });
}

cancel_group_change = function()
{
  Krang.Form.submit('edit_group_form', { rm: 'cancel' });
}

<tmpl_if categories>
  edit_categories = function( id )
  {
    Krang.Form.submit('edit_group_form', { rm: 'save_and_edit_categories', category_id: id });
  }
</tmpl_if>

<tmpl_unless associate_mode>
  save_stay = function()
  {
    Krang.Form.submit('edit_group_form', { rm: 'save_stay' }, { to_top: false });
  }
</tmpl_unless>

<tmpl_unless add_mode>
  delete_group = function()
  {
    if ( confirm( Krang.L10N.loc('Are you SURE you want to delete this Group?') ) )
      Krang.Form.submit('edit_group_form', { rm: 'delete' });
  }
</tmpl_unless>
</script>

<h2>
<tmpl_if add_mode>
  <tmpl_lang New Group>
<tmpl_else>
  <tmpl_lang Edit Group>
</tmpl_if>
</h2>

<form name="edit_group_form" action="group.pl" method="post">

<input name="rm" value="save" type="hidden">
<input name="search_filter" value="<tmpl_var escape=html search_filter>" type="hidden">
<input name="category_id" value="" type="hidden">
<input name="group_id" value="<tmpl_var escape=html group_id>" type="hidden">
<input name="krang_pager_curr_page_num" value="<tmpl_var escape=html krang_pager_curr_page_num>" type="hidden">
<input name="krang_pager_show_big_view" value="<tmpl_var escape=html krang_pager_show_big_view>" type="hidden">
<input name="krang_pager_sort_field" value="<tmpl_var escape=html krang_pager_sort_field>" type="hidden">
<input name="krang_pager_sort_order_desc" value="<tmpl_var escape=html krang_pager_sort_order_desc>" type="hidden">

<table class="request" summary="" style="margin-top:20px">

<colgroup>
<col class="c-label">
<col>
</colgroup>

<tbody>

<tr class="demi<tmpl_if duplicate_name> err<tmpl_else><tmpl_if error_invalid_name> err</tmpl_if></tmpl_if>">
<th class="f"><tmpl_lang Group Name></th>
<td class="l"><input name="name" value="<tmpl_var escape=html name>"></td>
</tr>

</tbody>

</table>

<div class="table-container"<tmpl_if crumbs> style="margin-top:10px"</tmpl_if>>
<img src="/static/<tmpl_var krang_install_id>/images/corner-top-left.gif" class="left-corner">
<img src="/static/<tmpl_var krang_install_id>/images/corner-top-right.gif" class="right-corner">
<table cellspacing="0" class="result edit select_row" summary="">

<colgroup>
<col>
<col>
<col class="series">
<col class="series">
<col class="series">
</colgroup>

<thead>
<tr>
<th colspan="2" class="f"><tmpl_lang Site/Categories Permissions></th>
<th class="series"><tmpl_lang Edit></th>
<th class="series"><tmpl_lang Read-Only></th>
<th class="series l"><tmpl_lang Hide></th>
</tr>
</thead>

<tbody><tmpl_loop categories>
  <tr<tmpl_unless __odd__> class="even"</tmpl_unless>>
  <td class="f"><tmpl_var escape=html category_url></td>
  <td class=""><input value="<tmpl_lang Set Category Permissions>" onclick="edit_categories('<tmpl_var escape=html category_id>')" type="button" class="button"></td>
  <tmpl_loop permission_radio>
    <td class="series<tmpl_if __last__> l</tmpl_if>"><tmpl_var radio_select></td>
  </tmpl_loop>
  </tr>
</tmpl_loop></tbody>

</table></div>

<div class="table-container"<tmpl_if crumbs> style="margin-top:10px"</tmpl_if>>
<img src="/static/<tmpl_var krang_install_id>/images/corner-top-left.gif" class="left-corner">
<img src="/static/<tmpl_var krang_install_id>/images/corner-top-right.gif" class="right-corner">
<table cellspacing="0" class="result edit select_row" summary="">

<colgroup>
<col>
<col class="series">
<col class="series">
<col class="series">
</colgroup>

<thead>
<tr>
<th class="f"><tmpl_lang Asset Permissions></th>
<th class="series"><tmpl_lang Edit></th>
<th class="series"><tmpl_lang Read-Only></th>
<th class="series l"><tmpl_lang Hide></th>
</tr>
</thead>

<tbody>
<tr>
<td class="f"><tmpl_lang Stories></td>
<tmpl_loop asset_story>
  <td class="series<tmpl_if __last__> l</tmpl_if>"><tmpl_var radio_select></td>
</tmpl_loop>
</tr>

<tr class="even">
<td class="f"><tmpl_lang Media></td>
<tmpl_loop asset_media>
  <td class="series<tmpl_if __last__> l</tmpl_if>"><tmpl_var radio_select></td>
</tmpl_loop>
</tr>

<tr>
<td class="f"><tmpl_lang Templates></td>
<tmpl_loop asset_template>
  <td class="series<tmpl_if __last__> l</tmpl_if>"><tmpl_var radio_select></td>
</tmpl_loop>
</tr>
</tbody>

</table></div>

<div class="table-container"<tmpl_if crumbs> style="margin-top:10px"</tmpl_if>>
<img src="/static/<tmpl_var krang_install_id>/images/corner-top-left.gif" class="left-corner">
<img src="/static/<tmpl_var krang_install_id>/images/corner-top-right.gif" class="right-corner">
<table cellspacing="0" class="result edit select_row" summary="">

<colgroup>
<col>
<col class="series">
<col class="series">
<col class="series">
</colgroup>

<thead>
<tr>
<th class="f"><tmpl_lang Desk Permissions></th>
<th class="series"><tmpl_lang Edit></th>
<th class="series"><tmpl_lang Read-Only></th>
<th class="l series"><tmpl_lang Hide></th>
</tr>
</thead>

<tbody><tmpl_loop desks>
  <tr<tmpl_unless __odd__> class="even"</tmpl_unless>>
  <td class="f"><tmpl_var desk_name></td>
  <tmpl_loop permission_radio>
    <td class="series<tmpl_if __last__> l</tmpl_if>"><tmpl_var radio_select></td>
  </tmpl_loop>
  </tr>
</tmpl_loop></tbody>

</table></div>

<div class="table-container"<tmpl_if crumbs> style="margin-top:10px"</tmpl_if>>
<img src="/static/<tmpl_var krang_install_id>/images/corner-top-left.gif" class="left-corner">
<img src="/static/<tmpl_var krang_install_id>/images/corner-top-right.gif" class="right-corner">
<table cellspacing="0" class="result edit select_row" summary="">

<colgroup>
<col class="tick">
<col>
<col class="tick">
<col>
</colgroup>

<thead>
<tr>
<th class="f l" colspan="4"><tmpl_lang Administrative Permissions></th>
</tr>
</thead>

<tbody>

<tr>
<td class="tick f"><tmpl_var may_publish></td>
<td><tmpl_lang May Publish></td>
<td class="tick"><tmpl_var may_checkin_all></td>
<td class="l"><tmpl_lang May Check In All></td>
</tr>

<tr>
<td class="tick f"><tmpl_var admin_desks></td>
<td><tmpl_lang Manage Desks></td>
<td class="tick"><tmpl_var admin_jobs></td>
<td class="l"><tmpl_lang Manage Jobs></td>
</tr>

<tr>
<td class="tick f"><tmpl_var admin_groups></td>
<td><tmpl_lang Manage Groups></td>
<td class="tick"><tmpl_var admin_sites></td>
<td class="l"><tmpl_lang Manage Sites></td>
</tr>

<tr>
<td class="tick f"><tmpl_var admin_users></td>
<td><tmpl_lang Manage Users></td>
<td class="tick"><tmpl_var admin_categories></td>
<td class="l"><tmpl_lang Manage Categories></td>
</tr>

<tr>
<td class="f">&nbsp;</td>
<td>
  <tmpl_var admin_users_limited>
  <tmpl_lang Group Limited>
</td>
<tmpl_if enable_ftp>
  <td class="tick"></td>
  <td class="l">
    <tmpl_var admin_categories_ftp>
    <tmpl_lang Via FTP>
  </td>
<tmpl_else>
  <td></td><td class="l"></td>
</tmpl_if>
</tr>

<tr>
<td class="tick f"><tmpl_var admin_contribs></td>
<td><tmpl_lang Manage Contributors></td>
<td class="tick"><tmpl_var admin_scheduler></td>
<td class="l"><tmpl_lang Manage Scheduler Addons></td>
</tr>

<tr>
<td class="tick f"><tmpl_var admin_lists></td>
<td><tmpl_lang Manage Lists></td>
<td class="tick"><tmpl_var admin_delete></td>
<td class="l"><tmpl_lang Delete Content in the Trash></td>
</tr>

</tbody>

</table></div>

<div class="panel capped clearfix buttonbar">
<ul class="west">
  <li><input value="<tmpl_lang Cancel>" onclick="cancel_group_change()" type="button"></li>
<tmpl_unless add_mode>
  <li><input value="<tmpl_lang Delete>" onclick="delete_group()" type="button"></li>
</tmpl_unless>
</ul>

<ul class="east">
  <tmpl_if associate_mode>
    <input value="<tmpl_lang Save>" onclick="do_save()" type="button">
  <tmpl_else>
  <li class="menu">
    <input value="<tmpl_lang Save> &#9660;" onclick="do_save()" type="button">
    <ul><li><a href="javascript:save_stay()"><tmpl_lang Save &amp; Stay></a></li></ul>
  </li>
  </tmpl_if>
</div>

</form>

<tmpl_include footer.tmpl>

