<tmpl_include /header.tmpl>


<script language="javascript" type="text/javascript">
<!-- //

    nav_edit_mode();

    do_save  = function () {
        var myform = document.forms["edit_group_form"];
        myform.rm.value = "save";
        myform.submit();
    }


    save_stay  = function () {
        var myform = document.forms["edit_group_form"];
        myform.rm.value = "save_stay";
        myform.submit();
    }


    cancel_group_change  = function () {
        var myform = document.forms["edit_group_form"];
        myform.rm.value = "cancel";
        myform.submit();
    }


    edit_categories  = function (category_id) {
        var myform = document.forms["edit_group_form"];
        myform.rm.value = "save_and_edit_categories";
        myform.category_id.value = category_id;
        myform.submit();
    }


    delete_group  = function () {
        var myform = document.forms["edit_group_form"];
        if (confirm("Are you SURE you want to delete this group?")) {
            myform.rm.value = "delete";
            myform.submit();
        }
    }

// -->
</script>


<div class="dark-bar"><p class="left">&nbsp;Group <tmpl_if add_mode>Add<tmpl_else>Edit</tmpl_if></p><p class="right"><a href="javascript:openWin('help.pl?topic=group')">Help</a>&nbsp;</p></div>

<div class="box">
<form name="edit_group_form" method="POST" action="group.pl">
<input type="hidden" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">
<input type="hidden" name="rm" value="save">
<input type="hidden" name="category_id" value="">
<input type="hidden" name="group_id" value="<tmpl_var escape=HTML group_id>">

<!-- Krang::HTMLPager params -->
<input type="hidden" name="krang_pager_curr_page_num" value="<tmpl_var ESCAPE=HTML krang_pager_curr_page_num>">
<input type="hidden" name="krang_pager_show_big_view" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">
<input type="hidden" name="krang_pager_sort_field" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">
<input type="hidden" name="krang_pager_sort_order_desc" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">

<div class="no-border">Group Name:&nbsp;&nbsp;&nbsp;<tmpl_if duplicate_name><span class="invalid"></tmpl_if><tmpl_if error_invalid_name><span class="invalid"></tmpl_if><input type="text" size="30" name="name" value="<tmpl_var escape=HTML name>"><tmpl_if error_invalid_name></span></tmpl_if><tmpl_if duplicate_name></span></tmpl_if></div>

<table cellspacing="0" cellpadding="4" class="form-head">

<tr>
   <td align="left">Sites</td>
    <td width="85" align="center">Categories</td>
    <td width="85" align="center">Edit</td>
    <td width="85" align="center">Read-Only</td>
    <td width="85" align="center">Hide</td>
</tr></table>

    <table cellspacing="0" width="571" class="form-cell" cellpadding="4">

<tmpl_loop categories><tr>
    <td class="form-cell"><tmpl_var category_url></td>
    <td class="form-cell" align="center" width="80"><a href="javascript:edit_categories('<tmpl_var category_id>')">Edit</a></td>
    <tmpl_loop permission_radio><td class="form-cell" align="center" width="80"><tmpl_var radio_select></td></tmpl_loop>
</tr></tmpl_loop>
 
</table>
<!-- END Site/Root Category permissions -->


<br>

<!-- Asset permissions -->
<table cellspacing="0" cellpadding="4" class="form-head">

<tr>
  <td align="left">Assets</td>
    <td width="85" align="center">Edit</td>
    <td width="85" align="center">Read-Only</td>
    <td width="85" align="center">Hide</td> 
</tr></table>

    <table cellspacing="0" width="571" class="form-cell" cellpadding="4">

<tr>
    <td class="form-cell">Stories</td>
    <tmpl_loop asset_story><td class="form-cell" width="80" align="center"><tmpl_var radio_select></td></tmpl_loop>
</tr>

<tr>
    <td class="form-cell">Media</td>
    <tmpl_loop asset_media><td class="form-cell" width="80" align="center"><tmpl_var radio_select></td></tmpl_loop>
</tr>

<tr>
    <td class="form-cell">Templates</td>
    <tmpl_loop asset_template><td class="form-cell" width="80" align="center"><tmpl_var radio_select></td></tmpl_loop>
</tr>

 
</table>
<!-- END Asset permissions -->


<br>



<!-- Desk permissions -->
<table cellspacing="0" cellpadding="4" class="form-head">

<tr>
  <td align="left">Desks</td>
    <td width="85" align="center">Edit</td>
    <td width="85" align="center">Read-Only</td>
    <td width="85" align="center">Hide</td>
</tr></table>

 <table cellspacing="0" width="571" class="form-cell" cellpadding="4">

<tmpl_loop desks><tr>
    <td class="form-cell"><tmpl_var desk_name></td>
    <tmpl_loop permission_radio><td class="form-cell" width="80" align="center"><tmpl_var radio_select></td></tmpl_loop>
</tr></tmpl_loop>
 
</table>
<!-- END Desk permissions -->

<br>

<!-- Administration permissions -->
<table cellspacing="0" cellpadding="4" class="form-head">

<tr>
    <td width="40">&nbsp;</td><td align="left">Administration permissions</td>
</tr></table>

    <table cellspacing="0" width="571" class="form-cell" cellpadding="4">

<tr>
    <td class="form-cell" align="center" width="30"><tmpl_var may_publish></td>
    <td class="form-cell" align="left">May Publish</td>
</tr>

<tr>
    <td class="form-cell" align="center"><tmpl_var admin_users></td>
    <td class="form-cell" align="left">Manage Users<br /><tmpl_var admin_users_limited> Group Limited</td>
</tr>

<tr>
    <td class="form-cell" align="center"><tmpl_var admin_groups></td>
    <td class="form-cell" align="left">Manage Groups</td>
</tr>

<tr>
    <td class="form-cell" align="center"><tmpl_var admin_contribs></td>
    <td class="form-cell" align="left">Manage Contributors</td>
</tr>

<tr>
    <td class="form-cell" align="center"><tmpl_var admin_sites></td>
    <td class="form-cell" align="left">Manage Sites</td>
</tr>

<tr>
    <td class="form-cell" align="center"><tmpl_var admin_categories></td>
    <td class="form-cell" align="left">Manage Categories<br /><tmpl_var admin_categories_ftp> Via FTP</td>
</tr>

<tr>
    <td class="form-cell" align="center"><tmpl_var admin_jobs></td>
    <td class="form-cell" align="left">Manage Jobs</td>
</tr>

<tr>
    <td class="form-cell" align="center"><tmpl_var admin_scheduler></td>
    <td class="form-cell" align="left">Manage Scheduler Addons</td>
</tr>

<tr>
    <td class="form-cell" align="center"><tmpl_var admin_desks></td>
    <td class="form-cell" align="left">Manage Desks</td>
</tr>

<tr>
    <td class="form-cell" align="center"><tmpl_var admin_lists></td>
    <td class="form-cell" align="left">Manage Lists</td>
</tr>

<tr>
    <td class="form-cell" align="center"><tmpl_var may_checkin_all></td>
    <td class="form-cell" align="left">May Check In All</td>
</tr>
 
</table><br>
<!-- END Administration permissions -->

</div>

<div class="button-bar">
    <input type="submit" value="Save" onClick="do_save()" class="button">
    <tmpl_unless associate_mode><input type="button" value="Save &amp; Stay" onClick="save_stay()" class="button"></tmpl_unless>
    <input type="reset" value="Reset" class="button">
    <tmpl_unless add_mode><input type="button" value="Delete" onClick="delete_group()" class="button"></tmpl_unless>
    <input type="button" value="Cancel" onClick="cancel_group_change()" class="button">
</div>


<!-- End edit_group_form -->
</form>
</div>

<tmpl_include /footer.tmpl>
