<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
  Krang.Help.set( 'workspace_edit' );
  Krang.Form.toggle_list_btn();
} );

<tmpl_if krang_pager_rows>
  log = function( id ) 
  {
    Krang.Form.submit('krang_pager_form', { rm: 'goto_log', id: id });
  }

  edit = function( id )
  {
    Krang.Form.submit('krang_pager_form', { rm: 'goto_edit', id: id });
  }

  link_toggle_checkbox = function( nameForm, nameCheckbox, id )
  {
    var CBOX = document.forms[ nameForm ][ nameCheckbox ];

    CBOX.checked = !CBOX.checked;

    update_testing( id );
  }

  update_testing = function( id )
  {
    Krang.Form.submit( 'krang_pager_form', { rm: 'update_testing', id : id }, { to_top : false } );
  }

  checkin = function( id, desk )
  {
    var data = { rm: 'checkin', id: id };
    data['desk_id'] = desk;
    Krang.Form.submit('krang_pager_form', data, {to_top: false});
  }

  copy = function( id )
  {
    Krang.Form.submit('krang_pager_form', { rm: 'copy', id: id });
  }

  deploy = function( id )
  {
    Krang.Form.submit('krang_pager_form', { rm: 'deploy', id: id });
  }

  publish_media = function( id )
  {
    Krang.Form.submit('publish_media_form', { media_id: id });
  }

  publish_story = function( id )
  {
    Krang.Form.submit('publish_story_form', { story_id: id });
  }

  <tmpl_if may_publish>
    publish_checked = function()
    {
      if ( !Krang.pager_row_checked() )
        alert( Krang.L10N.loc('Nothing selected to publish!') );
      else
      {
        if ( confirm( Krang.L10N.loc('Are you SURE you wish to publish all these items?') ) )
        {
          document.forms[ 'krang_pager_form' ].action = 'publisher.pl';
          Krang.Form.submit( 'krang_pager_form', { rm : 'publish_story_list' } );
        }
      }
    }
  </tmpl_if>

  checkin_checked = function(desk_id)
  {
    if ( !Krang.pager_row_checked() )
      alert( Krang.L10N.loc('Nothing selected to check in!') );
    else
      Krang.Form.submit( 'krang_pager_form', { rm : 'checkin_checked', desk_id: desk_id }, { to_top : false } );
  }

  delete_checked = function()
  {
    if ( !Krang.pager_row_checked() )
      alert( Krang.L10N.loc('Nothing selected to delete!') );
    else if ( confirm( Krang.L10N.loc('Are you SURE you want to delete these items?') ) )
      Krang.Form.submit( 'krang_pager_form', { rm : 'delete_checked' }, { to_top : false } );
  }
</tmpl_if>
</script>

<h2>
<tmpl_lang Workspace>
</h2>

<tmpl_unless krang_pager_rows>

  <p class="naught">
  <tmpl_lang Your Workspace is currently empty.>
  </p>

<tmpl_else>

  <form name="krang_pager_form" id="krang_pager_form" method="post" action="workspace.pl">
  <input name="rm" type="hidden">
  <input name="id" type="hidden">
  <input name="desk_id" type="hidden">

  <div class="panel clearfix buttonbar">
  <ul class="east">
  <li><input value="<tmpl_lang Delete>" onclick="delete_checked()" type="button" class="list-btn"></li>
  <tmpl_if desk_loop>
   <li class="menu">
    <input value="<tmpl_lang Check In To> &#9660;" type="button" class="no-action list-btn">
    <ul>
    <tmpl_loop desk_loop>
      <li>
      <a href="#" onclick="checkin_checked(<tmpl_var choice_desk_id escape=html>);">
        <tmpl_var choice_desk_name escape=html> <tmpl_lang Desk></a>
      </li>
    </tmpl_loop>
    </ul>
   </li>
  </tmpl_if>
  <tmpl_if may_publish>
  <li><input value="<tmpl_lang Publish>" onclick="publish_checked()" type="button" class="list-btn"></li>
  </tmpl_if>
  </ul>
  </div>

  <tmpl_include HTMLPager/<tmpl_lang en>/pager-internals.tmpl>

  <tmpl_include HTMLPager/<tmpl_lang en>/pager-pagination.tmpl>

  <div class="table-container">
  <img src="<tmpl_var static_url>/images/corner-top-left.gif" class="left-corner">
  <img src="<tmpl_var static_url>/images/corner-top-right.gif" class="right-corner">
  <table cellspacing="0" class="result select_row" summary="">

  <colgroup>
  <col class="c-id f">
  <col class="c-type">
  <col>
  <col class="c-thumb">
  <col class="c-date">
  <col class="tick l">
  </colgroup>

  <thead>
  <tr>
  <th class="f"><tmpl_var colhead_id></th>
  <th><tmpl_var colhead_type></th>
  <th><tmpl_var colhead_title> | <tmpl_var colhead_url></th>
  <th></th>
  <th><tmpl_var colhead_date></th>
  <th class="l tick"><tmpl_var colhead_checkbox_column></th>
  </tr>
  </thead>

  <tbody><tmpl_loop krang_pager_rows>
    <tr<tmpl_unless __odd__> class="even"</tmpl_unless>>
    <td class="f"><tmpl_if is_story>
      <tmpl_var escape=html story_id>
    <tmpl_else><tmpl_if is_media>
      <tmpl_var escape=html media_id>
    <tmpl_else><tmpl_if is_template>
      <tmpl_var escape=html template_id>
    </tmpl_if></tmpl_if></tmpl_if></td>

    <td><tmpl_if is_story>
      <tmpl_lang Story>
    <tmpl_else><tmpl_if is_media>
      <tmpl_lang Media>
    <tmpl_else><tmpl_if is_template>
      <tmpl_lang Template>
    </tmpl_if></tmpl_if></tmpl_if></td>

    <td class="notrim"<tmpl_unless thumbnail> colspan="2"</tmpl_unless>>
    <b><tmpl_var escape=html title></b>
    <br><tmpl_var url><!--:markup-->

    <!-- story type and version -->
    <br>
    <tmpl_if is_story>
      <tmpl_var escape=html story_type>
      (<tmpl_lang Version> <tmpl_var escape=html version>)
    <tmpl_else>
      <tmpl_lang Version> <tmpl_var escape=html version>
    </tmpl_if>

    <!-- Commands -->
    <div class="buttonbar clearfix">
    <ul>
    <tmpl_var command_column>
    <tmpl_unless may_edit>
      <li><input value="<tmpl_lang View Log>" onclick="log('<tmpl_var escape=html id>')" type="button" class="button"></li>
    <tmpl_else>
      <tmpl_if is_story>
        <tmpl_if may_publish>
          <li><input value="<tmpl_lang Publish>" onclick="publish_story('<tmpl_var escape=html id>')" type="button" class="button"></li>
        </tmpl_if>
        <li><input value="<tmpl_lang Copy>" onclick="copy('<tmpl_var escape=html id>')" type="button" class="button"></li>
        <tmpl_if desk_loop>
          <li class="menu">
          <input value="<tmpl_lang Check In To> &#9660;" type="button" class="button">
          <ul>
          <tmpl_loop desk_loop>
            <li>
              <a href="#" onclick="checkin('<tmpl_var escape=html id>', <tmpl_var choice_desk_id>);">
              <tmpl_var escape=html choice_desk_name> <tmpl_lang Desk></a>
            </li>
          </tmpl_loop desk_loop>
          </ul>
          </li>
        </tmpl_if>
      <tmpl_else><tmpl_if is_media>
        <tmpl_if may_publish>
          <li><input value="<tmpl_lang Publish>" onclick="publish_media('<tmpl_var escape=html id>')" type="button" class="button"></li>
        </tmpl_if>
      <tmpl_else><tmpl_if is_template>
        <li><input value="<tmpl_lang Deploy>" onclick="deploy('<tmpl_var escape=html id>')" type="button" class="button"></li>
      </tmpl_if></tmpl_if></tmpl_if>
    </tmpl_unless>
    <tmpl_if is_template>
      <li>
        <input name="testing_<tmpl_var escape=html id>" value="1" type="checkbox" class="checkbox" 
        onclick="update_testing('<tmpl_var escape=html id>')"<tmpl_if testing> checked</tmpl_if>>
        <a href="javascript:link_toggle_checkbox('krang_pager_form','testing_<tmpl_var escape=html id>','<tmpl_var escape=html id>')"><tmpl_lang Use this version in Preview?></a>
      </li>
    </tmpl_if>
    </ul>
    </div>

    </td>

    <tmpl_if thumbnail>
      <td>
      <a href="" title="<tmpl_lang Preview> <tmpl_var escape=html title>" class="media-preview-link" name="media_<tmpl_var escape=html media_id>"><img alt="" src="<tmpl_var escape=html thumbnail>" class="thumbnail"></a>
      </td>
    </tmpl_if>

    <td><tmpl_var date escape=html></td>

    <td class="tick l"><tmpl_if may_edit>
      <tmpl_var checkbox_column>
    </tmpl_if></td>
    </tr>
  </tmpl_loop></tbody>

  </table>
  </div>

  <tmpl_include HTMLPager/<tmpl_lang en>/pager-pagination.tmpl>

  <div class="panel capped clearfix buttonbar">
  <ul class="east">
  <li><input value="<tmpl_lang Delete>" onclick="delete_checked()" type="button" class="list-btn"></li>
  <tmpl_if desk_loop>
   <li class="menu">
    <input value="<tmpl_lang Check In To> &#9660;" type="button" class="no-action list-btn">
    <ul>
    <tmpl_loop desk_loop>
      <li>
        <a href="#" onclick="checkin_checked(<tmpl_var choice_desk_id escape=html>);">
        <tmpl_var choice_desk_name escape=html> <tmpl_lang Desk></a>
      </li>
    </tmpl_loop>
    </ul>
   </li>
  </tmpl_if>
  <tmpl_if may_publish>
    <li><input value="<tmpl_lang Publish>" onclick="publish_checked()" type="button" class="list-btn"></li>
  </tmpl_if>
  </ul>
  </div>

  </form>

  <form name="publish_story_form" id="publish_story_form" action="publisher.pl">
  <input name="rm" value="publish_story" type="hidden">
  <input name="story_id" value="" type="hidden">
  </form>

  <form name="publish_media_form" id="publish_media_form" action="publisher.pl">
  <input name="rm" value="publish_media" type="hidden">
  <input name="media_id" value="" type="hidden">
  </form>

</tmpl_unless>

<!-- tooltips for media previews: -->
<div id="tooltip"><img id="tooltip-img" src="<tmpl_var static_url>/images/icon-loading-small.gif" /></div>
<img id="tooltip-pointer" src="<tmpl_var static_url>/images/tooltip_arrow.gif" />
<!-- :tooltips for media previews -->

<tmpl_include footer.tmpl>

