<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
  Krang.Help.set( 'preference' );
} );

update_prefs = function() {
    Krang.Form.submit('edit_pref_form', {}, { to_top : false });
}
</script>

<h2>
Preferences
</h2>

<form name="edit_pref_form" action="my_pref.pl" method="post">

<input name="rm" value="update_prefs" type="hidden">
<tmpl_if password_only>
  <input name="password_only" value="1" type="hidden">
</tmpl_if>

<div class="table-container">
<img src="/static/<tmpl_var krang_install_id>/images/corner-top-left.gif" class="left-corner">
<img src="/static/<tmpl_var krang_install_id>/images/corner-top-right.gif" class="right-corner">
<table cellspacing="0" class="props" summary="">

<colgroup>
<col class="c-label">
<col>
</colgroup>

<thead>
<tr>
<th class="f l" colspan="2">Preferences</th>
</thead>

<tbody>

<tmpl_unless password_only>
  <tr>
  <td class="f">Search Results per Page</td>
  <td class="l">
  <tmpl_var search_results_selector>
  </td>
  </tr>

  <tr class="evden">
  <td class="f">Autocomplete Searches?</td>
  <td class="l"><tmpl_var use_autocomplete_selector></td>
  </tr>

  <tr>
  <td class="f">Timeout for Messages</td>
  <td class="l">
  <tmpl_var message_timeout_selector>
  seconds
  </td>
  </tr>

  <tmpl_if multi_lang>
  <tr>
  <td class="f">Select Language:</td>
  <td class="l"><tmpl_var language_selector></td>
  </tr>
  </tmpl_if>
</tmpl_unless>

<tr class="evedn">
<td class="f">Change Account Password</td>
<td class="l">
<input name="new_password" type="password">
(new password)
<br>
<input name="new_password_repeat" type="password">
(repeat)
</td>
</tr>

<tr class="evedn">
<td class="f l" colspan="2">
Password must be at least 8 characters long and include at least one number and one symbol.
</td>
</tr>

</tbody>

</table></div>

<div class="panel capped">
<input value="Update Preferences" type="button" onclick="update_prefs()">
</div>

</form>

<tmpl_include footer.tmpl>

