/*** default text setup ***/
body {
  background-color: #FFFFFF;
  color:            #333333;
  font-family:      Verdana,Helvetica,Arial,sans-serif;
  font-size:        12px;
}

td, th {
  font-family:      Verdana,Helvetica,Arial,sans-serif;
  font-size:        12px;
}

/*** default link styles ***/
a:link { 
  color:            #05034c;
}
a:visited { 
  color:            #05034c;
}
a:active {
  color:            #98ccfe;
}

/*** generic style palette ***/
.light { 
  background-color: #dbe9f4;
  color:            #333333;
}

.dark { 
  background-color: #04044c;
  color:            #dceaf5;
}

.bright {
  background-color: #98ccfe;
  color:            #333333;
}


.line {
  color:            #bababa;
  background-color: #bababa;
}

.darkborder {
  color:            #bababa;
  background-color: #bababa;
}

/*** Colored UI elements ***/
.light-bar { 
  background-color: #dbe9f4;
  color:            #333333;
  padding:          4px;
  height:           12px;
}

.light-bar .left {
  width:            49%;
  float:            left;
  text-align:       left; 
}

.light-bar .right {
  width:            49%;
  float:            right;
  text-align:       right;
}

.dark-bar { 
  background-color: #04044c;
  color:            #dbeaf5;
  padding:          4px;
  height:           20px;
  font-weight:      bold;
  font-family:      Verdana,Helvetica,Arial,sans-serif;
  font-size:        12px;
}

.dark-bar2 { 
  background-color: #04044c;
  color:            #dbeaf5;
  padding:          4px;
  height:           20px;
  font-weight:      bold;
  font-family:      Verdana,Helvetica,Arial,sans-serif;
  font-size:        12px;
  width: 580px;
}

.dark-bar .left {
  width:            49%;
  float:            left;
  text-align:       left; 
}

.dark-bar .right {
  width:            49%;
  float:            right;
  text-align:       right;
}

.dark-bar .right a { 
  color:            #FFFFFF;
}
.dark-bar .right a:link { 
  color:            #FFFFFF;
}
.dark-bar .right a:visited { 
  color:            #FFFFFF;
}
.dark-bar .right a:active {
  color:            #FFFFFF;
}

.dark-bar a { 
  color:            #FFFFFF;
}
.dark-bar a:link { 
  color:            #FFFFFF;
}
.dark-bar a:visited { 
  color:            #FFFFFF;
}
.dark-bar a:active {
  color:            #FFFFFF;
}

.button-bar {
  background-color: #98ccfe;
  color:            #333333;
  text-align:       right;
  padding:          3px;
  margin-top:       10px;
}

.button-bar input {
  margin-left:      15px;
}

.box {
  padding:          3px;
}

.form-head-thin {
  background-color: #dbe9f4;
  color:            #333333;
  border-top:       1px solid #bababa;
  border-bottom:    1px solid #bababa;
}

.form-head-thin td {
  border-top:       1px solid #bababa;
  border-bottom:    1px solid #bababa;
}

.form-head {
  background-color: #dbe9f4;
  color:            #333333;
  border-top:       1px solid #bababa;
  text-align:       left;
  padding-left:     4px;
  padding-right:    4px;
  font-weight:      bold; 
}

.form-head td {
  border-top:       1px solid #bababa;
}

.form-head th {
  border-top:       1px solid #bababa;
}

.form-cell {
  border:         1px solid #bababa;
  border-collapse:collapse;
  padding:        4px;
  vertical-align: top;
}

.form-box {
  border:         1px solid #bababa;
  padding:        5px;
}

.form-box-large {
  border:         1px solid #bababa;
  padding-top:    5px;
  padding-bottom: 5px;
  padding-left:   15px;
  padding-right:  15px;
}

.tight-form-box {
  border:         1px solid #bababa;
}

.alert {
  color:          red;
  font-weight:    bold;
}

.no-border {
  padding-top:    2px;
  padding-bottom: 2px;
  padding-left:   8px;
  padding-right:  10px;
}

.vs {font-size: 5px;}

/*** prettier buttons ***/
.button {
   background-color: #FFFFFF;
   color:            #003466;
   font-family:      Verdana,Helvetica,Arial,sans-serif;
   font-size:        12px;
}

/*** form field classes ***/
.invalid { 
    background-color: #FFFF99 
}
.invalid textarea { 
    background-color: #FFFF99 
}
.invalid input    { 
    background-color: #FFFF99
}
.invalid select   {
    background-color: #FFFF99 
}

/*** navbar styles ***/
.nav1 {
  background-color: #04044c;
  color:            #dceaf5;
  padding:          2px;
  height:           14pt;
}

.nav1 a { 
  color:            #FFFFFF;
}

.nav1 a:link { 
  color:            #FFFFFF;
}
.nav1 a:visited { 
  color:            #FFFFFF;
}
.nav1 a:active {
  color:            #FFFFFF;
}

.nav2 {
  background-color: #dbe9f4;
  color:            #333333;
  padding-left:     10px;
  padding-top:      1px; 
  padding-bottom:   1px;
  margin-top:       2px;
}

.nav2-leaf {
  background-color: #ffffff;
  color:            #333333;
  padding-left:     10px;
  padding-top:      1px; 
  padding-bottom:   1px;
}

.nav3 {
  padding-left:     20px;
  padding-top:      1px;
  padding-bottom:   1px;
}

.nav4 {
  padding-left:     30px;
  padding-top:      1px;
  padding-bottom:   1px;
}

/*** Category Chooser Styles ***/
.hpts-outer {
     visibility:       hidden;
     position:         absolute;
     top:              0px;
     left:             0px;
     border:           2px outset #333333;
     background-color: #ffffff;
}

.hpts-inner {
     overflow:         scroll;
     width:            225px;
     height:           200px;
}

.hpts-title {
     padding:          2px;
     margin-bottom:    4px;     
     background-color: #04044c;
     color:            #dceaf5;
     width:            225px;
}

.hpts-block {
     margin-left:      24px;
     display:          none;
}

.hpts-bbar {
    background-color: #98ccfe;
    color:            #333333;
    text-align:       right;
    padding:          3px;
    margin-top:       10px;
}

.hpts-button {
     margin-left:      15px;
     background-color: #ffffff;
     color:            #000000;
}

.hpts-label-selected {
     background:       #98ccfe;
}

.hpts-label-unselected {
     background:       #ffffff;
}
