<tmpl_include header.tmpl>

<form method=post>
<tmpl_var top_level_select> <input type=submit value="Create">
<input type=hidden name=e_rm value=create>
</form>

<script language=javascript>
   function edit (id) {
     document.edit_form.e_rm.value = "edit";
     document.edit_form.root_id.value = id;
     document.edit_form.submit();
   }
</script>

<form name=edit_form method=post>
   <input type=hidden name=e_rm>
   <input type=hidden name=root_id>

<table border=1 bgcolor=777777 width=80% cellpadding=3>
  <tr>
    <th bgcolor=D5E5FF width=10%>ID</th>
    <th bgcolor=DDEEFF width=70%>Element Class</th>
    <th bgcolor=E5F5FF width=20%>&nbsp;</th>
  </tr> 
<tmpl_loop element_loop>
<tr>
<td bgcolor=CCDDEE align=right valign=top><tmpl_var element_id></td>
<td bgcolor=DDEEFF align=left valign=top><tmpl_var name></td>
<td bgcolor=E5F5FF align=center valign=top><input type=button onClick="edit(<tmpl_var element_id>)" value="Edit"></td>
</tr>
</tmpl_loop>
</table>
</form>

<tmpl_include footer.tmpl>

