<tmpl_include header.tmpl>

<script language=javascript>
  function edit_children(p) {
        document.editor.e_rm.value = 'save_and_jump';
        document.editor.jump_to.value = p;
        document.editor.submit();
  }

  function add_child() {
     document.editor.e_rm.value = 'add';
     document.editor.submit();
  }

  function jump_to(p) {
     document.editor.e_rm.value = 'save_and_jump';
     document.editor.jump_to.value = p;
     document.editor.submit();
  }

  function cancel_edit() {
        if (confirm("Really cancel changes?")) {
           document.editor.e_rm.value = 'cancel';
           document.editor.submit();
        }
  }

  function save() {
        document.editor.e_rm.value = 'save';
        document.editor.submit();
  }

  function save_and_stay() {
        document.editor.e_rm.value = 'save_and_stay';
        document.editor.submit();
  }

  function remove_children() {
        if (confirm("Really delete sub-elements?")) {
           document.editor.e_rm.value = 'delete_children';
           document.editor.submit();
        }
  }


  function remove() {
        if (confirm("Really delete this element?")) {
           document.editor.e_rm.value = 'delete';
           document.editor.submit();
        }
  }

  function reorder() {
        document.editor.e_rm.value = 'reorder';
        document.editor.submit();
  }
</script>

<tmpl_if alert><div class=alert><tmpl_var alert></div></tmpl_if>

<p><tmpl_loop crumbs><tmpl_if __last__><tmpl_var name><tmpl_else><a href='javascript:jump_to("<tmpl_var path>")'><tmpl_var name></a> >> </tmpl_if></tmpl_loop></p>

<form name=editor method=post>
  <input type=hidden name=e_rm>
  <input type=hidden name=path value="<tmpl_var path>">
  <input type=hidden name=jump_to>

<div class=form-box>

Content<br>
<table border=0 width=100% cellpadding=0 cellspacing=0>
  <tr class=form-head>
    <td width=20%>             Element</td>
    <td width=40%>             Data Entry</td>
    <td width=20% align=center>Order</td>
    <td width=20% align=center><input type=checkbox onclick="checkall()"></td>
  </tr> 

 <tmpl_loop child_loop>
  <tr>

    <td align=left class="form-cell">
      <tmpl_if required>*</tmpl_if><tmpl_var name>
    </td>

    <td align=left class="form-cell">
      <tmpl_if is_container><input type=button value=Edit onClick='edit_children("<tmpl_var path>")'>&nbsp;</tmpl_if>
      <tmpl_if invalid><span class="invalid"></tmpl_if>
        <tmpl_var form>
      <tmpl_if invalid></span></tmpl_if>
    </td>

    <td align=center class="form-cell">
         <tmpl_var order_select>
    </td>

    <td align=center class="form-cell">
      <tmpl_if allow_delete><input type=checkbox name=remove_<tmpl_var index>><tmpl_else>&nbsp;</tmpl_if>
    </td>

  </tr>
 </tmpl_loop>

 <tmpl_unless child_loop>
   <tr><td colspan=4>No sub-elements defined.</td></tr>
 </tmpl_unless>

   <tr><td align=left colspan=2 class="form-cell"><tmpl_var child_select> <input type=button value="Add Element" onClick='add_child()'></td>
       <td align=center class="form-cell"><input type=button value=Reorder onClick='reorder()'></td>
       <td align=center class="form-cell"><input type=button value=Delete onClick='remove_children()'></td>
   </tr>
</table>

</div>

<div class=button-bar>
  <input type=button value="Save" onClick="save()">
  <input type=button value="Save and Stay" onClick="save_and_stay()">
  <input type=reset value="Reset">
  <input type=button value="Delete" onclick="remove()">
</div>

</form>

<tmpl_include footer.tmpl>
