<tmpl_unless ajax></div>

<div id="S">
<tmpl_include /nav.tmpl>
</div>

<div style="clear: both"></div>

</div>

<div id="F"><div class="nav"><div>

<ul>
<tmpl_if cms_contact_email><li class="l">
<a href="mailto:<tmpl_var cms_contact_email>">
Contact Us
</a>
</li></tmpl_if>
</ul>

</div></div></div>

<script type="text/javascript">
Krang.load();
</script>

</body></html></tmpl_unless>

