<tmpl_unless ajax><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en-US"><head>

<title><tmpl_var escape=html krang_product_name> - <tmpl_var escape=html instance_display_name></title>
<tmpl_if Charset><meta http-equiv="Content-Type" content="text/html; charset=<tmpl_var charset>" /></tmpl_if>

<link href="<tmpl_var static_url>/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

<style type="text/css">
@import url("<tmpl_var static_url>/krang.css");
</style>

<!--[if lte IE 7]><style type="text/css">
body { position: relative; font-size: 69%; }

.enclose { zoom: 1; }
.clearfix { zoom: 1; }

#H .nav .menu a      { min-width: 6.2em; }
#H .nav #menu-help a { min-width: 9.4em; }

#F .nav li { display: inline; }
#F .nav a  { display: inline-block; }

#C .tabs      { cursor: default; }
#C .tabs li   { display: inline; }
#C .tabs li * { display: inline-block; }
</style><![endif]-->

<!--[if lt IE 7]><style type="text/css">
#H .nav              { width: 780px; }
#H .nav li.l         { display: inline; }
#H .nav a, #H .nav b { float: left; }
#H .nav .over ul     { left: -1px; z-index: 32767; }
#H .nav .menu li     { width: auto; }
#H .nav .menu a      { clear: left; width: 6.2em; }
#H .nav #menu-help a { width: 9.4em; }

#F .nav { overflow-y: hidden; }

#S { height: 420px; }

#M { height: 1%; }

#C { display: inline; margin-left: 19px; }

#C .tabs { white-space: normal; height: 2.27em; }/*:contain overflow(db2)*/

div.autocomplete { height: expression( ( this.scrollHeight > 154 ) ? '154px' : 'auto' ); }

#indicator { position: absolute; top: expression( ( ie6_throbber_top = document.documentElement.scrollTop + document.documentElement.clientHeight - this.clientHeight - 2 ) + 'px' ); left: expression( ( ie6_throbber_left = 0 - document.documentElement.clientLeft - document.body.offsetLeft ) + 'px' ); height: auto; padding: 1em; }

.krang-slider { position: absolute; top: expression( ( ie6_slider_top = document.documentElement.scrollTop ) + 'px' ); }
.krang-slider .content, #modal_container .content { height: expression( ( ( this.scrollHeight < 60 ) ? 60 : ( this.scrollHeight > 314 ) ? 314 : this.scrollHeight ) + 'px' ); }

.buttonbar input { display: inline; }
.buttonbar .menu input { display: block; padding: .1em 0; }
#C table .buttonbar .button { margin: 4px 0 0 0; }
#C table .buttonbar .menu .button { margin: 4px 4px 0 0; }
</style><![endif]-->

<!--[if IE 7]><style type="text/css">
/* fix for "stickiness" in IE7 */
.buttonbar ul li:hover, .buttonbar ul li.over { background-position: 0 0; }
#C td .buttonbar ul li:hover, #C td .buttonbar ul li.over { background-position: 0 0; }
</style><![endif]-->

<!--[if IE 8]><style tyle="text/css">
/* IE8 ignores <wbr> tags so we need to combine them with <span class="wbr"> to get the same effect in all browsers */
.wbr:before { content: "\200B" }
/* IE8 has a problem with the logo image and it tries to put a background color on it when hovering
#logo_link { background-color: inherit }
</style><![endif]-->

<tmpl_if language_specific_css><tmpl_var language_specific_css></tmpl_if>

<tmpl_if custom_css>
<tmpl_var custom_css>
</tmpl_if>

<link rel="stylesheet" type="text/css" href="/poortext/css/poortext.css">

<tmpl_if browser_speed_boost>
  <script src="<tmpl_var static_url>/js/combined.<tmpl_lang en>.js" type="text/javascript"></script>
<tmpl_else>
  <script src="<tmpl_var static_url>/js/calendar.js" type="text/javascript"></script>
  <script src="<tmpl_var static_url>/js/calendar-<tmpl_lang en>.js" type="text/javascript"></script>
  <script src="<tmpl_var static_url>/js/prototype.js" type="text/javascript"></script>
  <script src="<tmpl_var static_url>/js/scriptaculous.js" type="text/javascript"></script>
  <script src="<tmpl_var static_url>/js/control.modal.js" type="text/javascript"></script>
  <script src="<tmpl_var static_url>/js/behaviour.js" type="text/javascript"></script>
  <script src="<tmpl_var static_url>/js/lexicon.<tmpl_lang en>.js" type="text/javascript"></script>
  <script src="<tmpl_var static_url>/js/krang.js" type="text/javascript"></script>
  <script src="<tmpl_var static_url>/js/popup_tree_select.js" type="text/javascript"></script>
  <script src="<tmpl_var static_url>/js/cropper.js" type="text/javascript"></script>
</tmpl_if>
<!--<script src="/js/firebug/firebug.js" type="text/javascript"></script>-->
<script src="<tmpl_var static_url>/codepress/codepress.js" type="text/javascript"></script>

<script type="text/javascript">
Krang.instance = '<tmpl_var escape=js instance_display_name>';
Krang.Instance.set('<tmpl_var escape=js instance>');
Krang.Window.init();
</script>

</head><body>
<div id="B">
<div id="indicator" style="display:none">
<img alt="" src="<tmpl_var static_url>/images/indicator_small_bluebg.gif">
<tmpl_lang Loading>&hellip;
</div>

<a href="#error_msg" id="error_msg_trigger" style="display:none">Ignoreme</a>
<div id="error_msg" style="display:none">
<div class="content">
<tmpl_lang Looks like a little bug (probably an Internal Server Error).>
<tmpl_unless enable_bugzilla>
  <tmpl_lang Contact your System Administrator if this problem continues.>
<tmpl_else><tmpl_unless bug_page>
  <p>
  <a href="bug.cgi"><tmpl_lang Report this bug></a>.
  </p>
</tmpl_unless></tmpl_unless>
</div>
<div class="control">
<form>
<input value="<tmpl_lang OK>" onclick="Krang.Error.close()" type="button" class="button">
</form>
</div>
</div>

<div id="messages" class="krang-slider" style="display:none;"><div class="wrapper">
<div class="content"></div>
<div class="button-bar">
<form>
<input value="<tmpl_lang Close>" onclick="Krang.Messages.hide('messages')" type="button" class="button">
</form>
</div>
</div></div>

<div id="alerts" class="krang-slider" style="display:none;"><div class="wrapper">
<div class="content"></div>
<div class="button-bar">
<form>
<input value="<tmpl_lang Close>" onclick="Krang.Messages.hide('alerts')" type="button" class="button">
</form>
</div>
</div></div>

<script type="text/javascript">
// Safari needs the position:fixed to inline on the element
// but IE6 won't function properly if it is. Firefox behaves
// like it should
if( Prototype.Browser.WebKit ) {
    $('messages').style.position = 'fixed';
    $('alerts').style.position = 'fixed';
}
</script>

<div id="H">

<h1><a title="<tmpl_lang About> <tmpl_var escape=html krang_product_name>" href="about.pl" class="popup small" id="logo_link"><!--
--><img alt="<tmpl_var escape=html krang_product_name>" src="<tmpl_var static_url>/images/logo-cms.jpg" height="90" width="180"><!--
--></a></h1>

<div id="instance_logo"></div>

<div class="nav"><ul>

<li class="l"><a href="javascript:Krang.Window.log_out()">
<tmpl_lang Log Out></a>
<li>

<li id="menu-help" class="menu"><b>
<tmpl_lang Help>
</b><ul>

<li><a href="javascript:Krang.Help.go('introduction')">
<tmpl_lang Getting Started>
</a></li>

<li class="l"><a href="javascript:Krang.Help.go()">
<tmpl_lang Help with this Page>
</a></li>

</ul></li>

<li><a href="workspace.pl" target="_blank">
<tmpl_lang New Window>
</a></li>

<li><a href="javascript:Krang.Nav.goto_url('workspace.pl')">
<tmpl_lang Workspace>
</a></li>

<li class="menu"><b>
<tmpl_var escape=html header_user_name>
</b><ul>

<li><a href="javascript:Krang.Nav.goto_url('my_pref.pl')">
<tmpl_lang Preferences>
</a></li>

<li class="l"><a href="javascript:Krang.Nav.goto_url('my_alerts.pl')">
<tmpl_lang Alerts>
</a></li>

</ul></li>

</ul></div>

</div>

<div id="M">

<div id="C"></tmpl_unless>

<tmpl_include messages.tmpl>
