<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html401/loose.dtd">

<html>
<head>
<title><tmpl_var header_instance_name> CMS</title>
<script language="JavaScript" type="text/javascript">
function openWin(url){  aWindow=window.open(url,"thewindow","width=500,height=600,left=300,top=0,status=no,toolbar=no,menubar=no,scrollbars=yes,location=no,directories=no,resizable=no");
}
</script>
<link rel="stylesheet" href="/krang.css" type="text/css">
</head>
<body>
<div id="frame">
<div id="header"><div class="logo"><img src="/images/logo.png" height="27" width="155" alt="logo"></div>
<div class="title"><tmpl_var header_instance_name></div>
<div class="log">Logged In as: <tmpl_var header_user_name> | <a href="login.pl?rm=logout">Log Out</a></div>
<div class="dkblu"></div>
<div class="blue"></div></div>

<div id="left-nav">
<tmpl_include /nav.tmpl>
<div id="space">&nbsp;</div>
<div id="content">

<tmpl_loop header_message_loop>
  <div class="alert">* <tmpl_var message></div>
</tmpl_loop>