<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html401/loose.dtd">

<html>
<head>
<title><tmpl_var header_instance_name> CMS</title>
<script language="JavaScript" type="text/javascript">
openWin = function (url){  
   aWindow=window.open(url,"thewindow","width=500,height=500,left=200,top=0,status=no,toolbar=no,menubar=no,scrollbars=yes,location=no,directories=no,resizable=no");
   aWindow.focus();
}
</script>
<link rel="stylesheet" href="krang.css" type="text/css">
</head>
<body>
<div id="frame">
<div id="header"><div class="logo"><a href="javascript:openWin('about.pl')"><img src="images/logo.gif" height="27" width="155" alt="logo" border="0"></a></div>
<div class="title"><tmpl_var header_instance_name></div>
<div class="log">Logged In as: <tmpl_var header_user_name> | <a href="login.pl?rm=logout">Log Out</a></div>
<div class="dkblu"></div>
<div class="blue"></div></div>

<div id="left-nav"><tmpl_include /nav.tmpl></div>
<div id="content">

<tmpl_loop header_message_loop>
  <div class="alert">* <tmpl_var message></div>
</tmpl_loop>
