<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en-US"><head>

<title>Welcome To <tmpl_var escape=html krang_product_name></title>

</head><body>

<h1>
Welcome
</h1>

<p>
This is the menu of available instances <tmpl_var escape=html krang_product_name> serves.
Select any instance listed below to begin work.
</p>

<ul>

<tmpl_loop instance_loop><li>
  <a href="/<tmpl_var escape=url InstanceName>/"><tmpl_var escape=html InstanceDisplayName></a>
</li></tmpl_loop>

</ul>

</body></html>

