body          { background: #FFF; color: #000; margin: 0; padding: 0; font: 11px/1 "Helvetica Neue",arial,helvetica,sans-serif; }
h2, h3, p, ul { margin: 20px 20px 0; }
h2, h3        { background: inherit; color: #369; font-weight: normal; font-family: Georgia,serif; text-transform: uppercase; }
p, ul         { margin-top: 0; line-height: 1.5; }
h2            { border-bottom: thin solid #CEE7FF; font-size: 2.72em; letter-spacing: 1px; word-spacing: 3px; }
h3            { font-size: 1.27em; }
ul            { list-style: none; padding: 0; }
#H            { background-image: url('/static/<tmpl_var krang_install_id>/images/help-bkg-header.jpg'); width: 100%; height: 45px; border-bottom: 2px solid <tmpl_var DarkColor>; margin: 0 0 1em; }

