body         { background: <tmpl_var BackgroundColor>; color: <tmpl_var TextColor>; margin: 0 0 2em; padding: 0; font: 12px sans-serif; }
a, a:visited { background: inherit; color: <tmpl_var link_color>; font-weight: bold; }
h2           { background: #b4cf66; color: #3c6731; margin: 0 0 1.5em; border: thin solid #3c6731; border-width: thin 0; border-top: 0; padding: .25em .5em; font: bold 14px/1 sans-serif; }
h3           { margin: 1.5em 0; border-bottom: thin solid <tmpl_var BorderColor>; font: bold 12px/1 sans-serif; }
p            { margin: 1.5em 0; line-height: 1.25; }
p.note       { background: #FFC; color: #333; border: thin solid <tmpl_var BorderColor>; padding: .25em; }
ul,ol        { margin: 1.5em 0; padding: 0 1.75em; }
li           { margin: .5em 0; }
dl           { margin: 1.5em 0; line-height: 1.25; }
dt           { float: left; clear: left; padding: 0 .5em 0 0; font-weight: bold; }
dd           { margin: .5em 0; }
p.note       { border: 1px solid <tmpl_var DarkColor>; background: <tmpl_var LightColor>; padding: 4px; }
#F           { margin: 2em 1em; text-align: right; }
#H           { background-image: url('/images/help-bkg-header.jpg'); width: 100%; height: 45px; border-bottom: 2px solid <tmpl_var DarkColor>; margin: 0 0 1em; }
#C           { margin: 0 2em 0 2em; }

