/*** Separate CSS file for help files not using the background image ***/

/*** Help Styles ***/

body {
  background-color: <tmpl_var background_color>;
  color:            <tmpl_var text_color>;
  font-family:      Verdana,Helvetica,Arial,sans-serif;
  font-size:        11px;
  margin-top:       10px;
  margin-left:      auto;
  margin-right:     auto;
  text-align:       center;
}

#hheader {
  width:            460px;
  height:           47px; 
  background-color: <tmpl_var background_color>;
  text-align:       left;
  margin:           10px;
}

#hheader div.dkblu {	
  margin-left:      160px; 
  border-top: <tmpl_var dark_color> 1px solid;
  background-color: <tmpl_var background_color>;  
  height:           1px;
  width:            300px; 
}

#hheader div.blue { 
  height:          14px;  
  background-color: <tmpl_var light_color>;
  width: 460px;
}	

#hheader div.dark-bar {  
  background-color: <tmpl_var dark_color>;
  color:            <tmpl_var light_text_color>;  
  margin-top:       10px;
  padding:          4px 4px 0px 4px;
  height:           20px;
  font-weight:      bold;
  font-family:      Verdana,Helvetica,Arial,sans-serif;
  font-size:        12px;
  width: 453px;
  text-align:       left;
}

.dark-bar p.left {
	float:           left;
	margin: 0px;
}

.dark-bar p.right {
	float:           right;
	margin: 0px;
}

.dark-bar a { 
  color:            <tmpl_var light_text_color>;
  text-decoration:   none;
}
.dark-bar a:link { 
  color:            <tmpl_var light_text_color>;
  text-decoration:   none;
}
.dark-bar a:visited { 
  color:            <tmpl_var light_text_color>;
  text-decoration:   none;
}
.dark-bar a:active {
  color:            <tmpl_var light_text_color>;
  text-decoration:   none;
}

div.boxh {
  padding:          5px; 
  border-right:     1px <tmpl_var border_color> solid;
  border-left:      1px <tmpl_var border_color> solid;
  border-bottom:    1px <tmpl_var border_color> solid;
  width:            449px;
  text-align:       left;
}

.helptitle {
	font-weight:     bold;
	font-size:       14px;
}

.helpsub {
	font-weight:     bold;
	font-size:       11px;
}

.helpnote {
	font-style:     italic;
	font-size:       10px;	
}

.helpsubhead {
	font-style:     italic;
	font-size:       12px;	
}

a.helplink { 
  color:            <tmpl_var link_color>;
  text-decoration:  underline; 
}
a.helplink:visited { 
  color:            <tmpl_var link_color>;
  text-decoration:  underline;
}
a.helplink:active {
  color:            <tmpl_var bright_color>;
  text-decoration:  underline;
} 
#hfooter {
	background-color: transparent;
   color:            <tmpl_var text_color>;
	width:            461px;
	margin-top:        10px;
  text-align:       left;
}
#hcopy {
	background-color: <tmpl_var light_color>;
   color:            <tmpl_var text_color>;
	padding-top:      4px;
	padding-bottom:   4px;
	width:            460px;
	font-size:         10px;  
	text-align:       left;
}
