<html>
<head><title>Krang Login</title></head>
<body>
<form method=post>
<h1>Krang Login</h1>
<tmpl_if alert><font color=red><b><tmpl_var alert></b></font><p></tmpl_if>
Username: <input type=text name=username value="<tmpl_var username>"><br>
Password: <input type=password name=password>
<p>
<input type=hidden name=rm value=login>
<input type=hidden name=target value="<tmpl_var escape=html target>">
<input type=submit value="Login">
</form>
</body>
</html>
