<!--Krang::Navigation:-->
<tmpl_var nav_content>
<!--:Krang::Navigation-->

<!-- Attach the trashbin -->
<tmpl_unless hide_trashbin>
  <div><h2 class="trash"><span><a href="trash.pl" class="nav_link"><tmpl_lang Trash></a></span></h2></div>
</tmpl_unless>

<script type="text/javascript">
new Krang.Navigation();
</script>

