<tmpl_include header.tmpl>

<div class="dark-bar"><p class="left">&nbsp;<tmpl_if story_id>Story</tmpl_if><tmpl_if media_id>Media</tmpl_if><tmpl_if template_id>Template</tmpl_if> Log</p><p class="right"><a href="javascript:openWin('help.pl?topic=log')">Help</a>&nbsp;</p></div>
<div class="box">
<input type="hidden" name="rm" value="find">

<tmpl_var pager_html>
    </div>

<div class=button-bar>
  <input type=button value="Return" onclick="document.return_form.submit()" class="button">&nbsp;
</div></div>

<form name=return_form action=<tmpl_var return_script> method=post>
  <tmpl_var return_hidden>
</form>
</div>
<tmpl_include footer.tmpl>
