h1 { 
  background-color: #5a6952;
  color:            #e6eacd;
  padding:          4px 4px 0px 4px;
  font-weight:      bold;
  font-family:      Verdana,Helvetica,Arial,sans-serif;
  font-size:        18px;
}

h2 {
  background-color: #acba94;
  color:            #5a695a;
  padding:          4px 4px 0px 4px;
  font-family:      Verdana,Helvetica,Arial,sans-serif;
  font-size:        14px;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

PRE     {
  font-family: monospace
  background-color: #eeeeee;
  border: 1px solid grey;
  color: #000010;
  white-space: pre;
  padding: 3px;
}

CODE {
  font-family: monospace
  color: #336699;
}


ul > li > a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
#    font-weight: bold;
    color: #5a695a;
}

a:link {
    color: #5a695a;
}

a:visited {
    color: #5a695a;
}

