body {
  font:        12px verdana,arial,helvetica,sans-serif;
}

h1, h2 {
  padding:     4px 4px 0 4px;
}

h1 { 
  background:  #5A6952;
  color:       #E6EACD;
  font-weight: bold;
  font-size:   18px;
}

h2 {
  background:  #ACBA94;
  color:       #5A695A;
  font-size:   14px;
}

pre {
  background:  #EEE;
  color:       #000010;
  border:      1px solid grey;
  padding:     3px;
  white-space: pre;
  font-family: monospace;
}

code {
  color:       #369;
  font-family: monospace;
}

ul li a {
  color:       #5A695A;
}

a:link, a:visited {
  color:       #5A695A;
}

