body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

PRE     {
  font-family: monospace
  background: #eeeeee;
  border: 1px solid grey;
  color: #000010;
  white-space: pre;
  padding: 3px;
}

CODE {
  font-family: monospace
  color: #336699;
}

h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #224488;
    font-size: 14px;

    background: #dddddd;
    padding-top: 4px;
    padding-bottom: 1px;
    padding-left: 0px;
}

h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    background: #336699;
    padding-top: 8px;
    padding-bottom: 3px;
    padding-left: 2px;
}

ul > li > a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #336699;
}

a.link {
    color:#336699;
}

