<tmpl_include /header.tmpl>


<script language="javascript" type="text/javascript">
<!-- //

    nav_edit_mode();

    /* Start Krangolage */
    function cleanOpt (field) {
        for (var i = 0; i < field.length; i++) {
            if (field[i].value == "__") {
                field[i] = null;
            }
        }
    }

    function add_group () {
        var myform = document.forms["edit_user_form"];
        var right = myform['current_group_ids'];
        var left = myform['possible_group_ids'];
        var new_left = new Array();
        new_left.length = 0;
        cleanOpt(left);

        for (var i = 0; i < left.length; i++) {
            var opt = new Option(left[i].text, left[i].value);
            if (left[i].selected) {
                right[right.length] = opt;
            } else {
                new_left[new_left.length] = opt;
            }
        }

        for (var i = 0; i < left.length; i++) {
            left[i] = null;
        }

        if (new_left.length == 0) {
            left.length = 1;
            left[0] = new Option('','__');
        } else {
            left.length = new_left.lengt;
        }

        for (var i = 0; i < new_left.length; i++) {
            left[i] = new_left[i];
        }

        cleanOpt(left);
    }

    function remove_group () {
        var myform = document.forms["edit_user_form"];
        var right = myform['current_group_ids'];
        var left = myform['possible_group_ids'];
        var new_left = new Array();
        var new_right = new Array();
        var count = 0;
        cleanOpt(left);

        for (var i = 0; i < right.length; i++) {
            var opt = new Option(right[i].text, right[i].value);
            if (right[i].selected) {
                new_left[new_left.length] = opt;
            } else {
                new_right[count++] = opt;
            }
        }

        right.length = new_right.length;

        for (var i = 0; i < count; i++) {
            right[i] = new_right[i];
        }

        for (var i = 0; i < new_left.length; i++) {
            left[left.length] = new_left[i];
        }
    }

    function get_group_ids () {
        var myform = document.forms["edit_user_form"];
        var right = myform['current_group_ids'];
        for (var i = 0; i < right.length; i++) {
	    right[i].selected = 1;
        }
    }
    /* End Krangolage */

    function save_stay () {
        var myform = document.forms["edit_user_form"];
      <tmpl_if add_mode>
        myform.rm.value = "save_stay_add";
      <tmpl_else>
        myform.rm.value = "save_stay_edit";
      </tmpl_if>
        get_group_ids();
        myform.submit();
    }


    function cancel_user_change () {
        var myform = document.forms["edit_user_form"];
      <tmpl_if add_mode>
        myform.rm.value = "cancel_add";
      <tmpl_else>
        myform.rm.value = "cancel_edit";
      </tmpl_if>
        myform.submit();
    }


    function delete_user () {
        var myform = document.forms["edit_user_form"];
        if (confirm("Are you SURE you want to delete this user?")) {
            myform.rm.value = "delete";
            myform.submit();
        }
    }

// -->
</script>


<div class="dark-bar"><p class="left">&nbsp;<tmpl_if add_mode>Add<tmpl_else>Edit</tmpl_if> User</p><p class="right"><a href="javascript:openWin('help.pl?topic=user')">Help</a>&nbsp;</p></div>


<div class="box">

<form name="edit_user_form" method="POST">
<input type="hidden" name="search_filter" value="<tmpl_var ESCAPE=HTML search_filter>">
<tmpl_if add_mode>
  <input type="hidden" name="rm" value="save_add">
<tmpl_else>
  <input type="hidden" name="rm" value="save_edit">
  <input type="hidden" name="user_id" value="<tmpl_var escape=HTML user_id>">
</tmpl_if>

<!-- Krang::HTMLPager params -->
<input type="hidden" name="krang_pager_curr_page_num" value="<tmpl_var ESCAPE=HTML krang_pager_curr_page_num>">
<input type="hidden" name="krang_pager_show_big_view" value="<tmpl_var ESCAPE=HTML krang_pager_show_big_view>">
<input type="hidden" name="krang_pager_sort_field" value="<tmpl_var ESCAPE=HTML krang_pager_sort_field>">
<input type="hidden" name="krang_pager_sort_order_desc" value="<tmpl_var ESCAPE=HTML krang_pager_sort_order_desc>">

<table border="0" cellpadding="5" cellspacing="0" width="100%">
<tr>
    <td align="left" valign="bottom" width="130">First Name:</td>
    <td align="right" valign="top" width="150"><tmpl_if error_invalid_first_name><span class="invalid"></tmpl_if><tmpl_if duplicate_first_name><span class="invalid"></tmpl_if><input type="text" size="20" name="first_name" value="<tmpl_var escape=HTML first_name>"><tmpl_if error_invalid_first_name></span></tmpl_if><tmpl_if duplicate_first_name></span></tmpl_if></td><td width="70">&nbsp;</td><td width="150">&nbsp;</td><td>&nbsp;</td>
</tr>

<tr>
    <td align="left" valign="bottom">Last Name:</td>
    <td align="right" valign="top"><tmpl_if error_invalid_last_name><span class="invalid"></tmpl_if><tmpl_if duplicate_last_name><span class="invalid"></tmpl_if><input type="text" size="20" name="last_name" value="<tmpl_var escape=HTML last_name>"><tmpl_if error_invalid_last_name></span></tmpl_if><tmpl_if duplicate_last_name></span></tmpl_if></td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>

<tr>
    <td align="left" valign="bottom">Email:</td>
    <td align="right" valign="top"><tmpl_if error_invalid_email><span class="invalid"></tmpl_if><input type="text" size="20" name="email" value="<tmpl_var escape=HTML email>"><tmpl_if error_invalid_email></span></tmpl_if></td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>

<tr>
    <td align="left" valign="bottom">Phone:</td>
    <td align="right" valign="top"><input type="text" size="20" name="phone" value="<tmpl_var escape=HTML phone>"></td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>

<tr>
    <td align="left" valign="bottom">Mobile Phone:</td>
    <td align="right" valign="top"><input type="text" size="20" name="mobile_phone" value="<tmpl_var escape=HTML mobile_phone>"></td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
  <td align="left" valign="bottom"><span style="font=size: larger;">Groups:</span></td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
  <td align="left" valign="top">Available:</td>
  <td align="right" valign="top"><select name="possible_group_ids" size="<tmpl_var size>" multiple="multiple" style="width: 142px;">
	<tmpl_loop possible_group_ids><option value="<tmpl_var id>"><tmpl_var name></option>
	</tmpl_loop>
	</select></td>
        <td valign="top" align="center">Current:</td>
        <td align="right" valign="top">
<tmpl_if error_missing_group><span class="invalid"></tmpl_if>
<tmpl_if error_null_group><span class="invalid"></tmpl_if>
<tmpl_if error_invalid_group_id><span class="invalid"></tmpl_if>
<select name="current_group_ids" size="<tmpl_var size>" multiple="multiple" style="width: 142px;">
	<tmpl_loop current_group_ids><option value="<tmpl_var id>"><tmpl_var name></option>
	</tmpl_loop>
	</select>
<tmpl_if error_null_group></span></tmpl_if>
<tmpl_if error_invalid_group_id></span></tmpl_if>
<tmpl_if error_missing_group></span></tmpl_if></td>
      </tr>
		<tr><td>&nbsp;</td><td align="right"><input name="add_grp" onClick="add_group();" type="button" value="Add" class="button"></td><td>&nbsp;</td><td align="right"><input name="rm_grp" onClick="remove_group();" type="button" value="Remove" class="button"></td><td>&nbsp;</td></tr>

<tr>
    <td align="left" valign="bottom">User Name:</td>
    <td align="right" valign="top"><tmpl_if error_login_length><span class="invalid"></tmpl_if><tmpl_if duplicate_login><span class="invalid"></tmpl_if><tmpl_if error_invalid_login><span class="invalid"></tmpl_if><input type="text" size="20" name="login" value="<tmpl_var escape=HTML login>"><tmpl_if error_invalid_login></span></tmpl_if><tmpl_if duplicate_login></span></tmpl_if><tmpl_if error_login_length></span></tmpl_if></td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>

<tr>
    <td align="left" valign="bottom"><tmpl_if add_mode></tmpl_if>Password:</td>
    <td align="right" valign="top"><tmpl_if error_password_length><span class="invalid"></tmpl_if><tmpl_if error_null_password><span class="invalid"></tmpl_if><tmpl_if error_password_mismatch><span class="invalid"></tmpl_if><input type="password" size="20" name="new_password" value="<tmpl_var new_password>"><tmpl_if error_password_mismatch></span></tmpl_if><tmpl_if error_null_password></span></tmpl_if><tmpl_if error_password_length></span></tmpl_if></td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>

<tr>
    <td align="left" valign="bottom"><tmpl_if add_mode></tmpl_if>Repeat Password:</td>
    <td align="right" valign="top"><tmpl_if error_password_length><span class="invalid"></tmpl_if><tmpl_if error_null_password><span class="invalid"></tmpl_if><tmpl_if error_password_mismatch><span class="invalid"></tmpl_if><input type="password" size="20" name="confirm_password" value="<tmpl_var confirm_password>"><tmpl_if error_password_mismatch></span></tmpl_if><tmpl_if error_null_password></span></tmpl_if><tmpl_if error_password_length></span></tmpl_if></td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
</table>
</div>

<div class="button-bar">
    <input type="submit" onClick="get_group_ids()" value="Save" class="button">
    <tmpl_unless associate_mode><input type="button" value="Save &amp; Stay" onClick="save_stay()" class="button"></tmpl_unless>
    <input type="reset" value="Reset" class="button">
    <tmpl_unless add_mode><input type="button" value="Delete" onClick="delete_user()" class="button"></tmpl_unless>
    <input type="button" value="Cancel" onClick="cancel_user_change()" class="button">
</div>


<!-- End edit_user_form -->
</form>
</div>

<tmpl_include /footer.tmpl>
