<tmpl_include header.tmpl>

<script type="text/javascript">
Krang.onload( function() {
  Krang.Nav.edit_mode();
  Krang.Help.set( 'user' );
} );

// BEGIN Krangolage: ------------------------------------------------------
swap_options = function( f, s, t )
{
  var FORM   = document.forms[ f ];
  var SOURCE = FORM[ s ];
  var TARGET = FORM[ t ];

  if ( SOURCE.selectedIndex != -1 )
  {
    var tmpArr = new Array();    //:IE doesn't do direct reassignment(db2)

    for ( var i = 0; i < SOURCE.options.length; i++ )
    {
      var option_clone = new Option( SOURCE.options[ i ].text, SOURCE.options[ i ].value );

      if ( SOURCE.options[ i ].selected )
        TARGET.options[ TARGET.options.length ] = option_clone;
      else
        tmpArr[ tmpArr.length ] = option_clone;
    }

    SOURCE.options.length = 0;

    if ( tmpArr.length )
      for ( var i = 0; i < tmpArr.length; i++ )
        SOURCE.options[ i ] = tmpArr[ i ];
  }
}

add_group = function()
{
  swap_options( 'edit_user_form', 'possible_group_ids', 'current_group_ids' );
}

remove_group = function()
{
  swap_options( 'edit_user_form', 'current_group_ids', 'possible_group_ids'  );
}

get_group_ids = function()    //:called only before "save" actions(db2)
{
  var right = document.forms[ 'edit_user_form' ][ 'current_group_ids' ];

  for ( var i = 0; i < right.options.length; i++ )
    right.options[ i ].selected = true;
}
// -------------------------------------------------------- :END Krangolage

do_reset = function( my_form )
{
  var POSSIBLE = my_form[ 'possible_group_ids' ];
  var pGroups  = [
  <tmpl_loop possible_group_ids>
    [ '<tmpl_var escape=js name>', '<tmpl_var escape=js id>' ]
  ,</tmpl_loop>
  ];

  var CURRENT = my_form[ 'current_group_ids' ];
  var cGroups = [
  <tmpl_loop current_group_ids>
    [ '<tmpl_var escape=js name>', '<tmpl_var escape=js id>' ]
  ,</tmpl_loop>
  ];

  var i;

  //(db2)trim array member possibly generated by trailing comma:
  if ( pGroups.length && !pGroups[ pGroups.length - 1 ] ) --pGroups.length;
  if ( cGroups.length && !cGroups[ cGroups.length - 1 ] ) --cGroups.length;

  POSSIBLE.options.length = 0;

  for ( i = 0; i < pGroups.length; i++ )
    POSSIBLE.options[ POSSIBLE.options.length ] = new Option( pGroups[ i ][ 0 ], pGroups[ i ][ 1 ] );

  CURRENT.options.length = 0;

  for ( i = 0; i < cGroups.length; i++ )
    CURRENT.options[ CURRENT.options.length ] = new Option( cGroups[ i ][ 0 ], cGroups[ i ][ 1 ] );
}

<tmpl_unless associate_mode>  //:associate_mode seems never to be set...(db2)
  save_stay = function()
  {
    get_group_ids();
    Krang.Form.submit( 'edit_user_form', { rm: 'save_stay_<tmpl_if add_mode>add<tmpl_else>edit</tmpl_if>' }, { to_top: false });
  }
</tmpl_unless>

<tmpl_unless add_mode>
  delete_user = function()
  {
    if ( confirm( Krang.L10N.loc('Are you SURE you want to delete this User?') ) )
      Krang.Form.submit('edit_user_form', { rm: 'delete' });
  }
</tmpl_unless>

cancel_user_change = function()
{
  Krang.Form.submit( 'edit_user_form', { rm: 'cancel_<tmpl_if add_mode>add<tmpl_else>edit</tmpl_if>' });
}
</script>

<h2>
<tmpl_if add_mode>
  <tmpl_lang New User>
<tmpl_else>
  <tmpl_lang Edit User>
</tmpl_if>
</h2>

<form name="edit_user_form" action="user.pl" method="post" onreset="do_reset(this)">

<input name="rm" value="save_<tmpl_if add_mode>add<tmpl_else>edit</tmpl_if>" type="hidden">
<input name="search_filter" value="<tmpl_var escape=html search_filter>" type="hidden">
<tmpl_unless add_mode>
  <input name="user_id" value="<tmpl_var escape=html user_id>" type="hidden">
</tmpl_unless>
<input name="krang_pager_curr_page_num" value="<tmpl_var escape=html krang_pager_curr_page_num>" type="hidden">
<input name="krang_pager_show_big_view" value="<tmpl_var escape=html krang_pager_show_big_view>" type="hidden">
<input name="krang_pager_sort_field" value="<tmpl_var escape=html krang_pager_sort_field>" type="hidden">
<input name="krang_pager_sort_order_desc" value="<tmpl_var escape=html krang_pager_sort_order_desc>" type="hidden">

<h3>
<tmpl_lang User Information>
</h3>

<table class="request" summary="">

<colgroup>
<col class="c-label">
<col>
</colgroup>

<tbody class="demi">

<tr<tmpl_if error_invalid_first_name> class="err"<tmpl_else><tmpl_if duplicate_first_name> class="err"</tmpl_if></tmpl_if>>
<th><tmpl_lang First Name></th>
<td><input name="first_name" value="<tmpl_var escape=html first_name>"></td>
</tr>

<tr<tmpl_if error_invalid_last_name> class="err"<tmpl_else><tmpl_if duplicate_last_name> class="err"</tmpl_if></tmpl_if>>
<th><tmpl_lang Last Name></th>
<td><input name="last_name" value="<tmpl_var escape=html last_name>"></td>
</tr>

<tr<tmpl_if error_invalid_email> class="err"</tmpl_if>>
<th><tmpl_lang Email></th>
<td><input name="email" value="<tmpl_var escape=html email>"></td>
</tr>

<tr>
<th><tmpl_lang Phone></th>
<td><input name="phone" value="<tmpl_var escape=html phone>"></td>
</tr>

<tr>
<th><tmpl_lang Mobile Phone></th>
<td><input name="mobile_phone" value="<tmpl_var escape=html mobile_phone>"></td>
</tr>

</tbody>

</table>

<h3>
<tmpl_lang Groups>
</h3>

<table class="request" summary=""><!--:FIX(db2)-->

<colgroup>
<col class="c-mini">
<col>
<col class="c-mini">
<col>
</colgroup>

<tbody>

<tr<tmpl_if error_missing_group> class="err"<tmpl_else><tmpl_if error_null_group> class="err"<tmpl_else><tmpl_if error_invalid_group_id> class="err"</tmpl_if></tmpl_if></tmpl_if>>
<th><tmpl_lang Available></th>
<td class="full">
<select name="possible_group_ids" multiple="multiple" size="10"><tmpl_loop possible_group_ids>
  <option value="<tmpl_var escape=html id>"><tmpl_var escape=html name></option>
</tmpl_loop></select>
<br>
<input name="add_grp" value="Add" onclick="add_group()" type="button" class="button">
</td>
<th><tmpl_lang Current></th>
<td class="full">
<select name="current_group_ids" multiple="multiple" size="10"><tmpl_loop current_group_ids>
  <option value="<tmpl_var escape=html id>"><tmpl_var escape=html name></option>
</tmpl_loop></select>
<br>
<input name="rm_grp" value="Remove" onclick="remove_group()" type="button" class="button">
</td>
</tr>

</tbody>

</table>

<h3>
<tmpl_lang Login Information>
</h3>

<table class="request" summary="">

<colgroup>
<col class="c-label">
<col>
</colgroup>

<tbody class="demi">

<tr<tmpl_if error_login_length> class="err"<tmpl_else><tmpl_if duplicate_login> class="err"<tmpl_else><tmpl_if error_invalid_login> class="err"</tmpl_if></tmpl_if></tmpl_if>>
<th><tmpl_lang Username></th>
<td><input name="login" value="<tmpl_var escape=html login>"></td>
</tr>

<tr<tmpl_if error_password_length> class="err"<tmpl_else><tmpl_if error_null_password> class="err"<tmpl_else><tmpl_if error_password_mismatch> class="err"</tmpl_if></tmpl_if></tmpl_if>>
<th><tmpl_lang Password></th>
<td><input name="new_password" value="<tmpl_var escape=html new_password>" type="password"></td>
</tr>

<tr<tmpl_if error_password_length> class="err"<tmpl_else><tmpl_if error_null_password> class="err"<tmpl_else><tmpl_if error_password_mismatch> class="err"</tmpl_if></tmpl_if></tmpl_if>>
<th><tmpl_lang Repeat Password></th>
<td><input name="confirm_password" value="<tmpl_var escape=html confirm_password>" type="password"></td>
</tr>

<tr>
<td colspan="2">
<tmpl_lang Password must be at least 8 characters long and include at least one number and one symbol.>
</td>
</tr>

</tbody>

</table>

<div class="panel capped">
<input value="<tmpl_lang Cancel>" onclick="cancel_user_change()" type="button" class="west">
<input value="<tmpl_lang Reset>" type="reset" class="west">
<tmpl_unless associate_mode><!--:associate_mode seems never to be set(db2)-->
  <input value="<tmpl_lang Save &amp; Stay>" onclick="save_stay()" type="button">
</tmpl_unless>
<input value="<tmpl_lang Save>" onclick="get_group_ids()" type="submit">
<tmpl_unless add_mode>
  <input value="<tmpl_lang Delete>" onclick="delete_user()" type="button">
</tmpl_unless>
</div>

</form>

<tmpl_include footer.tmpl>

