<tmpl_if display><span id="<tmpl_var name>_id"><tmpl_if element_class_name><tmpl_var element_class_name><tmpl_else>No template selected.</tmpl_if></span></tmpl_if>
<input type=hidden id="<tmpl_if formname><tmpl_var formname>.</tmpl_if><tmpl_var field>" name="<tmpl_var field>" value="<tmpl_var element_class_name>">
<tmpl_var chooser>
<input type="button" value="Clear" class="hpts-button" onclick="<tmpl_var name>_clear_template()">

<script language="javascript">
  function <tmpl_var name>_choose_template (packed) {
     <tmpl_if display>
        var span = document.getElementById("<tmpl_var name>_id");
         span.innerHTML = packed + '.tmpl';
     </tmpl_if>
     var field = document.getElementById("<tmpl_if formname><tmpl_var formname>.</tmpl_if><tmpl_var field>");
     field.value = packed;
     <tmpl_if onchange><tmpl_var onchange>;</tmpl_if>
  }

  function <tmpl_var name>_clear_template (){ 
     <tmpl_if display>
        var span = document.getElementById("<tmpl_var name>_id");
        span.innerHTML = "No template selected.";
     </tmpl_if>
     var field = document.getElementById("<tmpl_if formname><tmpl_var formname>.</tmpl_if><tmpl_var field>");
     field.value = "";
     <tmpl_if onchange><tmpl_var onchange>;</tmpl_if>
  }
</script>
